<div class="introContainer rowContainer">
	<div class="shader"></div>
	<div class="container intro">
		<div class="icon">
			<i class="fa fa-flask"></i>
		</div>
		<h1>Prospective <span class="subtitle">36 ARCHIVO BLACK</span></h1>
		<div class="divider"></div>
		<div class="content">
			<p>16 pt arial bold with line height of 24 pt. This is what the intro paragraph to the section looks like. It can be 2 lines, 3 lines and maybe up to four if really needed....but I sincerely hope not, Jacob.</p>
		</div>
	</div>
</div>