<div class="introContainer col-lg-4 col-md-4 col-sm-12 col-xs-12">
	<div class="intro">
		<h1>College Home Page Example</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus consequat tortor, venenatis fringilla justo feugiat ut. Quisque cursus at lectus id ultrices. Suspendisse mattis fringilla mattis. Morbi tincidunt dictum dolor sit amet cursus. Nullam ultricies purus nec eleifend facilisis. Proin varius id erat a porta. Nullam pellentesque at leo eu porta.</p>
		<a href="#" class="featureLink">Feature Link</a>
		<a href="#" class="featureLink">Feature Link</a>
	</div>
</div>