<div class="monthFiltersContainer col-lg-2 col-md-2 col-sm-3 col-xs-12">
	<a class="dropdown-toggle hidden-lg hidden-md hidden-sm" data-toggle="dropdown" href="#" id="monthFilter">Filter By Month<span class="caret"></span></a>
	<ul aria-labelledby="monthFilter" class="monthFilters dropdown-menu">
	    <li><a href="#" class="monthFilter current"><span class="hiddenText">Show </span> All Events</a></li>
	    <li><a href="#" class="monthFilter"><span class="hiddenText">Show </span>October 2017<span class="hiddenText"> Events</span></a></li>
	    <li><a href="#" class="monthFilter"><span class="hiddenText">Show </span>November 2017<span class="hiddenText"> Events</span></a></li>
	    <li><a href="#" class="monthFilter"><span class="hiddenText">Show </span>December 2017<span class="hiddenText"> Events</span></a></li>
	    <li><a href="#" class="monthFilter"><span class="hiddenText">Show </span>January 2018<span class="hiddenText"> Events</span></a></li>
	    <li><a href="#" class="monthFilter"><span class="hiddenText">Show </span>February 2018<span class="hiddenText"> Events</span></a></li>	    
	</ul>
</div>