<div class="navbar goldbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="left navbar-toggle" data-target=".gold" data-toggle="collapse" type="button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				Quick Links
			</button>
			<!--<p class="quickLinkLabel">Quick Links</p>-->
			<button class="navbar-toggle search" data-target="#search" data-toggle="collapse" style="float:right;" type="button"> 
				<i class="fa fa-search fa-lg"></i>
			</button>
		</div>
		<div class="collapse navbar-collapse right search" id="search">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-search fa-lg"></i></a>
					<ul class="dropdown-menu">
						<li>
							<div class="form-group">
								<div id="cse-search-form">Loading</div>
								<script src="https://www.google.com/jsapi" type="text/javascript"></script>
								<script type="text/javascript">// <![CDATA[
								google.load('search', '1', {language: 'en', style: google.loader.themes.MINIMALIST});
								google.setOnLoadCallback(function() {
									var customSearchOptions = {};
									var orderByOptions = {};
									orderByOptions['keys'] = [{label: 'Relevance', key: ''} , {label: 'Date', key: 'date'}];
									customSearchOptions['enableOrderBy'] = true;
									customSearchOptions['orderByOptions'] = orderByOptions;
									var customSearchControl =   new google.search.CustomSearchControl('017690826183710227054:mjxnqnpskjk', customSearchOptions);
									customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
									var options = new google.search.DrawOptions();
									options.enableSearchboxOnly('https://www.purdue.edu/purdue/search.html', 'q');
									customSearchControl.draw('cse-search-form', options);
								}, true);
								// ]]></script>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="collapse navbar-collapse gold">
			<ul class="nav navbar-nav information">
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Find Info For <b class="caret"></b></a>
					<ul class="dropdown-menu"><p class="hide">Find Info For</p>
						<li><a href="http://www.purdue.edu/purdue/current_students/index.html">Current Students</a></li>
						<li><a href="http://www.purdue.edu/purdue/prospective_students/index.html">Prospective Students</a></li>
						<li><a href="http://www.purdue.edu/purdue/alumni/index.html">Alumni and Friends</a></li>
						<li><a href="http://www.purdue.edu/purdue/engage/index.html">Engage with Purdue</a></li>
						<li><a href="http://www.purdue.edu/purdue/careers/index.html">Careers</a></li>
						<li><a href="http://www.purdue.edu/purdue/commercialization/index.html">Entrepreneurship and Commercialization</a></li>
						<li><a href="http://www.purdue.edu/purdue/research/index.html">Research and Innovation</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav right quicklinks"><p class="hide">Quick Links</p>
				<li><a href="http://www.purdue.edu/purdue/admissions/index.html">Apply</a></li>
				<li><a href="http://www.purdue.edu/newsroom/">News</a></li>
				<li><a href="http://www.purdue.edu/president/">President</a></li>
				<li><a href="http://www.purdueofficialstore.com/">Shop</a></li>
				<li><a href="http://www.purdue.edu/visit/">Visit</a></li>
				<li><a href="https://securelb.imodules.com/s/1461/research/hybrid/index.aspx?sid=1461&amp;gid=1010&amp;pgid=1754&amp;cid=4045">Give</a></li>
				<li><a href="http://www.purdue.edu/ea">Emergency</a></li>
			</ul>
		</div>
	<!--/.nav-collapse --></div>
</div>