
.formMsg{
	padding:10px;
	p{
		padding:0;
	}
}
.formMsg.error{
	background-color:#ffc2c2;
}
.formMsg.success{
	background-color:#91ffb8;
}
form.purdueForm{
	.row{
		padding-top:0 !important;
		padding-bottom:0 !important;
	}
	fieldset{
		legend{
			padding-top:0;
			padding-bottom:0.25em;
			font-family:$font-archivo-narrow;
			color:$color-campusGold;
			font-size:28/16 * 1em;
			line-height:1.2em;
		}
	}
	fieldset + fieldset,input + fieldset{
		legend{
			padding-top:0.75em;
		}
	}
	label{
		margin-bottom:5px;
		font-weight:700;
		line-height:1em;
		.sublabel{
			display:block;
			font-size:0.75em;
			color:#555;
		}
	}
	label.required{
		.sublabel{
			display:inline;
		}
		.sublabel::before{
			content:"*\A";
			white-space:pre;
		    font-size:1.3333333em;
		    font-weight:inherit;
		    line-height:inherit;
		}
	}
	label.error{
		color:#910000;
	}
	label.required::after{
		content:" *"
	}
	label.required.sublab::after{
		content:"";
	}
	input:not([type="submit"]), select, textarea, .js-charCount{
		background-color:#eee;
		border:solid 1px #ccc;
		max-width:100%;
		margin-bottom:15px;
	}
	input[type="text"],input[type="email"]{
		max-width:250px;
	}
	input[type="tel"]{
		max-width:125px;
	}
	input[type="date"],input[type="time"]{
		max-width:175px;
	}
	input.error,textarea.error,.js-charCount.error{
		background-color:#fceaea;
	}
	input.state{
		max-width:50px;
	}
	input:focus, select:focus, textarea:focus, .js-charCount:focus{
		background-color:#fff;
	}
	select{
		border-radius:0px;
	}
	textarea, .js-charCount{
		display:block;
		width:100%;
		max-width:100%;
		min-height:4em;
		overflow-y:scroll;
	}
	.js-charCounter.over{
		color:#f00;
		font-weight:700;
	}
	input[type="submit"]{
		margin-top:30px;
		padding:5px 15px;
		background-color:#444;
		color:#fff;
	}
	input[type="submit"]:hover{
		background-color:#000;
	}
	input[type="submit"][disabled]{
		background-color:#bbb;
	}
	input[type="submit"][disabled]:hover{
		background-color:#bbb;
	}
	.robotic{
		display:none;
	}
}
