hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
blockquote, .quote {
    padding: 0;
    border: 0;
    font-size: unset;
    margin: 1rem 0;
    padding-left: 2rem;
    position: relative; 

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: calc-toRem(8);
        height: 100%;
        left: 0;
        top: 0;
        background: $color-campusGold;
    }
}

.quote {
    &-mark {
        padding-left: 4rem;

        &::before {
            width: auto;
            height: auto;
            background: none;
            display: block;
            width: 3rem;
            height: 3rem;
            background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2050%2050'%20xml%3Aspace%3D'preserve'%3E%3Cpath%20style%3D'fill%3A%23c28e0e%3Bstroke%3Argba(0%2C0%2C0%2C0)%3B'%20d%3D'M14.8604%2C26.5957h7.6001v20.5205h-19V28.3057l9.1201-25.27h9.8799L14.8604%2C26.5957z%20M38.9912%2C26.5957h7.6006v20.5205h-19.001V28.3057l9.1201-25.27h9.8809L38.9912%2C26.5957z'%2F%3E%3C%2Fsvg%3E");
            background-size: cover;
        }
    }

    &__content {
        display: block;
        padding: 0;
        margin: 0;
        font-family: $font-archivo-narrow;
        font-weight: bold;
        font-size: calc-toRem(24);
        color: $color-gray90;
        line-height: 1.25;
    }

    &__source {
        display: block;
        padding: 0;
        padding-top: .5rem;
        font-family: $font-archivo-narrow;
        font-weight: bold;
        font-size: calc-toRem(18);
        color: $color-headlineGold;
    }
}
@media ( min-width: 37.5em ) {
    blockquote, .quote {
        padding-left: 6rem;

        &::before {
            height: auto;
            left: 4rem;
            top: -0.1875rem;
            bottom: -0.1875rem;
        }
    }

    .quote {
        &-mark {
            &::before {
                height: 3rem;
                left: 2rem;
                top: 0;
            }
        }
    }
}
