@mixin h1 {
	margin: 0 0 1rem;
	// line-height: 1.2;
	// text-transform: uppercase;
	margin-top: 0;
	font-family: $acumin-pro;
	color: black;
	font-size: calc-toRem(37);
	font-weight: 700;
}

@mixin h2 {
	font-family: $acumin-pro-condensed;
	margin: 2rem 0 0.75rem;
	// line-height: 1.2;
	color: $aged-gold;
	font-size: calc-toRem(32);
	font-weight: 600;
}

@mixin h3 {
	font-family: $acumin-pro-semicondensed;
	margin: 1.75rem 0 0.7rem;
	// line-height: 1.2;
	font-weight: 600;
	color: black;
	font-size: calc-toRem(25);
}

@mixin h4 {
	font-family: $acumin-pro-semicondensed;
	margin: 1.5rem 0 0.65rem;
	// line-height: 1.2;
	text-transform: uppercase;
	font-weight: 500;
	color: $steel-gray;
	font-size: calc-toRem(22);
}

@mixin h5 {
	font-family: $acumin-pro;
	margin: 1.5rem 0 0.6rem;
	// line-height: 1.2;
	// text-transform: uppercase;
	font-weight: 700;
	color: $aged-gold;
	font-size: calc-toEm(22);
}

@mixin h6 {
	font-family: $acumin-pro-semicondensed;
	margin: 1.5rem 0 0.5rem;
	// line-height: 1.2;
	text-transform: uppercase;
	font-weight: 600;
	color: black;
	font-size: calc-toEm(19);
}
