@mixin h1 {
	margin: 0 0 2rem;
	// line-height: 1.2;
	// text-transform: uppercase;
	font-family: $acumin-pro;
	color: black;
	font-size: calc-toRem(37);
	font-weight: 700;
	@include display-mo-plus {
		font-size: calc-toRem(30);
	}
}

@mixin h2 {
	font-family: $acumin-pro-condensed;
	margin: 2rem 0 1.5rem;
	// line-height: 1.2;
	color: $aged-gold;
	font-size: calc-toRem(32);
	font-weight: 600;
	@include display-mo-plus {
		font-size: calc-toRem(27);
	}
}

@mixin h3 {
	font-family: $acumin-pro-semicondensed;
	margin: 1.75rem 0 1.5rem;
	// line-height: 1.2;
	font-weight: 600;
	color: black;
	font-size: calc-toRem(25);
	@include display-mo-plus {
		font-size: calc-toRem(22);
	}
}

@mixin h4 {
	font-family: $acumin-pro-semicondensed;
	margin: 1.5rem 0 1.5rem;
	// line-height: 1.2;
	text-transform: uppercase;
	font-weight: 500;
	color: $steel-gray;
	font-size: calc-toRem(22);
	@include display-mo-plus {
		font-size: calc-toRem(22);
	}
}

@mixin h5 {
	font-family: $acumin-pro;
	margin: 1.5rem 0 1.5rem;
	// line-height: 1.2;
	// text-transform: uppercase;
	font-weight: 700;
	color: $aged-gold;
	font-size: calc-toEm(22);
	@include display-mo-plus {
		font-size: calc-toRem(20);
	}
}

@mixin h6 {
	font-family: $acumin-pro-semicondensed;
	margin: 1.5rem 0 1.5rem;
	// line-height: 1.2;
	text-transform: uppercase;
	font-weight: 600;
	color: black;
	font-size: calc-toRem(19);
}
