<div class="audienceTiles col-lg-4 col-md-4 col-sm-5 col-xs-12 tiles-3">
	<div class="tileRow">
		<div class="tileContainer col-lg-6 col-md-6 col-sm-12 col-xs-6">
			<a class="tile acceptToday" href="#">
				<span class="caption">
					<span class="icon"><img src="https://www.purdue.edu/purdue/images/templateElements/2015/icons/icon-accept.png" alt="accept today icon" aria-hidden="true"/></span>
					<span class="text">Accept Today</span>
				</span>
			</a>
		</div>
		<div class="tileContainer col-lg-6 col-md-6 col-sm-12 col-xs-6">
			<a class="tile news" href="#">
				<span class="caption">
					<span class="icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
					<span class="text">News</span>
				</span>
			</a>
		</div>
	</div>
	<div class="tileRow">
		<div class="tileContainer col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<a class="tile giveNow" href="#">
				<span class="caption">
					<span class="icon"><i class="fa fa-gift" aria-hidden="true"></i></span>
					<span class="text">Give Now</span>
				</span>
			</a>
		</div>
	</div>
</div>