//Set the height of one row at each screen size. (Add 30 px for the 15px top and bottom padding)
$lgRowHeight:123+20;
$mdRowHeight:120+20; //Keep same proportion of tile height between large and medium. (1160 = full lg width | 960 = full md width)
$smRowHeight:150+20;
$xsRowHeight:160;

.collegeContent{
	.grid{
		margin:0 -10px;
		.tiles{
			.row{
				height:100%;
				margin:-10px;
				.tile{
					padding:10px;
					a{
						position:relative;
						display:block;
						height:100%;
						width:100%;
						padding:20px;
						.caption{
							position:absolute;
							left:20px;
							right:20px;
							bottom:20px;
						}
					}
				}
				.tile.photo{
					a{
						background-size:cover;
						background-position:center center;
						.caption{
							.divider{
								background-color:#fff;
							}
						}
					}
				}
			}
		}
	}
}

/*--------------------------------
tile sizing and positioning
--------------------------------*/

//set relative and absolute positioning for tiles at size larger than xs
@media (min-width:768px){
	.collegeContent{
		.grid{
			.tiles{
				.row{
					position:relative;
					.tile{
						position:absolute;
					}
				}
			}
		}
	}
}

//set static position for tiles at xs
@media (max-width:767px){
	.collegeContent{
		.grid{
			.tiles{
				.row{
					position:static;
					.tile{
						position:relative;
					}
				}
			}
		}
	}
}

//
@media (min-width:1200px){
	.collegeContent{
		padding:20px 0 0;
		.grid{
			height:$lgRowHeight*4px;
			.introContainer{
				height:100%;
				.intro{
					height:100%;
				}
			}
			.tiles{
				height:100%;
				padding:0 10px;
				.row{
					.row-lg-1{
						height:25%;
					}
					.row-lg-2{
						height:50%;
					}
					.row-lg-3{
						height:75%;
					}
					.row-lg-4{
						height:100%;
					}
					.left-lg-a{
						left:0%;
					}
					.left-lg-b{
						left:1/4*100%;
					}
					.left-lg-c{
						left:2/4*100%;
					}
					.left-lg-d{
						left:3/4*100%;
					}
					.top-lg-1{
						top:0%;
					}
					.top-lg-2{
						top:25%;
					}
					.top-lg-3{
						top:50%;
					}
					.top-lg-4{
						top:75%;
					}
				}
			}
		}
	}
}
@media (min-width:992px) and (max-width:1199px){
	.collegeContent{
		padding:20px 0 0;
		.grid{
			height:$mdRowHeight*4px;
			.introContainer{
				height:100%;
				.intro{
					height:100%;
				}
			}
			.tiles{
				height:100%;
				padding:0 10px;
				.row{
					.row-md-1{
						height:25%;
					}
					.row-md-2{
						height:50%;
					}
					.row-md-3{
						height:75%;
					}
					.row-md-4{
						height:100%;
					}
					.left-md-a{
						left:0%;
					}
					.left-md-b{
						left:1/4*100%;
					}
					.left-md-c{
						left:2/4*100%;
					}
					.left-md-d{
						left:3/4*100%;
					}
					.top-md-1{
						top:0%;
					}
					.top-md-2{
						top:25%;
					}
					.top-md-3{
						top:50%;
					}
					.top-md-4{
						top:75%;
					}
				}
			}
		}
	}
}
@media (min-width:768px) and (max-width:991px){
	.collegeContent{
		padding:20px 0 0;
		.grid{
			.tiles{
				height:$smRowHeight*4px;
				padding:20px 10px 0;
				.row{
					.row-sm-1{
						height:25%;
					}
					.row-sm-2{
						height:50%;
					}
					.row-sm-3{
						height:75%;
					}
					.row-sm-4{
						height:100%;
					}
					.left-sm-a{
						left:0%;
					}
					.left-sm-b{
						left:1/4*100%;
					}
					.left-sm-c{
						left:2/4*100%;
					}
					.left-sm-d{
						left:3/4*100%;
					}
					.top-sm-1{
						top:0%;
					}
					.top-sm-2{
						top:25%;
					}
					.top-sm-3{
						top:50%;
					}
					.top-sm-4{
						top:75%;
					}
				}
			}
		}
	}
}
@media (max-width:767px){
	.collegeContent{
		padding:20px 0;
		.grid{
			.tiles{
				padding:20px 10px 0;
				.row{
					.row-xs-1{
						height:((($xsRowHeight - 30)*1)/18)*1em;
					}
					.row-xs-2{
						height:((($xsRowHeight - 30)*2)/18)*1em;
					}
					.row-xs-3{
						height:((($xsRowHeight - 30)*3)/18)*1em;
					}
					.row-xs-4{
						height:((($xsRowHeight - 30)*4)/18)*1em;
					}
				}
			}
		}
	}
}

/*-------------
end tile sizing and positioning
-------------*/