{
  "presets": [
      [
          "@babel/preset-env",
          {
              "targets": {
                  "browsers": [
                      "last 2 versions",
                      "> 1%"
                  ]
              },
              "useBuiltIns": "usage",
              "corejs": 3
          }
      ]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}
