.bottom{
	overflow:hidden;
	padding:10px;
	background-color:#3b3b3b;
	color:#ccc;
	text-align:center;
	line-height:1.1em;
	a:link{
		color:#ccc;
	}
	a:visited{
		color:#ccc;
	}
	a:hover{
		color:#ccc;
	}
	a:active{
		color:#ccc;
	}
	p{
		margin:0 !important;
		padding-bottom:2px;
	}
}
@media (min-width:768px){
	.bottom{
		font-size:10/16 * 1em;
	}
}
@media (max-width:767px){
	.bottom{
		font-size:10/18 * 1em;
	}
}