<div role="list" class="accordion__content" id="content-{{this.id}}-4" aria-labelledby="accordion{{this.id}}id">
    <p class="accordion__item" role="listitem">Sed ornare lorem arcu. In in justo <a href="#">vel nulla</a> ultrices cursus. Morbi convallis nibh condimentum dignissim sagittis. Nulla ut porttitor quam, ac consectetur felis.</p>
    <div class="accordion__item" role="listitem">
        <p>Integer molestie, est at porta pulvinar, lectus quam facilisis neque, at blandit ipsum dolor ut ex. In hac habitasse platea dictumst. Donec mauris elit, auctor vel tincidunt sed, sollicitudin a orci.</p>
        <ul>
            <li>Phasellus pellentesque, nibh sed semper pretium.</li>
            <li>Justo lorem facilisis nibh, sit amet accumsan.</li>
            <li>Ligula turpis quis quam.</li>
            <li>Pellentesque suscipit, justo eu porttitor hendrerit, est turpis.</li>
        </ul>
    </div>
    <ol class="accordion__item" role="listitem">
        <li>Phasellus pellentesque, nibh sed semper pretium.</li>
        <li>Justo lorem facilisis nibh, sit amet accumsan.</li>
        <li>Ligula turpis quis quam.</li>
        <li>Pellentesque suscipit, justo eu porttitor hendrerit, est turpis.</li>
    </ol>
</div>