<ol role="list" class="accordion__content" id="content-{{this.id}}-2" aria-labelledby="accordion{{this.id}}id">
    <li class="accordion__item" role="listitem"><a href="#">Accordion Link 0</a></li>
    <li class="accordion__item" role="listitem"><a href="#">Accordion Link 1</a></li>
    <li class="accordion__item" role="listitem"><a href="#">Accordion Link 2</a></li>
    <li class="accordion__item" role="listitem"><a href="#">Accordion Link 3</a></li>
    <li class="accordion__item" role="listitem"><a href="#">Accordion Link 4</a></li>
    <li class="accordion__item" role="listitem"><a href="#">Accordion Link 5</a></li>
</ol>