<svg class="horizontal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 430 60">
  <defs>
    <style>
      .e5e7aadc-5f16-4a1f-9bee-7ac7cc0548a9 {
        font-size: 34px;
        fill: #c28e0e;
        font-family: Champion-HTF-Heavyweight, Champion;
      }

      .\35 e6c45fa-0108-43f7-b548-1e1a96814671 {
        letter-spacing: -0.07202em;
      }

      .\39 e71bbf6-0e21-4a7d-a0cc-e6ad30fa66f9 {
        font-size: 25px;
        fill: #fff;
        font-family: Champion-HTF-Welterweight, Champion;
      }

      .\31 8f2663d-8282-4464-b5ac-99e7316c5f65 {
        letter-spacing: -0.03297em;
      }

      .c6f163a6-5569-448b-add2-d65afd4a376a {
        letter-spacing: 0.00002em;
      }

      .c9ed177b-9c81-40c0-b065-b432c2c1a09b {
        letter-spacing: -0.01609em;
      }

      .ba048e35-0725-48ae-a9a0-57c5ffd9a8ab {
        opacity: 0.5;
        font-size: 4px;
        fill: #aaa;
        font-family: Arial-BoldMT, Arial;
        font-weight: 700;
      }
    </style>
  </defs>
  <title>WE ARE PURDUE. WHAT WE MAKE MOVES THE WORLD FORWARD</title>
  <g id="8b8de98f-bf04-4a6f-909f-a428337b108f" data-name="Mobile - tagline">
    <text class="e5e7aadc-5f16-4a1f-9bee-7ac7cc0548a9" transform="translate(41.31299 30.69971)">WE<tspan class="5e6c45fa-0108-43f7-b548-1e1a96814671" x="71.33154" y="0"> </tspan><tspan x="78.23242" y="0">ARE PURDUE</tspan></text>
    <text class="9e71bbf6-0e21-4a7d-a0cc-e6ad30fa66f9" transform="translate(4.47949 56.49951)">WHAT WE MAKE MOVES THE WORLD FORWARD</text>
    <text class="ba048e35-0725-48ae-a9a0-57c5ffd9a8ab" transform="translate(425.52637 57.36377)">®</text>
    <image alt="We are Purdue. What we make moves the world forward." class="vertical" src="/purdue/images/templateElements/2015/footer-mottoHorizontal.png" xlink:href="">
  </g>
</svg>