<svg class="vertical" id="a0741d99-434b-4e0a-9090-214634df7ff7" width="202" height="70" data-name="Desktop - tagline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202 70">
  <defs>
    <style>
      .\35 8893acf-2edf-4cb9-8a57-2685b8b94fb6 {
        font-size: 27.5px;
        fill: #c28e0e;
        font-family: Champion-HTF-Welterweight, Champion;
        letter-spacing: 0.00501em;
      }

      .b151f682-5d4b-4328-a487-3fb104e72a97 {
        font-size: 19.4px;
        font-family: Champion-HTF-Heavyweight, Champion;
        letter-spacing: 0.00501em;
      }

      .b151f682-5d4b-4328-a487-3fb104e72a97, .e95930c7-e89b-470b-891b-ada43b0ad02d {
        fill: #fff;
      }

      .\34 58bc1a9-13f0-4bf2-848b-bf8e2c030393 {
        letter-spacing: -0.10704em;
      }

      .f039571e-80e4-4d20-ac8b-b9d62a790eac {
        letter-spacing: -0.08288em;
      }

      .b9c1f429-083d-4618-91db-d2af71cd5131 {
        letter-spacing: -0.05507em;
      }

      .e95930c7-e89b-470b-891b-ada43b0ad02d {
        font-size: 20.4px;
        font-family: Champion-HTF-Lightweight, Champion;
        letter-spacing: 0.005em;
      }

      .\30 310ebae-60bf-4d24-8ae7-a8b1d2269eff {
        letter-spacing: -0.00594em;
      }

      .a55d38de-e848-45d9-8256-f9300bd2fed9 {
        letter-spacing: -0.03313em;
      }

      .\34 a444501-02c1-4b63-bb55-9eb071761353 {
        letter-spacing: 0.00498em;
      }

      .acad75df-e36a-4ac1-81d1-8868c497200b {
        opacity: 0.5;
        font-size: 3px;
        fill: #aaa;
        font-family: Arial-BoldMT, Arial;
        font-weight: 700;
      }
    </style>
  </defs>
  <title>WE ARE PURDUE. WHAT WE MAKE MOVES THE WORLD FORWARD</title>
  <text class="58893acf-2edf-4cb9-8a57-2685b8b94fb6" transform="translate(1.25 24.99951)">WE ARE PURDUE<tspan class="b151f682-5d4b-4328-a487-3fb104e72a97"><tspan x="0" y="21">WHAT WE MAKE</tspan><tspan class="e95930c7-e89b-470b-891b-ada43b0ad02d"><tspan x="0" y="42.5">MOVES THE WORLD FORWARD</tspan></tspan></tspan></text>
  <text class="acad75df-e36a-4ac1-81d1-8868c497200b" transform="translate(198.39453 67.14795)">®</text>
  <image alt="We are Purdue. What we make moves the world forward." class="vertical" src="/purdue/images/templateElements/2015/footer-mottoVertical.png" xlink:href="">
</svg>