<section class="college__main">
  <h1>College Homepage Example</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus consequat tortor, venenatis fringilla justo feugiat ut. Quisque cursus at lectus id ultrices. Suspendisse mattis fringilla mattis. Morbi tincidunt dictum dolor sit amet cursus. Nullam ultricies purus nec eleifend facilisis. Proin varius id erat a porta. Nullam pellentesque at leo eu porta.</p>
  {{#each feature-links}}
    <a href="#" class="button button-hollow button-gray40 button-slim button-wide">{{this.text}}</a>
  {{/each}}
</section>
