.captionStyle{
	display:block;
	padding:0 10px;
	color:#595959;
	font-size:14/16*1em;
	font-style:italic;
	line-height:1.5em;
}
.imageContainer{
	display:inline-block;
	padding:15px 0;
	img{
		max-width:100%;
	}
}
.imageContainer.useCaption{
	display:block;
	img{
		width:100%;
	}
	.caption{
		@extend .captionStyle;
	}
}
.videoContainer{
	overflow:hidden;
	margin-top:10px;
	margin-bottom:10px;
	.video{
		position:relative;
		padding-bottom:56.25%;
		padding-top:25px;
		height:0;
		iframe{
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
	.caption{
		@extend .captionStyle;
	}
}
.content{
	.container{
		.row{
			padding:30px 0;
			.maincontent{
				img.banner{
					width:100%;
					margin-bottom:20px;
				}
				ul, ol {
					li{
						padding: 3px 0;
					}
				}
				li > ol {
					padding-top: 0;
					padding-bottom: 0;
				}
				ol > li {
					&::before {
						width: 1em;
						margin-left: -1em;
					}
				}

				// spacing for all ol li::before
				ul > li {
					&::before {
						content: "";
						width: calc-toRem(8);
						height: calc-toRem(8);
						display: inline-block;
						font-size: calc-toRem(33);
						position: relative;
						top: calc-toRem(-2);
						right: calc-toRem(13);
					}
				}
				// define the styles for the different levels
				ul {
					padding-left: 22px;
					list-style-type: none;

					> li {
						&::before {
							background-color: $color-headlineGold;
							border-radius: 50%;
						}
					}

					ul {
						> li {
							&::before {
								background-color: #fff;
								border-radius: 50%;
								border: calc-toRem(2) solid $color-headlineGold;
							}
						}

						ul {
							> li {
								&::before {
									border: 0;
									border-radius: 0;
									background-color: $color-headlineGold;
									width: calc-toRem(8);
									height: calc-toRem(8);
								}
							}

						}
					}
				}

				// if the browser supports css counters, use gold bullets and numbers
				@supports( counter-reset: li ) {

					// spacing for all ol li::before
					ol > li {
						&::before {
							position: relative;
							color: $color-headlineGold;
							right: .6em;
							margin-left: -.8em;
							font-weight: 700;
						}
					}

					// define the numbering system for the different levels
					ol {
						list-style-type: none;
						counter-reset: l1;

						> li {
							&::before {
								counter-increment: l1;
								content: counter(l1)".";
							}
						}

						ol {
							counter-reset: l2;

							> li {
								&::before {
									counter-increment: l2;
									content: counter(l2, lower-alpha)".";
								}
							}

							ol {
								counter-reset: l3;

								> li {
									&::before {
										counter-increment: l3;
										content: counter(l3, lower-roman)".";
									}
								}
							}
						}
					}
				}

				.imageContainer{
					max-width:100%;
				}
				.videoContainer{
					width:100%;
				}
				@media (min-width:768px)
				{
					.imageContainer.right,.videoContainer.right{
						margin-left:25px;
					}
					.imageContainer.left,.videoContainer.left{
						margin-right:25px;
					}
					@media (min-width:1200px){
						.imageContainer.right,.imageContainer.left,.videoContainer.right,.videoContainer.left{
							max-width:40%;
						}
					}
					@media (min-width:992px) and (max-width:1199px){
						.imageContainer.right,.imageContainer.left,.videoContainer.right,.videoContainer.left{
							max-width:45%;
						}
					}
					@media (min-width:768px) and (max-width:991px){
						.imageContainer.right,.imageContainer.left,.videoContainer.right,.videoContainer.left{
							max-width:50%;
						}
					}
				}
				@media (max-width:767px){
					.imageContainer.right,.imageContainer.left,.videoContainer.right,.videoContainer.left{
						width:100%;
						max-width:100%;
					}
				}
			}
		}
	}
}
.sidecontent{
	clear:left;
	ul{
		li{
			padding:6px 0;
		}
		li:first-child{
			padding-top:0;
		}
	}
	.imageContainer:first-child,.videoContainer:first-child{
		padding-top:0;
	}
	.imageContainer,.videoContainer{
		width:100%;
	}
}
