$font-arial:Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-archivo-narrow:"Archivo Narrow","Arial Narrow",Arial,sans-serif;
$font-archivo-black:'archivo_blackregular',"Arial Black","Arial Bold",Gadget,sans-serif;
$font-champion-bantam:"Champion Bantamwt A","Champion Bantamwt B";
$font-champion-feather:"Champion Featherwt A","Champion Featherwt B";
$font-champion-light:"Champion Lightwt A","Champion Lightwt B";
$font-champion-welter:"Champion Welterwt A","Champion Welterwt B";
$font-champion-middle:"Champion Middlewt A","Champion Middlewt B";
$font-champion-heavy:"Champion Heavywt A","Champion Heavywt B";
$font-fontAwesome:FontAwesome;/* Scss Document */