$font-arial:"Arial","Helvetica Neue","Helvetica",sans-serif;
$font-archivo-narrow:"Archivo Narrow","Arial Narrow","Arial",sans-serif;
$font-archivo-black:"Archivo Black","Arial Black","Arial Bold","Gadget",sans-serif;
$font-champion-bantam:"Champion Bantamwt A","Champion Bantamwt B",$font-archivo-narrow;
$font-champion-feather:"Champion Featherwt A","Champion Featherwt B",$font-archivo-narrow;
$font-champion-light:"Champion Lightwt A","Champion Lightwt B",$font-archivo-narrow;
$font-champion-welter:"Champion Welterwt A","Champion Welterwt B",$font-archivo-black;
$font-champion-middle:"Champion Middlewt A","Champion Middlewt B",$font-archivo-black;
$font-champion-heavy:"Champion Heavywt A","Champion Heavywt B",$font-archivo-black;
$font-fontAwesome:"FontAwesome";
$font-helvetica:"Helvetica Neue",Helvetica,Arial,sans-serif;