<header class="header container">
  <section class="header__goldBar container">
    <div class="header__goldBar--inner">
      <button aria-haspopup="true" aria-expanded="false" >
        <i class="fas fa-bars"></i>&nbsp;
        Quick Links
      </button>
      <section class="header__goldBar--menus">
        
        <nav class="header__goldBar__findInfoFor">
          <button aria-haspopup="true" aria-expanded="false" >
            Find info for
            <span>&#9660;</span>
          </button>
          <span>Find Info For</span>
          <ul id="findInfoFor">
            <li><a href="#">Academics</a></li>
            <li><a href="#">Admissions</a></li>
            <li><a href="#">Current Students</a></li>
            <li><a href="#">Athletics</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Prospective Students</a></li>
            <li><a href="#">Research and Partnerships</a></li>
            <li><a href="#">Entrepreneurship and Commercialization</a></li>
          </ul>
</nav>
        <nav class="header__goldBar__quickLinks">
          <span>Quick Links</span>
        <ul>
          <li><a href="#">Apply</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">President</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Visit</a></li>
          <li><a href="#">Give</a></li>
          <li><a href="#">Emergency</a></li>
        </ul>
      </nav>
      </section>
      <a class="header__goldBar__search"><i class="fas fa-search"></i></a>
    </div>
  </section>
  <section class="header__signature container"></section>
  <nav class="header__mainNav container">
    <button id="mainNavMo" aria-haspopup="true" aria-expanded="false" >
      <i class="fas fa-bars"></i>
      Menu
    </button>
    <ul class="header__mainNav--main">
      <li><a href="#">Home</a></li>
      <li><a class="dropdown-button" href="#">About Us <span>&#9660;</span></a>
        <ul class="header__mainNav--dropdown1">
          <li><a href="#">Services</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a class="dropdown-button" href="#">Resources test long title <span>&#9656;</span></a>
            <ul class="header__mainNav--dropdown2">
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Resources</a></li>
            </ul>
          </li>
          <li><a class="dropdown-button" href="#">Contact <span>&#9656;</span></a>
            <ul class="header__mainNav--dropdown2">
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Resources</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a class="dropdown-button" href="#">Services <span>&#9660;</span></a>
        <ul class="header__mainNav--dropdown1">
          <li><a href="#">Services</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Resources test long title</a></li>
          <li><a class="dropdown-button" href="#">Contact <span>&#9656;</span></a>
            <ul class="header__mainNav--dropdown2">
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Resources</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Resources <span>&#9660;</span></a></li>
      <li><a href="#">Contact <span>&#9660;</span></a></li>
    </ul>
  </nav>
</header>