//Set the height of one row at each screen size. (Add 30 px for the 15px top and bottom padding)
$lgRowHeight:140+20;
$mdRowHeight:((140/1160)*960)+20; //Keep same proportion of tile height between large and medium. (1160 = full lg width | 960 = full md width)
$smRowHeight:140+20;
$xsRowHeight:135+20;
$smNumRows:8;

/*--------------------------------
tile sizing and positioning
--------------------------------*/

.content{
    background-size:cover;
    background-position:center center;
    .boxes{
        background-image:url('https://purdue.edu/purdue/images/templateElements/2015/lighter50.png');
        background-repeat:repeat;
        padding:10px 20px;
        .row{
        		list-style-type:none;
            position: static;
            margin:0 -15px;
            .tile{
                position:relative;
                padding:10px;
                a,.proof{
                    position:relative;
                    display:block;
                    width:100%;
                    height:100%;
                    padding:20px;
                    font-family:$font-archivo-narrow;
                    font-weight:bold;
                    .caption{
                        position:absolute;
                        left:20px;
                        right:20px;
                        bottom:20px;
                        .fa,.icon{
                            display:block;
                            margin-bottom:5px;
                        }
                    }
                }
            }
            .tile.photo{
                a,.proof{
                    background-size:cover;
                    background-position:center center;
                    .caption{
                        .divider{
                            background-color:#fff;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:767px){
    .content{
        background-image:none;
        background-color:#fff;
        .boxes{
            .row-xs-1{
                height:((($xsRowHeight - 30)*1)/18)*1em;
            }
            .row-xs-2{
                height:((($xsRowHeight - 30)*2)/18)*1em;
            }
            .row-xs-3{
                height:((($xsRowHeight - 30)*3)/18)*1em;
            }
            .row-xs-4{
                height:((($xsRowHeight - 30)*4)/18)*1em;
            }
            .row-xs-5{
                height:((($xsRowHeight - 30)*5)/18)*1em;
            }
            .row-xs-6{
                height:((($xsRowHeight - 30)*6)/18)*1em;
            }
        }
    }
}

// reset relative and absolute positioning for tiles at size larger than xs
@media (min-width:768px){
    .content{
        .boxes{
            .row{
                position:relative;
                height:100%;
                .tile{
                    position:absolute;
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:991px){
    .content{
        .boxes{
            .row.tiles{
                height:(($smRowHeight*$smNumRows)/16)*1em; //5 total rows (px added to make the height in px)
                .row-sm-1{
                    height:(1/$smNumRows)*100%;
                }
                .row-sm-2{
                    height:(2/$smNumRows)*100%;
                }
                .row-sm-3{
                    height:(3/$smNumRows)*100%;
                }
                .row-sm-4{
                    height:(4/$smNumRows)*100%;
                }
                .row-sm-5{
                    height:(5/$smNumRows)*100%;
                }
                .row-sm-6{
                    height:100%;
                }
                .left-sm-a{
                    left:0%;
                }
                .left-sm-b{
                    left:4/12*100%;
                }
                .left-sm-c{
                    left:8/12*100%;
                }
                .top-sm-1{
                    top:0%;
                }
                .top-sm-2{
                    top:(1/$smNumRows)*100%;
                }
                .top-sm-3{
                    top:(2/$smNumRows)*100%;
                }
                .top-sm-4{
                    top:(3/$smNumRows)*100%;
                }
                .top-sm-5{
                    top:(4/$smNumRows)*100%;
                }
                .top-sm-6{
                    top:(5/$smNumRows)*100%;
                }
                .top-sm-7{
                    top:(6/$smNumRows)*100%;
                }
                .top-sm-8{
                    top:(7/$smNumRows)*100%;
                }
                .top-sm-9{
                    top:(8/$smNumRows)*100%;
                }
                .top-sm-10{
                    top:(9/$smNumRows)*100%;
                }
            }
        }
    }
}

@media (min-width:992px) and (max-width:1199px){
    .content{
        .boxes{
            .row.tiles{
                height:(($mdRowHeight*4)/16)*1em; //4 total rows (px added to make the height in px)
                .row-md-1{
                    height:25%;
                }
                .row-md-2{
                    height:50%;
                }
                .row-md-3{
                    height:75%;
                }
                .row-md-4{
                    height:100%;
                }
                .left-md-a{
                    left:0%;
                }
                .left-md-b{
                    left:2/12*100%;
                }
                .left-md-c{
                    left:4/12*100%;
                }
                .left-md-d{
                    left:6/12*100%;
                }
                .left-md-e{
                    left:8/12*100%;
                }
                .left-md-f{
                    left:10/12*100%;
                }
                .top-md-1{
                    top:0%;
                }
                .top-md-2{
                    top:25%;
                }
                .top-md-3{
                    top:50%;
                }
                .top-md-4{
                    top:75%;
                }
            }
        }
    }
}

//
@media (min-width:1200px){
    .content{
        .boxes{
            .row.tiles{
                height:(($lgRowHeight*4)/16)*1em; //4 total rows (px added to make the height in px)
                .row-lg-1{
                    height:25%;
                }
                .row-lg-2{
                    height:50%;
                }
                .row-lg-3{
                    height:75%;
                }
                .row-lg-4{
                    height:100%;
                }
                .left-lg-a{
                    left:0%;
                }
                .left-lg-b{
                    left:2/12*100%;
                }
                .left-lg-c{
                    left:4/12*100%;
                }
                .left-lg-d{
                    left:6/12*100%;
                }
                .left-lg-e{
                    left:8/12*100%;
                }
                .left-lg-f{
                    left:10/12*100%;
                }
                .top-lg-1{
                    top:0%;
                }
                .top-lg-2{
                    top:25%;
                }
                .top-lg-3{
                    top:50%;
                }
                .top-lg-4{
                    top:75%;
                }
            }
        }
    }
}
/*-------------
end tile sizing and positioning
-------------*/
