.content{
	.boxes{
		.row{
			.tile{
				a.proofPoint{
					background-color:#333;
					.caption{
						top:50%;
						bottom:initial;
						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						transform: translateY(-50%);
					}
					@media (min-width:768px){
						.stripes{
							display:block;
							position:absolute;
							left:0;
							bottom:0;
							width:100%;
							background-image:url('http://purdue.edu/purdue/images/templateElements/2015/stripes-proofPoint.png');
							background-repeat:repeat;
						}
						@media (min-width:1200px){
							.stripes{
								height:20px;
							}
						}
						@media (min-width:992px) and (max-width:1199px){
							.stripes{
								height:15px;
							}
						}
						@media (min-width:768px) and (max-width:991px){
							.stripes{
								height:20px;
							}
						}
					}
					@media (max-width:767px){
						.stripes{
							display:none;
						}
					}
				}
				a.proofPoint:link{
					color:#fff;
					font-weight:400;
					text-decoration:none;
				}
				a.proofPoint:visited{
					color:#fff;
					font-weight:400;
					text-decoration:none;
				}
				a.proofPoint:hover{
					color:#fff;
					font-weight:400;
					text-decoration:none;
				}
				a.proofPoint:active{
					color:#fff;
					font-weight:400;
					text-decoration:none;
				}
			}
		}
	}
}

/*--------------------------------
links styling based on tile size
--------------------------------*/
.boxes{

	//large (lg) screen size
	@media (min-width:1200px){
		.tile{
			a.proofPoint{
			}
		}
		//1x1 tile
		.tile.col-lg-2.row-lg-1{
			a.proofPoint{
				.headerLg{
					display:none;
				}
				.headerMd{
					display:block;
					color:$color-yellowWalk;
					font-family:$font-archivo-narrow;
					font-size:22/16*1em;
					text-transform:uppercase;
				}
				.headerSm{
					display:none;
				}
				.source{
					display:none;
				}
			} //end audience tile
		} //end 1x1 tile

		//1x2 tile
		.tile.col-lg-2.row-lg-2{
			a.proofPoint{
				.headerLg{
					display:block;
					margin-bottom:5px;
					color:$color-yellowWalk;
					font-size:62/16*1em;
					line-height:1em;
				}
				.headerMd{
					display:block;
					font-family:$font-archivo-narrow;
					font-size:22/16*1em;
					line-height:1em;
					text-transform:uppercase;
					margin-bottom:10px;
				}
				.headerSm{
					display:none;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			} //end audience tile
		} //end 1x2 tile

		//1x3 tile
		.tile.col-lg-2.row-lg-3{
			a.proofPoint{
				.headerLg{
					display:block;
					margin-bottom:5px;
					color:$color-yellowWalk;
					font-size:68/16*1em;
					line-height:1em;
				}
				.headerMd{
					display:block;
					font-family:$font-archivo-narrow;
					color:$color-yellowWalk;
					font-size:28/16*1em;
					text-transform:uppercase;
					margin-bottom:5px;
				}
				.headerSm{
					display:block;
					font-family:$font-archivo-narrow;
					font-size:24/16*1em;
					margin-bottom:10px;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			} //end audience tile
		} //end 1x3 tile

		//2x1 tile
		.tile.col-lg-4.row-lg-1{
			a.proofPoint{
				.headerLg{
					display:none;
				}
				.headerMd{
					display:block;
					color:$color-yellowWalk;
					font-family:$font-archivo-narrow;
					font-size:24/16*1em;
					text-transform:uppercase;
				}
				.headerSm{
					display:inline-block;
					margin-right:10px;
					font-family:$font-archivo-narrow;
					font-size:20/16*1em;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			} //end audience tile
		} //end 2x1 tile

		//3x1 tile
		.tile.col-lg-6.row-lg-1{
			a.proofPoint{
				.headerLg{
					display:block;
					float:left;
					margin-right:25px;
					color:$color-yellowWalk;
					font-size:68/16*1em;
					line-height:0.725em;
				}
				.headerMd{
					display:block;
					color:$color-yellowWalk;
					font-family:$font-archivo-narrow;
					font-size:28/16*1em;
					text-transform:uppercase;
				}
				.headerSm{
					display:inline-block;
					margin-right:10px;
					font-family:$font-archivo-narrow;
					font-size:24/16*1em;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			} //end audience tile
		} //end 3x1 tile

		//2x2 & 2x3
		.tile.col-lg-4.row-lg-2,.tile.col-lg-4.row-lg-3{
			a.proofPoint{
				.caption{
					bottom:30%;
					top:initial;
					transform:none;
					.headerLg{
						display:block;
						font-family:$font-archivo-narrow;
						margin-right:25px;
						font-size:28/16*1em;
						line-height:1em;
						text-transform:uppercase;
					}
					.headerMd{
						display:block;
						margin-bottom:10px;
						font-family:$font-archivo-narrow;
						font-size:24/16*1em;
						line-height:1em;
						text-transform:uppercase;
					}
					.headerSm{
						display:none;
					}
					.source{
						font-family:$font-archivo-narrow;
						font-size:1em;
						line-height:1.2em;
					}
				}
			} //end audience tile
		} //end 3x3 tile

		//2x2,2x3, & 3x3 tile
		.tile.col-lg-6.row-lg-3{
			a.proofPoint{
				.caption{
					bottom:30%;
					top:initial;
					transform:none;
					.headerLg{
						display:block;
						font-family:$font-archivo-narrow;
						margin-right:25px;
						font-size:38/16*1em;
						line-height:1em;
						text-transform:uppercase;
					}
					.headerMd{
						display:block;
						margin-bottom:10px;
						font-family:$font-archivo-narrow;
						font-size:28/16*1em;
						line-height:1em;
						text-transform:uppercase;
					}
					.headerSm{
						display:none;
					}
					.source{
						font-family:$font-archivo-narrow;
						font-size:1em;
						line-height:1.2em;
					}
				}
			} //end audience tile
		} //end 3x3 tile

	} //end @media (min-width:1200px)
	
	//medium (md) screen size
	@media (min-width:992px) and (max-width:1199px){

		//1x1 tile
		.tile.col-md-2.row-md-1{
			a.proofPoint{
				.headerLg{
					display:none;
				}
				.headerMd{
					display:block;
					color:$color-yellowWalk;
					font-family:$font-archivo-narrow;
					font-size:18/16*1em;
					text-transform:uppercase;
				}
				.headerSm{
					display:none;
				}
				.source{
					display:none;
				}
			} //end audience tile
		} //end 1x1 tile

		//1x2 tile
		.tile.col-md-2.row-md-2{
			//audience tile
			a.proofPoint{
				.headerLg{
					display:block;
					margin-bottom:5px;
					color:$color-yellowWalk;
					font-size:58/16*1em;
					line-height:1em;
				}
				.headerMd{
					display:block;
					font-family:$font-archivo-narrow;
					font-size:18/16*1em;
					text-transform:uppercase;
					margin-bottom:10px;
				}
				.headerSm{
					display:none;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			}
		} //end 1x2 tile

		//1x3 tile
		.tile.col-md-2.row-md-3{
			//audience tile
			a.proofPoint{
				.headerLg{
					display:block;
					margin-bottom:5px;
					color:$color-yellowWalk;
					font-size:64/16*1em;
					line-height:1em;
				}
				.headerMd{
					display:block;
					font-family:$font-archivo-narrow;
					color:$color-yellowWalk;
					font-size:24/16*1em;
					line-height:1.1em;
					text-transform:uppercase;
					margin-bottom:5px;
				}
				.headerSm{
					display:block;
					font-family:$font-archivo-narrow;
					font-size:20/16*1em;
					margin-bottom:10px;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			} //end audience tile
		} //end 1x2 tile

		//2x1 tile
		.tile.col-md-4.row-md-1{
			//audience tile
			a.proofPoint{
				.headerLg{
					display:none;
				}
				.headerMd{
					display:block;
					color:$color-yellowWalk;
					font-family:$font-archivo-narrow;
					font-size:20/16*1em;
					text-transform:uppercase;
				}
				.headerSm{
					display:inline-block;
					margin-right:10px;
					font-family:$font-archivo-narrow;
					font-size:18/16*1em;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			} //end audience tile
		} //end 2x1 tile

		//3x1 tile
		.tile.col-md-6.row-md-1{
			//audience tile
			a.proofPoint{
				.headerLg{
					display:block;
					float:left;
					margin-right:25px;
					color:$color-yellowWalk;
					font-size:64/16*1em;
					line-height:0.725em;
				}
				.headerMd{
					display:block;
					color:$color-yellowWalk;
					font-family:$font-archivo-narrow;
					font-size:24/16*1em;
					text-transform:uppercase;
				}
				.headerSm{
					display:inline-block;
					margin-right:10px;
					font-family:$font-archivo-narrow;
					font-size:20/16*1em;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			} //end audience tile
		} //end 3x1 tile

		//2x2 & 2x3
		.tile.col-md-4.row-md-2,.tile.col-md-4.row-md-3{
			a.proofPoint{
				.caption{
					bottom:30%;
					top:initial;
					transform:none;
					.headerLg{
						display:block;
						font-family:$font-archivo-narrow;
						margin-right:25px;
						font-size:24/16*1em;
						line-height:1em;
						text-transform:uppercase;
					}
					.headerMd{
						display:block;
						margin-bottom:10px;
						font-family:$font-archivo-narrow;
						font-size:20/16*1em;
						line-height:1em;
						text-transform:uppercase;
					}
					.headerSm{
						display:none;
					}
					.source{
						font-family:$font-archivo-narrow;
						font-size:1em;
					}
				}
			} //end audience tile
		} //end 3x3 tile

		//2x2,2x3, & 3x3 tile
		.tile.col-md-6.row-md-3{
			a.proofPoint{
				.caption{
					bottom:30%;
					top:initial;
					transform:none;
					.headerLg{
						display:block;
						font-family:$font-archivo-narrow;
						margin-right:25px;
						font-size:34/16*1em;
						line-height:1em;
						text-transform:uppercase;
					}
					.headerMd{
						display:block;
						margin-bottom:10px;
						font-family:$font-archivo-narrow;
						font-size:24/16*1em;
						line-height:1em;
						text-transform:uppercase;
					}
					.headerSm{
						display:none;
					}
					.source{
						font-family:$font-archivo-narrow;
						font-size:1em;
					}
				}
			} //end audience tile
		} //end 3x3 tile

	} //end @media (min-width:992px) and (max-width:1199px)

	//small (sm) screen size
	@media (min-width:768px) and (max-width:991px){
		.tile{
			a.proofPoint{
				.divider{
					width:60px;
					height:8px;
					margin-top:10px;
					margin-bottom:10px;
				}
			}
		}

		//1x1 tile
		.tile.col-sm-4.row-sm-1{
			//audience tile
			a.proofPoint{
				font-size:24/16*1em;
				.fa{
					font-size:40px;
				}
				img.icon{
					height:40px;
				}
				.divider{
					display:none;
				}
			} //end audience tile
		} //end 1x1 tile

		//1x2 tile
		.tile.col-sm-4.row-sm-2{
			//audience tile
			a.proofPoint{
				.headerLg{
					display:block;
					margin-bottom:5px;
					color:$color-yellowWalk;
					font-size:58/16*1em;
					line-height:1em;
				}
				.headerMd{
					display:block;
					font-family:$font-archivo-narrow;
					font-size:18/16*1em;
					text-transform:uppercase;
					margin-bottom:10px;
				}
				.headerSm{
					display:none;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			}
		} //end 1x2 tile

		//1x2 (photo) tile
		.tile.photo.col-sm-4.row-sm-2{
			//audience tile
			a.proofPoint{
				.caption{
					bottom:30%;
					top:initial;
					transform:none;
					.headerLg{
						display:block;
						margin-bottom:5px;
						color:#fff;
						font-family:$font-archivo-narrow;
						font-size:28/16*1em;
						text-transform:uppercase;
					}
					.headerMd{
						display:block;
						margin-bottom:10px;
						font-family:$font-archivo-narrow;
						font-size:18/16*1em;
						text-transform:uppercase;
					}
					.headerSm{
						display:none;
					}
					.source{
						font-family:$font-archivo-narrow;
						font-size:1em;
					}
				}
			} //end audience tile
		} //end 1x2 tile
		
		//2x1 tile
		.tile.col-sm-8.row-sm-1{
			//audience tile
			a.proofPoint{
				.headerLg{
					display:block;
					float:left;
					margin-right:25px;
					color:$color-yellowWalk;
					font-size:64/16*1em;
					line-height:0.725em;
				}
				.headerMd{
					display:block;
					color:$color-yellowWalk;
					font-family:$font-archivo-narrow;
					font-size:24/16*1em;
					text-transform:uppercase;
				}
				.headerSm{
					display:inline-block;
					margin-right:10px;
					font-family:$font-archivo-narrow;
					font-size:20/16*1em;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			} //end audience tile
		} //end 1x2 tile

		//2x2 and 3x2 tile
		.tile.col-sm-8.row-sm-2,.tile.col-sm-12.row-sm-2{
			//audience tile
			a.proofPoint{
				.caption{
					bottom:30%;
					top:initial;
					transform:none;
					.headerLg{
						display:block;
						font-family:$font-archivo-narrow;
						font-size:34/16*1em;
						line-height:1em;
						text-transform:uppercase;
					}
					.headerMd{
						display:block;
						margin-bottom:10px;
						font-family:$font-archivo-narrow;
						font-size:24/16*1em;
						line-height:1em;
						text-transform:uppercase;
					}
					.headerSm{
						display:none;
					}
					.source{
						font-family:$font-archivo-narrow;
						font-size:1em;
					}
				}
			} //end audience tile
		} //end 3x3 tile

	} //end @media (min-width:768px) and (max-width:991px)
	@media (min-width:480px) and (max-width:767px){
		.tile{
			a.proofPoint{
				.divider{
					width:55px;
					height:6px;
					margin-top:10px;
					margin-bottom:10px;
				}
			}
		}
		//1x1 tile
		.tile.col-xs-6.row-xs-1{
			//audience tile
			a.proofPoint{
				font-size:24/18*1em;
				.fa{
					position:absolute;
					bottom:0;
					right:0;					
					margin-bottom:0px;
					font-size:38px;
				}
				img.icon{
					position:absolute;
					bottom:0;
					right:0;					
					margin-bottom:0px;
					height:38px;
				}
				.divider{
					display:none;
				}
				.text{
					position:absolute;
					display:block;
					bottom:0;
					left:0;
					width:65%;
				}
			} //end audience tile
		} //end 1x1 tile

		//1x2 tile
		.tile.col-xs-6.row-xs-2{
			//audience tile
			a.proofPoint{
				.headerLg{
					display:block;
					margin-bottom:5px;
					color:$color-yellowWalk;
					font-size:58/16*1em;
					line-height:1em;
				}
				.headerMd{
					display:block;
					font-family:$font-archivo-narrow;
					font-size:18/16*1em;
					text-transform:uppercase;
					margin-bottom:10px;
				}
				.headerSm{
					display:none;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			}
		} //end 1x2 tile

		//2x1 tile
		.tile.col-xs-12.row-xs-1{
			//audience tile
			a.proofPoint{
				.headerLg{
					display:block;
					float:left;
					margin-right:15px;
					margin-bottom:5px;
					color:$color-yellowWalk;
					font-size:58/16*1em;
					line-height:0.7em;
				}
				.headerMd{
					display:block;
					font-family:$font-archivo-narrow;
					font-size:18/16*1em;
					text-transform:uppercase;
					margin-bottom:10px;
				}
				.headerSm{
					display:none;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1em;
				}
			}
		} //end 1x2 tile

		//2x2 & 2x3 tile
		.tile.col-xs-12.row-xs-2,.tile.col-xs-12.row-xs-3{
			.caption{
				bottom:30%;
				top:initial;
				transform:none;
				.headerLg{
					display:block;
					margin-bottom:5px;
					color:#fff;
					font-family:$font-archivo-narrow;
					font-size:28/16*1em;
					text-transform:uppercase;
				}
				.headerMd{
					display:block;
					margin-bottom:10px;
					font-family:$font-archivo-narrow;
					font-size:18/16*1em;
					text-transform:uppercase;
				}
				.headerSm{
					display:none;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
				}
			}
		} //end 2x3 tile

	} //end @media (min-width:480px) and (max-width:767px)

	@media (max-width:479px){
		.tile{
			a.proofPoint{
				.divider{
					width:55px;
					height:6px;
					margin-top:10px;
					margin-bottom:10px;
				}
			}
		}
		//1x1 tile
		.tile.col-xs-6.row-xs-1{
			//audience tile
			a.proofPoint{
				font-size:20/18*1em;
				line-height:1em;
				.fa{
					display:block;
					position:absolute;
					bottom:0;
					right:0;
					font-size:28px;
				}
				img.icon{
					display:block;
					position:absolute;
					bottom:0;
					right:0;
					height:28px;
				}
				.divider{
					display:none;
				}
				.text{
					position:absolute;
					display:block;
					bottom:0;
					left:0;
					width:65%;
				}
			} //end audience tile
		} //end 1x1 tile

		//1x2 tile
		.tile.col-xs-6.row-xs-2{
			//audience tile
			a.proofPoint{
				.headerLg{
					display:block;
					margin-bottom:5px;
					color:$color-yellowWalk;
					font-size:58/16*1em;
					line-height:1em;
				}
				.headerMd{
					display:block;
					font-family:$font-archivo-narrow;
					font-size:18/16*1em;
					text-transform:uppercase;
					margin-bottom:10px;
				}
				.headerSm{
					display:none;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1.2em;
				}
			}
		} //end 1x2 tile

		//2x1 tile
		.tile.col-xs-12.row-xs-1{
			//audience tile
			a.proofPoint{
				.headerLg{
					display:block;
					float:left;
					margin-right:15px;
					margin-bottom:10px;
					color:$color-yellowWalk;
					font-size:58/16*1em;
					line-height:0.7em;
				}
				.headerMd{
					display:block;
					font-family:$font-archivo-narrow;
					font-size:18/16*1em;
					text-transform:uppercase;
					margin-bottom:10px;
				}
				.headerSm{
					display:none;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
					line-height:1em;
				}
			}
		} //end 1x2 tile

		//2x2 & 2x3 tile
		.tile.col-xs-12.row-xs-2,.tile.col-xs-12.row-xs-3{
			.caption{
				bottom:30%;
				top:initial;
				transform:none;
				.headerLg{
					display:block;
					margin-bottom:5px;
					color:#fff;
					font-family:$font-archivo-narrow;
					font-size:28/16*1em;
					line-height:1.1em;
					text-transform:uppercase;
				}
				.headerMd{
					display:block;
					margin-bottom:10px;
					font-family:$font-archivo-narrow;
					font-size:18/16*1em;
					line-height:1.1em;
					text-transform:uppercase;
				}
				.headerSm{
					display:none;
				}
				.source{
					font-family:$font-archivo-narrow;
					font-size:1em;
				}
			}
		} //end 2x3 tile

	} //end @media (max-width:479px)
}