.content{
	.boxes{
		.row{
			.tile{
				a.news{
					font-family:$font-archivo-narrow !important;
					.caption{
						.divider{
							background-color:$color-campusGold;
						}
						.fa{
							color:$color-campusGold;
						}
					}
				}
				a.newsroom{
					position:absolute;
					display:block;
					left:30px;
					bottom:30px;
					width:auto;
					height:auto;
					background:none;
					padding:0;
					font-family:$font-archivo-narrow !important;
					.fa{
						display:inline-block;
						margin:0 0 0 10px;
						color:$color-campusGold;
						font-size:1em;
					}
				}
				a.news:link{
					color:#fff;
					font-weight:400;
					text-decoration:none;
				}
				a.news:visited{
					color:#fff;
					font-weight:400;
					text-decoration:none;
				}
				a.news:hover{
					color:#fff;
					font-weight:400;
					text-decoration:none;
				}
				a.news:active{
					color:#fff;
					font-weight:400;
					text-decoration:none;
				}
				a.newsroom:link{
					color:#fff;
					font-weight:400;
					text-decoration:none;
				}
				a.newsroom:visited{
					color:#fff;
					font-weight:400;
					text-decoration:none;
				}
				a.newsroom:hover{
					color:#fff;
					font-weight:400;
					text-decoration:underline;
				}
				a.newsroom:active{
					color:#fff;
					font-weight:400;
					text-decoration:underline;
				}
			}
		}
	}
}

/*--------------------------------
links styling based on tile size
--------------------------------*/
.boxes{
	.tile.icon{
		a.news{
			background-image:url('https://purdue.edu/purdue/images/templateElements/2015/stripes-tile.png');
			background-repeat:repeat;
		}
	}

	//large (lg) screen size
	@media (min-width:1200px){
		.tile{
			a.news{
				.divider{
					width:60px;
					height:8px;
					margin:10px 0;
				}
			}
		}
		//1x1 tile
		.tile.col-lg-2.row-lg-1{
			//audience tile
			a.news{
				font-size:22/16*1em;
				.fa{
					font-size:40px;
				}
				.icon{
					height:40px;
				}
				.divider{
					display:none;
				}
			} //end audience tile
		} //end 1x1 tile

		//1x2 tile
		.tile.col-lg-2.row-lg-2{
			//audience tile
			a.news{
				font-size:24/16*1em;
				line-height:28/24*1em;
				.fa{
					display:none;
				}
				img.icon{
					display:none;
				}
				.divider{
					display:block;
				}
			} //end audience tile
		} //end 1x2 tile

		//1x3 tile
		.tile.col-lg-2.row-lg-3{
			//audience tile
			a.news{
				font-size:26/16*1em;
				line-height:30/26*1em;
				.fa{
					font-size:50px;
				}
				img.icon{
					height:50px;
				}
				.divider{
					display:block;
				}
			} //end audience tile
		} //end 1x3 tile

		//2x1 tile
		.tile.col-lg-4.row-lg-1{
			//audience tile
			a.news{
				background-color:$color-campusGold;
				background-image:none;
				font-size:24/16*1em;
				line-height:26/24*1em;
				.fa{
					display:none;
				}
				img.icon{
					display:none;
				}
				.divider{
					display:block;
					background-color:#000 !important;
				}
				&:link,&:visited,&:hover,&:active{
					color:#000;
				}
			} //end audience tile
		} //end 2x1 tile

		//3x1 tile
		.tile.col-lg-6.row-lg-1{
			//audience tile
			a.news{
				background-color:$color-campusGold;
				background-image:none;
				font-size:26/16*1em;
				line-height:28/26*1em;
				.fa{
					position:absolute;
					right:0;
					bottom:0;
					color:#74550c !important;
					font-size:60px;
					display:block;
				}
				img.icon{
					position:absolute;
					right:0;
					bottom:0;
					height:60px;
					display:block;
				}
				.divider{
					display:block;
					background-color:#000 !important;
				}
				.text{
					display:block;
					max-width:400px;
				}
				&:link,&:visited,&:hover,&:active{
					color:#000;
				}
			} //end audience tile
		} //end 3x1 tile

		//2x2 and 2x3 tile
		.tile.col-lg-4.row-lg-2,.tile.col-lg-4.row-lg-3{
			//audience tile
			a.newsroom{
				z-index:1;
				font-size:15/16*1em;
				line-height:20/16*1em;
			}
			a.news{
				font-size:26/16*1em;
				line-height:28/26*1em;
				.caption{
					left:0;
					right:0;
					bottom:0;
					padding:20px;
					background-image:url('../../images/templateElements/2015/shader65.png');
					background-repeat:repeat;
					.fa{
						display:none;
					}
					img.icon{
						display:none;
					}
					.divider{
						display:none;
					}
				}
			} //end audience tile
			a.newsroom + a.news{
				z-index:0;
				.caption{
					padding:20px 20px 40/26*1em;
				}
			}
		}

		//2x4, 3x2, 3x3, 4x3 tile
		.tile.col-lg-4.row-lg-4,.tile.col-lg-6.row-lg-2,.tile.col-lg-6.row-lg-3,.tile.col-lg-8.row-lg-3{
			//audience tile
			a.newsroom{
				z-index:1;
				font-size:1em;
				line-height:20/16*1em;
			}
			a.news{
				font-size:26/16*1em;
				line-height:28/26*1em;
				.caption{
					left:0;
					right:0;
					bottom:0;
					padding:20px;
					background-image:url('../../images/templateElements/2015/shader65.png');
					background-repeat:repeat;
					.fa{
						display:none;
					}
					img.icon{
						display:none;
					}
					.divider{
						display:none;
					}
				}
			} //end audience tile
			a.newsroom + a.news{
				z-index:0;
				.caption{
					padding:20px 20px 56/38*1em;
				}
			}
		} //end 3x3 tile

	} //end @media (min-width:1200px)
	
	//medium (md) screen size
	@media (min-width:992px) and (max-width:1199px){
		.tile{
			a.news{
				.divider{
					width:55px;
					height:6px;
					margin-top:8px;
					margin-bottom:10px;
				}
			}
		}
		//1x1 tile
		.tile.col-md-2.row-md-1{
			//audience tile
			a.news{
				font-size:20/16*1em;
				.fa{
					font-size:30px;
				}
				img.icon{
					height:30px;
				}
				.divider{
					display:none;
				}
			} //end audience tile
		} //end 1x1 tile

		//1x2 tile
		.tile.col-md-2.row-md-2{
			//audience tile
			a.news{
				font-size:20/16*1em;
				line-height:24/20*1em;
				.fa{
					display:none;
				}
				img.icon{
					display:none;
				}
				.divider{
					display:block;
				}
			} //end audience tile
		} //end 1x2 tile

		//1x3 tile
		.tile.col-md-2.row-md-3{
			//audience tile
			a.news{
				font-size:22/16*1em;
				line-height:26/22*1em;
				.fa{
					font-size:45px;
				}
				img.icon{
					height:45px;
				}
				.divider{
					display:block;
				}
			} //end audience tile
		} //end 1x2 tile

		//2x1 tile
		.tile.col-md-4.row-md-1{
			//audience tile
			a.news{
				background-color:$color-campusGold;
				background-image:none;
				font-size:20/16*1em;
				line-height:22/20*1em;
				.fa{
					display:none;
				}
				img.icon{
					display:none;
				}
				.divider{
					background-color:#000 !important;
					display:block;
				}
				&:link,&:visited,&:hover,&:active{
					color:#000;
				}
			} //end audience tile
		} //end 2x1 tile

		//3x1 tile
		.tile.col-md-6.row-md-1{
			//audience tile
			a.news{
				background-color:$color-campusGold;
				background-image:none;
				font-size:22/16*1em;
				line-height:24/22*1em;
				.fa{
					position:absolute;
					right:0;
					bottom:0;
					color:#74550c !important;
					font-size:50px;
					display:block;
				}
				img.icon{
					position:absolute;
					right:0;
					bottom:0;
					height:50px;
					display:block;
				}
				.divider{
					display:block;
					background-color:#000 !important;
				}
				.text{
					display:block;
					max-width:325px;
				}
				&:link,&:visited,&:hover,&:active{
					color:#000;
				}
			} //end audience tile
		} //end 3x1 tile

		//2x2
		.tile.col-md-4.row-md-2{
			//audience tile
			a.newsroom{
				z-index:1;
				font-size:15/16*1em;
				line-height:20/16*1em;
			}
			a.news{
				font-size:22/16*1em;
				line-height:24/22*1em;
				.caption{
					left:0;
					right:0;
					bottom:0;
					padding:20px;
					background-image:url('../../images/templateElements/2015/shader65.png');
					background-repeat:repeat;
					.fa{
						display:none;
					}
					img.icon{
						display:none;
					}
					.divider{
						display:none;
					}
				}
			} //end audience tile
			a.newsroom + a.news{
				z-index:0;
				.caption{
					padding:20px 20px 40/22*1em;
				}
			}
		}

		//2x4, 3x2, 3x3,4x3 tile
		.tile.col-md-4.row-md-4,.tile.col-md-4.row-md-3,.tile.col-md-6.row-md-2,.tile.col-md-6.row-md-3,.tile.col-lg-8.row-lg-3{
			//audience tile
			a.newsroom{
				z-index:1;
				font-size:1em;
				line-height:20/16*1em;
			}
			a.news{
				font-size:22/16*1em;
				line-height:24/22*1em;
				.caption{
					left:0;
					right:0;
					bottom:0;
					padding:20px;
					background-image:url('../../images/templateElements/2015/shader65.png');
					background-repeat:repeat;
					.fa{
						display:none;
					}
					img.icon{
						display:none;
					}
					.divider{
						display:none;
					}
				}
			} //end audience tile
			a.newsroom + a.news{
				z-index:0;
				.caption{
					padding:20px 20px 65/34*1em;
				}
			}
		} //end 3x3 tile

	} //end @media (min-width:992px) and (max-width:1199px)

	//small (sm) screen size
	@media (min-width:768px) and (max-width:991px){
		.tile{
			a.news{
				.divider{
					width:60px;
					height:8px;
					margin-top:10px;
					margin-bottom:10px;
				}
			}
		}

		//1x1 tile
		.tile.col-sm-4.row-sm-1{
			//audience tile
			a.news{
				font-size:24/16*1em;
				.fa{
					font-size:40px;
				}
				img.icon{
					height:40px;
				}
				.divider{
					display:none;
				}
			} //end audience tile
		} //end 1x1 tile

		//1x2 tile
		.tile.col-sm-4.row-sm-2,.tile.col-sm-4.row-sm-3{
			//audience tile
			a.news{
				font-size:26/16*1em;
				line-height:30/26*1em;
				.fa{
					display:block;
					font-size:50px;
				}
				img.icon{
					display:block;
					height:50px;
				}
				.divider{
					display:block;
				}
			} //end audience tile
		} //end 1x2 tile

		//2x1 tile
		.tile.col-sm-8.row-sm-1{
			//audience tile
			a.news{
				font-size:24/16*1em;
				line-height:26/24*1em;
				background-color:$color-campusGold !important;
				background-image:none !important;
				.fa{
					display:none;
				}
				img.icon{
					display:none;
				}
				.divider{
					display:block;
					background-color:#000 !important;
				}
				.text{
					display:inline-block;
				}
				&:link,&:visited,&:hover,&:active{
					color:#000;
				}
			} //end audience tile
		} //end 1x2 tile

		//3x1 tile
		.tile.col-sm-12.row-sm-1{
			//audience tile
			a.news{
				font-size:28/16*1em;
				line-height:30/24*1em;
				background-color:$color-campusGold !important;
				background-image:none !important;
				.fa{
					position:absolute;
					right:0;
					bottom:0;
					font-size:70px;
					color:#fff !important;
				}
				img.icon{
					position:absolute;
					right:0;
					bottom:0;
					height:70px;
				}
				.divider{
					display:block;
					background-color:#000 !important;
				}
				.text{
					display:inline-block;
					max-width:75%;
				}
				&:link,&:visited,&:hover,&:active{
					color:#000;
				}
			} //end audience tile
		} //end 1x2 tile

		//2x2, 2x3, 2x4, and 3x2 tile
		.tile.col-sm-8.row-sm-2,.tile.col-sm-8.row-sm-3,.tile.col-sm-8.row-sm-4,.tile.col-sm-12.row-sm-2,.tile.col-sm-12.row-sm-3{
			//audience tile
				a.newsroom{
					z-index:1;
					font-size:1em;
					line-height:20/16*1em;
				}
				a.news{
					font-size:26/16*1em;
					line-height:28/26*1em;
					.caption{
						left:0 !important;
						right:0 !important;
						bottom:0 !important;
						padding:20px !important;
						background-image:url('../../images/templateElements/2015/shader65.png');
						background-repeat:repeat;
						.fa{
							display:none;
						}
						img.icon{
							display:none;
						}
						.divider{
							display:none;
						}
					}
				} //end audience tile
				a.newsroom + a.news{
					z-index:0;
					.caption{
						padding:20px 20px 52/30*1em !important;
					}
				}
		} //end 3x3 tile

	} //end @media (min-width:768px) and (max-width:991px)
	@media (min-width:480px) and (max-width:767px){
		.tiles{
			padding-left:0;
		}
		.tile{
			a.news{
				.divider{
					width:55px;
					height:6px;
					margin-top:10px;
					margin-bottom:10px;
				}
			}
		}
		//1x1 tile
		.tile.col-xs-6.row-xs-1{
			//audience tile
			a.news{
				font-size:24/18*1em;
				.fa{
					position:absolute;
					bottom:0;
					right:0;					
					margin-bottom:0px;
					font-size:38px;
				}
				img.icon{
					position:absolute;
					bottom:0;
					right:0;					
					margin-bottom:0px;
					height:38px;
				}
				.divider{
					display:none;
				}
				.text{
					position:absolute;
					display:block;
					bottom:0;
					left:0;
					width:65%;
				}
			} //end audience tile
		} //end 1x1 tile

		//1x2 tile
		.tile.col-xs-6.row-xs-2{
			//audience tile
			a.news{
				font-size:28/18*1em;
				.fa{
					display:none;
				}
				img.icon{
					display:none;
				}
				.divider{
					display:block;
				}
			} //end audience tile
		} //end 1x2 tile

		//2x1 tile
		.tile.col-xs-12.row-xs-1{
			//audience tile
			a.news{
				font-size:26/18*1em;
				background-color:$color-campusGold !important;
				background-image:none !important;
				.fa{
					display:none;
				}
				img.icon{
					display:none;
				}
				.divider{
					display:block;
					background-color:#000 !important;
				}
				.text{
					display:inline-block;
				}
				&:link,&:visited,&:hover,&:active{
					color:#000;
				}
			} //end audience tile
		} //end 1x2 tile

		//2x2 tile
		.tile.col-xs-12.row-xs-2{
			a.newsroom{
				z-index:1;
				font-size:18/18*1em;
				line-height:20/18*1em;
			}
			a.news{
				font-size:22/18*1em;
				line-height:24/22*1em;
				.caption{
					left:0;
					right:0;
					bottom:0;
					padding:15px 20px;
					background-image:url('../../images/templateElements/2015/shader65.png');
					background-repeat:repeat;
					.fa{
						display:none;
					}
					img.icon{
						display:none;
					}
					.divider{
						display:none;
					}
				}
			} //end audience tile
			a.newsroom + a.news{
				z-index:0;
				.caption{
					padding:20px 20px 65/34*1em !important;
				}
			}
			/*a.news{
				font-size:26/18*1em;
				background-color:$color-campusGold !important;
				background-image:none !important;
				.fa{
					display:block;
					color:#8c6507 !important;
					font-size:45px;
				}
				img.icon{
					display:block;
					height:45px;
				}
				.divider{
					display:block;
					background-color:#fff !important;
				}
				.text{
					display:inline-block;
				}
			} //end audience tile*/
		}

		//2x3 & 2x4 tile
		.tile.col-xs-12.row-xs-3,.tile.col-xs-12.row-xs-4{
			//audience tile
			a.newsroom{
				z-index:1;
				font-size:18/18*1em;
				line-height:20/18*1em;
			}
			a.news{
				font-size:28/18*1em;
				line-height:30/28*1em;
				.caption{
					left:0;
					right:0;
					bottom:0;
					padding:20px;
					background-image:url('../../images/templateElements/2015/shader65.png');
					background-repeat:repeat;
					.fa{
						display:none;
					}
					img.icon{
						display:none;
					}
					.divider{
						display:none;
					}
				}
			} //end audience tile
			a.newsroom + a.news{
				z-index:0;
				.caption{
					padding:20px 20px 50/34*1em !important;
				}
			}
		} //end 2x3 tile

	} //end @media (min-width:480px) and (max-width:767px)

	@media (max-width:479px){
		.tiles{
			padding-left:0;
		}
		.tile{
			a.news{
				.divider{
					width:55px;
					height:6px;
					margin-top:10px;
					margin-bottom:10px;
				}
			}
		}
		//1x1 tile
		.tile.col-xs-6.row-xs-1{
			//audience tile
			a.news{
				font-size:20/18*1em;
				line-height:1em;
				.fa{
					display:block;
					font-size:28px;
				}
				img.icon{
					display:block;
					height:28px;
				}
				.divider{
					display:none;
				}
				.text{
					display:block;
				}
			} //end audience tile
		} //end 1x1 tile

		//1x2 tile
		.tile.col-xs-6.row-xs-2{
			//audience tile
			a.news{
				font-size:24/18*1em;
				.fa{
					display:none;
				}
				img.icon{
					display:none;
				}
				.divider{
					display:block;
				}
			}
		} //end 1x2 tile

		//2x1 tile
		.tile.col-xs-12.row-xs-1{
			//audience tile
			a.news{
				font-size:18/18*1em;
				line-height:19/18*1em;
				background-color:$color-campusGold !important;
				background-image:none !important;
				.fa{
					display:none;
				}
				img.icon{
					display:none;
				}
				.divider{
					display:block;
					background-color:#000 !important;
				}
				.text{
					display:inline-block;
				}
				&:link,&:visited,&:hover,&:active{
					color:#000;
				}
			} //end audience tile
		} //end 1x2 tile

		.tile.col-xs-12.row-xs-2{
			//audience tile
			/*a.news{
				font-size:22/18*1em;
				line-height:26/22*1em;
				background-color:$color-campusGold !important;
				background-image:none !important;
				.fa{
					display:block;
					color:#8c6507 !important;
					font-size:40px;
				}
				img.icon{
					display:block;
				}
				.divider{
					display:block;
					background-color:#fff !important;
				}
				.text{
					display:inline-block;
				}
			} //end audience tile*/
			a.newsroom{
				z-index:1;
				font-size:16/18*1em;
				line-height:20/16*1em;
			}
			a.news{
				font-size:22/18*1em;
				line-height:24/22*1em;
				.caption{
					left:0;
					right:0;
					bottom:0;
					padding:20px;
					background-image:url('../../images/templateElements/2015/shader65.png');
					background-repeat:repeat;
					.fa{
						display:none;
					}
					img.icon{
						display:none;
					}
					.divider{
						display:none;
					}
				}
			} //end audience tile
			a.newsroom + a.news{
				z-index:0;
				.caption{
					padding:20px 20px 60/34*1em !important;
				}
			}
		}

		//2x2 & 2x3 tile
		.tile.col-xs-12.row-xs-3,.tile.col-xs-12.row-xs-4{
			//audience tile
			a.newsroom{
				z-index:1;
				font-size:16/18*1em;
				line-height:20/16*1em;
			}
			a.news{
				font-size:24/18*1em;
				line-height:26/24*1em;
				.caption{
					left:0;
					right:0;
					bottom:0;
					padding:20px;
					background-image:url('../../images/templateElements/2015/shader65.png');
					background-repeat:repeat;
					.fa{
						display:none;
					}
					img.icon{
						display:none;
					}
					.divider{
						display:none;
					}
				}
			} //end audience tile
			a.newsroom + a.news{
				z-index:0;
				.caption{
					padding:20px 20px 60/34*1em !important;
				}
			}
		} //end 2x3 tile

	} //end @media (max-width:479px)
}