.eventsContent{
	.eventsHeaderRow{
		background-image:url("https://www.purdue.edu/purdue/images/templateElements/2015/events-headerBackgroundLg.jpg");
		background-position:center center;
		background-size:cover;
		text-align:center;
		h1{
			color:#fff;
			padding-bottom:0;
		}
		.barDivider{
			margin:0 auto;
			width:200px;
			height:4px;
			background-color:$color-campusGold;
		}
	}
	@media(min-width:768px)
	{
		.eventsHeaderRow{
			padding:100px 15px;
		}
	}
	@media(max-width:767px)
	{
		.eventsHeaderRow{
			padding:25px 15px;
		}
	}
	.eventsContainer{
		overflow:hidden;
		padding-top:30px;
		.monthFiltersContainer{
			overflow:hidden;
			margin-bottom:30px;
			ul.monthFilters{
				position:static;
				width:100%;
				min-width:initial;
				border:none;
				box-shadow:none;
				list-style-type:none;
				font-size:1em;
				li{
					display:block;
					width:100%;
				}
			}
		}
		@media(min-width:768px)
		{
			.monthFiltersContainer{
				ul.monthFilters{
					display:block;
					li{
						margin:15px 0 0;
						a.monthFilter{
							overflow:hidden;
							display:block;
							position:relative;
							width:100%;
							padding:15px 10px;
							border:solid 3px #e3e3e3;
							text-align:center;
							font-family:'archivoNarrow',"Helvetica Neue",Helvetica,Arial,sans-serif;
							font-weight:bold;
							white-space:normal;
							.hiddenText{
								position:absolute;
								left:-10000px;
								top:-10000px;
							}
						}
						a.monthFilter:link{
							background-color:#fff;
							color:#000;
							text-decoration:none;
							font-weight:400;
						}
						a.monthFilter:visited{
							background-color:#fff;
							color:#000;
							text-decoration:none;
							font-weight:400;
						}
						a.monthFilter.current:link,a.monthFilter.current:visited,a.monthFilter:hover{
							background-color:#e3e3e3;
							color:#000;
							text-decoration:none;
							font-weight:400;
						}
						a.monthFilter:active{
							background-color:#e3e3e3;
							color:#000;
							text-decoration:none;
							font-weight:400;
						}
					}
					li:first-child{
						margin:0;
					}
				}
			}
		}
		@media(max-width:767px)
		{
			.monthFiltersContainer{
				a.dropdown-toggle{
					display:block;
					font-size:20/18*1em;
				}
				a.dropdown-toggle:link{
					text-decoration:none;
				}
				a.dropdown-toggle:visited{
					text-decoration:none;
				}
				a.dropdown-toggle:hover{
					text-decoration:underline;
				}
				a.dropdown-toggle:active{
					text-decoration:underline;
				}
				ul.monthFilters{
					display:none;
					padding:10px 0 0 15px;
					li{
						a.monthFilter{
							position:relative;
							.hiddenText{
								position:absolute;
								left:-10000px;
								top:-10000px;
							}
						}
					}
				}
			}
			.monthFiltersContainer.open{
				ul.monthFilters{
					position:static;
					display:block;
					font-family:'archivoNarrow',"Helvetica Neue",Helvetica,Arial,sans-serif;
					font-weight:bold;
					li{
						padding:5px 0;
						text-transform:uppercase;
						a.monthFilter{
							display:inline-block;
							padding:7px 12px;
						}
						a.monthFilter:link{
							background-color:none;
							text-decoration:none;
						}
						a.monthFilter:visited{
							background-color:none;
							text-decoration:none;
						}
						a.monthFilter:hover{
							color:#000;
							background-color:$color-campusGold;
							text-decoration:none;
						}
						a.monthFilter:active{
							color:#000;
							background-color:$color-campusGold;
							text-decoration:none;
						}
						a.current:link{
							background-color:$color-campusGold;
							color:#000;
							text-decoration:none;
						}
						a.current:visited{
							background-color:$color-campusGold;
							color:#000;
							text-decoration:none;
						}
						a.current:hover{
							background-color:$color-campusGold;
							color:#000;
							text-decoration:none;
						}
						a.current:active{
							background-color:$color-campusGold;
							color:#000;
							text-decoration:none;
						}
					}
					li:first-child{
						padding-top:0;
					}
				}
			}
		}
		.events{
			.categoryFiltersContainer{
				overflow:hidden;
				h2{
					display:block;
					float:left;
					width:10%;
					margin:0;
					color:#444;
					font-family:"Arial Narrow",Arial,sans-serif;
					font-size:1em;
					line-height:1em;
					text-transform:uppercase;
				}
				ul.categoryFilters{
					display:block;
					float:right;
					margin:0;
					padding:0;
					list-style-type:none;
					font-family:'archivoNarrow',"Helvetica Neue",Helvetica,Arial,sans-serif;
					font-weight:bold;
					li{
						padding:5px 0;
						text-transform:uppercase;
						a.categoryFilter{
							padding:7px 12px;
						}
						a.categoryFilter:link{
							background-color:none;
							text-decoration:none;
						}
						a.categoryFilter:visited{
							background-color:none;
							text-decoration:none;
						}
						a.categoryFilter:hover{
							color:#000;
							background-color:$color-campusGold;
							text-decoration:none;
						}
						a.categoryFilter:active{
							color:#000;
							background-color:$color-campusGold;
							text-decoration:none;
						}
						a.selected:link{
							background-color:$color-campusGold;
							color:#000;
							text-decoration:none;
						}
						a.selected:visited{
							background-color:$color-campusGold;
							color:#000;
							text-decoration:none;
						}
						a.selected:hover{
							background-color:$color-campusGold;
							color:#000;
							text-decoration:none;
						}
						a.selected:active{
							background-color:$color-campusGold;
							color:#000;
							text-decoration:none;
						}
					}
				}
			}
			@media(min-width:1200px)
			{
				.categoryFiltersContainer{
					position:static;
					display:block;
					padding:15px 0 30px;
					h2{
						float:left;
						width:10%;
						padding:7px 0;
					}
					ul.categoryFilters{
						position:static;
						display:block;
						width:90%;
						border:none;
						box-shadow:none;
						li{
							display:inline-block;
							margin:0 0 10px;
							padding:0 0 0 10px;
						}
					}
				}
			}
			@media(min-width:992px) and (max-width:1199px)
			{
				.categoryFiltersContainer{
					padding:15px 0 30px;
					h2{
						float:left;
						width:12%;
						padding:7px 0;
					}
					ul.categoryFilters{
						position:static;
						display:block;
						width:88%;
						border:none;
						box-shadow:none;
						li{
							display:inline-block;
							margin:0 0 10px;
							padding:0 0 0 10px;
						}
					}
				}
			}
			@media (max-width:991px)
			{
				.categoryFiltersContainer{
					padding:0 0 30px;
					h2{
						width:100%;
						padding:0 0 15px;
					}
					ul.categoryFilters{
						width:100%;
						li:first-child{
						padding-left:0;
						}
					}
				}
			}
			@media (min-width:768px) and (max-width:991px)
			{
				.categoryFiltersContainer{
					ul.categoryFilters{
						position:static;
						display:block;
						border:none;
						box-shadow:none;
						li{
							display:inline-block;
							margin:0 0 10px;
							padding:0 0 0 10px;
						}
					}
				}
			}
			@media (max-width:767px)
			{
				.categoryFiltersContainer{
					h2{
						display:none;
					}
					a.dropdown-toggle{
						display:block;
						font-size:20/18*1em;
					}
					a.dropdown-toggle:link{
						text-decoration:none;
					}
					a.dropdown-toggle:visited{
						text-decoration:none;
					}
					a.dropdown-toggle:hover{
						text-decoration:underline;
					}
					a.dropdown-toggle:active{
						text-decoration:underline;
					}
					ul.categoryFilters{
						position:static;
						display:none;
						padding:10px 0 0 15px;
						border:none;
						box-shadow:none;
						font-size:1em;
						li{
							margin:0;
							padding:5px 0;
							a.categoryFilter{
								display:inline-block;
							}
						}
					}
				}
				.categoryFiltersContainer.open{
					ul.categoryFilters{
						display:block;
					}
				}
			}
			.event{
				overflow:hidden;
				margin:0 0 30px 0;
				font-family:'archivoNarrow',"Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size:18/16 * 1em;
				.date{
					overflow:hidden;
					position:relative;
					background-color:#000;
					width:100%;
					color:#fff;
					text-transform:uppercase;
					.day{
						display:inline-block;
						padding:13px;
						background-color:$color-campusGold;
						font-size:24/18 * 1em;
						color:#000;
					}
					.hiddenText{
						position:absolute;
						left:-10000px;
						top:-10000px;
					}
					.month{
						display:inline-block;
						padding:10px;
					}
					.fa{
						float:right;
						display:block;
						padding:15px 15px 15px 0;
						color:$color-yellowWalk;
					}
				}
				a.details{
					display:block;
					width:100%;
					min-height:150px;
					padding:20px;
					line-height:1.25em;
					.timeLocation{
						display:block;
						clear:left;
						width:100%;
						padding-top:15px;
						font-family:'archivoNarrow',"Helvetica Neue",Helvetica,Arial,sans-serif;
						font-weight:bold;
						font-size:16/18 * 1em;
						text-transform:uppercase;
					}
				}
				a.details:link{
					background-color:#eee;
					color:$color-headlineGold;
					text-decoration:none;
					font-weight:400;
					.timeLocation{
						color:#3d3d3d;
					}
				}
				a.details:visited{
					background-color:#eee;
					color:$color-headlineGold;
					text-decoration:none;
					font-weight:400;
					.timeLocation{
						color:#3d3d3d;
					}
				}
				a.details:hover{
					background-color:$color-campusGold;
					color:#000;
					text-decoration:none;
					font-weight:400;
					.timeLocation{
						color:#000;
					}
					.title{
						text-decoration:underline;
					}
				}
				a.details:active{
					background-color:$color-campusGold;
					color:#000;
					text-decoration:none;
					font-weight:400;
					.timeLocation{
						color:#000;
					}
				}
			}
			@media(max-width:767px)
			{
				.event{
					.date{
						.fa{
							font-size:0.95em;
						}
					}
				}
			}
			.singleEventContainer{
				margin:0 0 30px;
				padding:0 15px;
				.singleEvent{
					overflow:hidden;
					padding:30px;
					background-color:#eee;
					h2{
						padding-top:0;
						padding-bottom:0.75em;
					}
					.details{
						img{
							width:100%;
							margin-bottom:20px;
						}
						.fa{
							display:block;
							float:left;
							color:$color-campusGold;
							text-align:center;
						}
						span{
							display:block;
							float:left;
							padding-bottom:15px;
							font-family:'archivoNarrow',"Helvetica Neue",Helvetica,Arial,sans-serif;
							font-weight:bold;
							text-transform:uppercase;
						}
					}
					.description{
						h3:first-child{
							padding-top:0;
							padding-bottom:0.5em;
							font-size:24/16*1em;
						}
					}
					@media(min-width:1200px)
					{
						.details{
							float:left;
							width:30%;
							padding:0 15px 0 0;
							.fa{
								width:8%;
								margin:0 6% 0 0;
								font-size:22/16*1em;
							}
							span{
								width:86%;
								font-size:18/16*1em;
							}
						}
						.description{
							float:left;
							width:70%;
							padding:0 0 0 15px;
						}
					}
					@media(min-width:992px) and (max-width:1199px)
					{
						.details{
							float:left;
							width:35%;
							padding:0 15px 0 0;
							.fa{
								width:8%;
								margin:0 6% 0 0;
								font-size:22/16*1em;
							}
							span{
								width:86%;
								font-size:18/16*1em;
							}
						}
						.description{
							float:left;
							width:65%;
							padding:0 0 0 15px;
						}
					}
					@media(min-width:768px) and (max-width:991px)
					{
						.details{
							width:100%;
							.fa{
								width:6%;
								margin:0 4% 0 0;
								font-size:22/16*1em;
							}
							span{
								width:90%;
								font-size:18/16*1em;
							}
						}
						.description{
							width:100%;
						}
					}
					@media (max-width:767px)
					{
						.details{
							width:100%;
							.fa{
								width:6%;
								margin:0 4% 0 0;
								font-size:22/18*1em;
							}
							span{
								width:90%;
								font-size:18/18*1em;
							}
						}
						.description{
							width:100%;
						}
					}
				}
			}
		}
	}
}