<div class="maincontent col-lg-9 col-md-9 col-sm-9 col-xs-12 right">				
	<picture class="banner">
		<source media="(min-width: 1200px)" srcset="https://www.purdue.edu/pmm-templates/2015/Template-CollegeSchool/images/content-banner.jpg">
		<source media="(min-width: 992)" srcset="https://www.purdue.edu/pmm-templates/2015/Template-CollegeSchool/images/content-banner.jpg">
		<source media="(min-width: 767)" srcset="https://www.purdue.edu/pmm-templates/2015/Template-CollegeSchool/images/content-banner.jpg">
		<source media="(min-width: 481)" srcset="https://www.purdue.edu/pmm-templates/2015/Template-CollegeSchool/images/content-banner.jpg">
		<source srcset="../images/content-banner.jpg">
		<img class="banner" src="https://www.purdue.edu/pmm-templates/2015/Template-CollegeSchool/images/content-banner.jpg">
	</picture>
	<h1>Header 1</h1>
	<div class="imageContainer right useCaption">
		<img src="https://www.purdue.edu/pmm-templates/2015/Template-CollegeSchool/images/proofPoint4.jpg">
		<span class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus placerat sodales. In in dignissim dui. Maecenas ornare pulvinar leo eu hendrerit.</span>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus placerat sodales. In in dignissim dui.</p>
	<p>Maecenas ornare pulvinar leo eu hendrerit. Nam ac risus eget enim porta mattis. Duis facilisis arcu ac convallis dapibus. Cras ex elit, vehicula at finibus faucibus, tristique sit amet lorem.</p>
	<p>Nunc ac leo vel ex dictum ornare eu eu purus. Nulla enim leo, consequat ullamcorper magna sed, lacinia elementum tortor.</p>
	<h2>Heading 2</h2>
	<div id="lipsum">
		<p>Ut id leo non lacus condimentum bibendum at sed mauris. Suspendisse potenti. In vel arcu fringilla sapien cursus egestas. Nam luctus urna ligula, non ullamcorper augue accumsan at. Etiam consectetur nulla risus, vitae maximus lacus hendrerit nec. Aliquam erat volutpat. Proin molestie, magna vestibulum vestibulum tristique, odio velit efficitur libero, in molestie nisi erat non lacus. Aenean diam nunc, cursus in massa et, ultrices convallis leo. In eu nisi tellus. Donec in ullamcorper nibh, non volutpat velit.</p>
		<h3>Heading 3</h3>
		<p>Morbi libero tellus, accumsan in arcu vitae, feugiat placerat nunc. Praesent interdum eu leo in porttitor. Ut euismod sollicitudin sapien congue ultricies. Duis id dolor nisi. Nunc laoreet, lectus et porta consequat, diam nisl elementum libero, sed ullamcorper metus nunc eget libero. Sed sollicitudin quis ipsum quis consequat. Sed metus nisl, bibendum eget venenatis id, posuere id massa. Mauris sed aliquam nunc. Donec orci massa, auctor sit amet metus eu, condimentum aliquet mi. Nunc nec vestibulum magna, ut pulvinar enim. Morbi quis mollis turpis, ut tincidunt leo. Phasellus accumsan lectus in sapien ullamcorper volutpat.</p>
		<p>Fusce a odio finibus, commodo dui quis, iaculis sem. Sed facilisis dignissim dignissim. Aenean mi augue, hendrerit nec tellus volutpat, interdum bibendum urna. Phasellus sit amet pellentesque urna. Proin at lorem sodales, dictum massa eget, fermentum lorem. Duis facilisis vestibulum ligula ut fermentum. Cras volutpat felis vel eros posuere, nec scelerisque nisl eleifend.</p>
		<h3>Heading 3</h3>
	</div>
	<div class="imageContainer left ">
		<img alt="This text is used by screen readers to describe the image." src="https://www.purdue.edu/pmm-templates/2015/Template-CollegeSchool/images/storyImage.jpg">
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id nisi non dui maximus imperdiet. Ut consectetur congue diam porttitor tempor. Maecenas velit diam, malesuada et erat id, molestie luctus nisi. Aliquam eleifend urna auctor tortor rhoncus congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam vestibulum est nec augue placerat venenatis ut vitae lorem. Donec mi velit, luctus nec ullamcorper tristique, suscipit ac risus. Morbi congue elementum eros et auctor. Integer feugiat lacus lectus. Praesent felis tortor, imperdiet ut nunc a, dignissim aliquam lorem. Etiam nec ultricies orci. Suspendisse tristique dolor at leo consectetur facilisis. Sed laoreet eu risus nec molestie. In fringilla sapien lacus, id varius ex pharetra nec.</p>
	<h4>Heading 4</h4>
	<p>Aenean eu massa eget mauris venenatis volutpat vitae sit amet nibh. Etiam faucibus ante diam, vel scelerisque est dictum a. Fusce et augue massa. Maecenas quis mauris convallis, luctus dolor id, porta lectus. Integer pretium dolor vitae risus vestibulum aliquam.</p>
	<p>Donec ac erat at quam vehicula tincidunt. Sed dignissim aliquam tellus facilisis consectetur. Praesent interdum auctor dolor, eget euismod nisi tincidunt nec. Vivamus odio nunc, vestibulum at est quis, congue aliquam lectus. Fusce sed sem eu diam sagittis lacinia. Ut risus sem, varius a justo a, tincidunt mattis purus. Vivamus molestie ornare ornare. Nulla iaculis velit ut rhoncus euismod.</p>
	<h4>Heading 4</h4>
	<div class="videoContainer right">
		<div class="video">
			<noscript>&lt;a href="https://www.youtube.com/watch?v=yOj9gMbbjsY"&gt;Watch $_SerializerTool.serialize($vidTitle) on YouTube&lt;/a&gt;</noscript>
			<iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/yOj9gMbbjsY?rel=0" width="767" kwframeid="1"></iframe>
		</div>
	</div>
	<p>Quisque vitae maximus erat. Nam dictum tincidunt purus, sit amet porttitor erat lobortis id. Nam nec lectus placerat, commodo ligula ut, vestibulum arcu. Aenean sodales felis vel mollis pulvinar. Duis porta nibh enim, imperdiet elementum enim fermentum eget. Aliquam hendrerit feugiat odio at facilisis. Nulla maximus libero nisi, non placerat neque vehicula et.</p>
	<p>In et turpis ex. Aliquam venenatis augue in orci sagittis, eu pretium eros euismod. Duis et vulputate ligula. Aliquam in turpis orci. In non dolor metus. Vivamus vel sem nec urna fringilla rutrum quis ac erat. Duis viverra, odio id sodales condimentum, augue orci egestas tellus, quis luctus lacus odio et massa. Duis magna quam, venenatis eget elementum vitae, semper eu nisi. Nullam porttitor mauris id aliquet lobortis.</p>
</div>