@font-face {
	font-family: 'Champion Lightweight';
	src:url('https://www.purdue.edu/purdue/fonts/BA614B8650880A570.woff2') format('woff2'),
		url('https://www.purdue.edu/purdue/fonts/BA614B8650880A570.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Champion-HTF-Lightweight';
	src:url('https://www.purdue.edu/purdue/fonts/BA614B8650880A570.woff2') format('woff2'),
		url('https://www.purdue.edu/purdue/fonts/BA614B8650880A570.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
