$white: #ffffff;
$black: #000000;
$light-gray: #aaaaaa;
$medium-gray: #707070;
$dark-gray: #2e2e2e;

.intro {
	background-color: $color-campusGold;
	padding: 1.5em;
		

	&__title {
		font-family: $font-archivo-narrow;
		font-size: calc-toRem(36);
		line-height: 1.3em;
		color: $black;
		text-align: center;
		text-transform: uppercase;
		padding: 10px 0 5px;
	}

	&__issue {
		font-family: $font-archivo-narrow;
		font-size: calc-toRem(20);
		line-height: 1.2em;
		color: $black;
		text-align: center;
		padding-top: 5px;
	}

	&__issue::after {
		content: " ";
		display: block;
		width: 120px;
		height: 3px;
		margin: 8px auto !important;
		background-color: $white;
	}

	&__description {
		font-size: calc-toRem(16);
		line-height: 1.5em;
		color: $black;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 5px;
	}
}

.section {
	background-color: $dark-gray;
	padding: 2em 2.5em 0;

	&__heading {
		font-family: $font-champion-middle;
		color: $white;
		font-size: calc-toRem(28);
		line-height: 1.2em;
		text-transform: uppercase;
		margin-bottom: 0;
		padding-bottom: 0;

		&-marginTopLg {
			margin-top: 20px;
		}

		&-marginTopSm {
			margin-top: 0;
		}

		&-lightTheme {
			color: $black;
		}
	}

	&__heading::after {
		content: " ";
		display: block;
		width: 120px;
		height: 3px;
		background-color: $color-campusGold;
		margin: 8px 0 0 0 !important;
	}

	&__list {
		&-other {
			padding: 0;
			margin-top: 30px;
			margin-right: 0;
			list-style-type: none;
		}

		&-paddingBottomLg {
			padding-bottom: 30px;
		}
	}

	&__item {
		&-other {
			display: block;
			overflow: hidden;

			&:first-child {
				padding: 0;
				margin: 0;
			}
		}
	}

	&__list {
		&-archives {
			padding: 0;
			list-style-type: none;
		}
	}

	&__item {
		&-archives {
			display: block;
			overflow: hidden;
			padding: 0;
		}
	}
}

.story {
	margin: 0;
	padding: 0;

	&__title {
		color: $color-campusGold;
		font-size: calc-toRem(28);
		line-height: 1.2em;

		&-lightTheme {
			color: $color-campusGold;
		}
	}

	&__subtitle {
		color: $light-gray;
		font-size: calc-toRem(22);
		font-family: $font-archivo-narrow;
		line-height: 1em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;

		&-lightTheme {
			color: $medium-gray;
		}
	}

	&__teaser {
		color: $white;
		font-size: calc-toRem(16);
		line-height: 1.5em;

		&-lightTheme {
			color: $black;
		}
	}

	&__link {
		font-size: calc-toRem(18);
		line-height: 1.5em;

		&-other {
			display: flex;
			align-items: top;
			margin-top: 10px;
			padding-bottom: calc-toRem(15);

			&:active,
			&:hover,
			&:link,
			&:visited {
				color: $color-campusGold;
				text-decoration: none;
			}

			&-lightTheme {
				color: $medium-gray;
			}

			&::before {
				content: "\f1ea";
				font-family: FontAwesome;
				display: flex;
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: auto;
				justify-content: center;
				align-items: center;
				float: left;
				margin-right: calc-toRem(20);
				margin-top: calc-toRem(-10);
				padding: 0;
				height: 2em;
				width: 2em;
				border-radius: 50%;
				background-color: $black;
				color: $light-gray;
				font-size: 2em;
				line-height: 1em;

				&-lightTheme {
					background-color: $black;
					color: $color-campusGold;
				}
			}
		}
	}

	&-lightTheme {
		background-color: $white;
	}
}

.listItem {
	margin: 0;
	padding: 0;

	&__title {
		font-family: $font-archivo-narrow;
		font-size: calc-toRem(26);
		line-height: 30px;
		color: $color-campusGold;
		margin-top: 0;
		margin-bottom: 5px;
		padding-right: 5px;

		&-lightTheme {
			color: $medium-gray;
		}
	}

	&__issue {
		font-family: $font-archivo-narrow;
		color: $light-gray;
		font-size: calc-toRem(22);
		line-height: 32px;
		margin-top: 0;
		padding-top: 0;

		&-lightTheme {
			color: $medium-gray;
		}
	}

	&__link {
		&-archives {
			display: flex;
			align-items: top;
			margin-bottom: 0;

			&:active,
			&:hover,
			&:link,
			&:visited {
				color: $color-campusGold;
				text-decoration: none;
			}
		}
	}
}

.button {
	margin-top: 1em !important;
}

.cta {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background: repeating-linear-gradient(60deg,#707070,#707070 6px,#777777 6px,#777777 8px);

	&-lightTheme {
		background: repeating-linear-gradient(60deg,#aaaaaa,#aaaaaa 6px,#aeaeae 6px,#aeaeae 8px);
	}

	&__title {
		color: $white;
		font-size: calc-toRem(32);
		line-height: 20px;
		text-align: center;
		margin: 0;
		padding: 10px 0;

		&-lightTheme {
			color: $black;
		}
	}

	&__description {
		color: $white;
		font-size: calc-toRem(20);
		line-height: 27px;
		text-align: center;
		padding-top: 0;
		padding-bottom: 15px;

		&-lightTheme {
			color: $black;
		}
	}
}

.block-center {
	display: block;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.nopadding {
	padding-left: 0;
	padding-right: 0;
}

// styles in this block apply if the screen size is 768px or larger
// correlates to bootrap's size - sm
@media (min-width: 768px) {
	.intro {
		padding: 1.5em;
		margin-top: 0;
		
			&-flexContainer {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

		&__description {
			font-size: calc-toRem(18);
			margin: 0 auto !important;
			width: 75%;
		}

		&__title {
			&-left {
				float: left;
			}

			&-fontSizeLg {
				font-size: calc-toRem(36);
				padding-top: 10px;
			}

			&-fontSizeMd {
				font-size: calc-toRem(26);
				padding: 0;
			}

			&-underline::after {
				content: " ";
				display: block;
				width: 120px;
				height: 3px;
				margin-top: 8px;
				background-color: $white;
			}
		}

		&__issue {
			&-fontSizeLg {
				font-size: calc-toRem(22);
				line-height: 37px;
			}

			&-paddingTopMd {
				padding-top: 5px;
			}

			&-right {
				float: right;
				font-size: calc-toRem(26);
				padding-right: 20px;
			}

			&-underline::after {
				content: " ";
				display: none;
			}
		}
	}

	.section {
		&-marginBottomLg {
			margin-bottom: 30px;
		}

		&-paddingBottomLg {
			padding-bottom: 40px;
		}

		&__heading {
			&-marginTopLg {
				margin-top: 20px;
			}
		}

		&__list {
			&-archives {
				padding: 0;
				list-style-type: none;
			}
		}

		&__item {
			&-archives {
				display: block;
				overflow: hidden;
				padding-right: 20px;
			}
		}
	}

	.cta {
		&__title {
			font-family: $font-archivo-black;
			font-size: calc-toRem(30);
			line-height: 20px;
			padding-top: 0.7em;
			padding-bottom: 0.7em;

			&-archivoNarrow {
				font-family: $font-archivo-narrow;
				padding-top: 0;
				padding-bottom: 0.7em;
			}
		}

		&__description {
			color: $white;
			font-size: calc-toRem(20);
			line-height: 0.5em;
		}
	}

	.bgfix {
		background-color: $dark-gray;
	}
}
// styles in this block apply if the screen size is 992px or larger
// correlates to bootrap's size - md
@media (min-width: 992px) {
	.cta {
		&-width90 {
			width: 90%;
			margin-left: 5%;
			margin-right: 5%;
			margin-bottom: 15%;
			padding-bottom: 8%;
		}
	}

	.story {
		&__title {
			padding-right: 50px;
		}

		&__teaser {
			padding-right: 50px;
		}

		&__link {
			font-size: 17px;
			line-height: 1.5em;
		}
	}

	.listItem {
		&__title {
			font-size: calc-toRem(22);
			line-height: 1.3em;
		}
	}
}
// styles in this block apply if the screen size is 1200px or larger
// correlates to bootrap's size - lg
@media (min-width: 1200px) {}
