@@if(index == 4){
	<div class="collapse accordion__content" id="list-@@id-@@index">
		@@for (var i = 0; i < 4; i++){
			@@include('_accordion-list-item.html',{
				"accordionIndex":@@index,
				"index":`+i+`,
				"color":"@@color"
			})
		}
	</div>
}
@@if(index == 3){
	<div class="collapse accordion__content" id="list-@@id-@@index">
		@@include('_accordion-list-item.html',{
			"accordionIndex":@@index,
			"color":"@@color"
		})
	</div>
}
@@if(index == 2){
	<ol class="collapse accordion__content" id="list-@@id-@@index">
		@@for (var i = 0; i < 6; i++){
			@@include('_accordion-list-item.html',{
				"accordionIndex":@@index,
				"index":`+i+`,
				"color":"@@color"
			})
		}
	</ol>
}
@@if(index == 1 || index > 3){
	<ul class="collapse accordion__content" id="list-@@id-@@index">
		@@for (var i = 0; i < 6; i++){
			@@include('_accordion-list-item.html',{
				"accordionIndex":@@index,
				"index":`+i+`,
				"color":"@@color"
			})
		}
	</ul>
}