<body>
  {{!-- Marketing and Media Templates --}}
  {{#blank-template}}{{> content-blank}}{{/blank-template}}
  {{#audience-template}}{{> content-audience}}{{/audience-template}}
  {{#content-template}}{{> content-content}}{{/content-template}}
  {{#events-template}}{{> content-events}}{{/events-template}}
  {{#office-template}}{{> content-office}}{{/office-template}}
  {{#college-template}}{{> content-college}}{{/college-template}}
  {{#content-accordion}}{{> content-accordion}}{{/content-accordion}}
  {{#content-typography}}{{> content-typography}}{{/content-typography}}
  
  {{!-- Main(Global) JS --}}
  <script src="{{body.main-js}}"></script>
</body>
