<body>
  {{!-- Marketing and Media Templates --}}
  {{#blank-template}}{{> content-blank}}{{/blank-template}}
  {{#audience-template}}{{> content-audience}}{{/audience-template}}
  {{#content-template}}{{> content-content}}{{/content-template}}
  {{#events-template}}{{> content-events}}{{/events-template}}
  {{#department-template}}{{> content-department}}{{/department-template}}
  {{#college-template}}{{> content-college}}{{/college-template}}
  
  {{!-- Main(Global) JS --}}
  <script src="{{body.main-js}}"></script>
</body>
