<header class="header container">
  <section class="header__goldBar container">
    <div class="header__goldBar--inner">
      <button aria-haspopup="true" class="header__goldBar--moButton" aria-expanded="false" >
        <i class="fas fa-bars" aria-hidden="true"></i>&nbsp;
        Quick Links
      </button>
      <section class="header__goldBar--menus">
        
        <nav class="header__goldBar__findInfoFor">
          <button aria-haspopup="true" aria-expanded="false" >
            Find Info For
            <span>&#9660;</span>
          </button>
          <span>Find Info For</span>
          <ul role="menu" id="findInfoFor">
            <li role="none"><a role="menuitem" href="#">Academics</a></li>
            <li role="none"><a role="menuitem" href="#">Admissions</a></li>
            <li role="none"><a role="menuitem" href="#">Current Students</a></li>
            <li role="none"><a role="menuitem" href="#">Athletics</a></li>
            <li role="none"><a role="menuitem" href="#">About</a></li>
            <li role="none"><a role="menuitem" href="#">Careers</a></li>
            <li role="none"><a role="menuitem" href="#">Prospective Students</a></li>
            <li role="none"><a role="menuitem" href="#">Research and Partnerships</a></li>
            <li role="none"><a role="menuitem" href="#">Entrepreneurship and Commercialization</a></li>
          </ul>
        </nav>
        <nav class="header__goldBar__quickLinks">
          <span>Quick Links</span>
        <ul role="menu">
          <li role="none"><a role="menuitem" href="#">Apply</a></li>
          <li role="none"><a role="menuitem" href="#">News</a></li>
          <li role="none"><a role="menuitem" href="#">President</a></li>
          <li role="none"><a role="menuitem" href="#">Shop</a></li>
          <li role="none"><a role="menuitem" href="#">Visit</a></li>
          <li role="none"><a role="menuitem" href="#">Give</a></li>
          <li role="none"><a role="menuitem" href="#">Emergency</a></li>
        </ul>
      </nav>
      </section>
      <button class="header__goldBar__search" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search" aria-hidden="true"></i></button>
      <span class="sr-only">Search</span>
      <section id="searchDropdown" class='header__goldBar__search--dropdown'>
        <div class='header__goldBar__search--container'>
          <div class="form-group">
            <script>
              (function() {
                var cx = '017690826183710227054:mjxnqnpskjk';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <div id="cse-search-form">
              <div class="gsc-control-searchbox-only gsc-control-searchbox-only-en" dir="ltr">
                <form class="gsc-search-box gsc-search-box-tools" accept-charset="utf-8">
                  <table class="gsc-search-box" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td class="gsc-input">
                          <div class="gsc-input-box" id="gsc-iw-id1">
                            <table style="width: 100%; padding: 0px;" id="gs_id50" class="gstl_50 gsc-input" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td id="gs_tti50" class="gsib_a">
                                    <input autocomplete="off" type="text" size="10" class="gsc-input" name="search" title="search" style="width: 100%; padding: 0px; border: medium none; margin: 0px; height: auto; background: rgb(255, 255, 255) url(&quot;https://www.google.com/cse/static/images/1x/googlelogo_lightgrey_46x16dp.png&quot;) no-repeat scroll left center; text-indent: 48px; outline: currentcolor none medium;" id="gsc-i-id1" placeholder="Custom Search" dir="ltr" spellcheck="false">
                                  </td>
                                  <td class="gsib_b">
                                    <div class="gsst_b" id="gs_st50" dir="ltr">
                                      <a class="gsst_a" href="javascript:void(0)" style="display: none;" title="Clear search box" role="button">
                                        <span class="gscb_a" id="gs_cb50" aria-hidden="true">×</span>
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td class="gsc-search-button">
                          <button class="gsc-search-button gsc-search-button-v2">
                            <svg width="13" height="13" viewBox="0 0 13 13">
                              <title>search</title>
                              <path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path>
                            </svg>
                          </button>
                        </td>
                        <td class="gsc-clear-button">
                          <div class="gsc-clear-button" title="clear results">&nbsp;</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>      
          </div>
        </div>
      </section>
    </div>
  </section>
  <section class="header__signature container">
    <section class="header__signature--inner">
      <a class="header__signature--logo" id="purdueLogo" href="https://www.purdue.edu" aria-label="Purdue Logo">
        <div>
          <object data="https://www.purdue.edu/purdue/images/logo.svg" tabindex='-1' type="image/svg+xml" aria-labelledby="purdueLogo"></object>
        </div>
      </a>
      <article class="header__signature--siteName">
        <a id="siteName" href="#">{{site-name}}</a>
        {{#site-tagline}}
        <div id="siteTagline">
          <a href="{{link}}">{{title}}</a>
        </div>
        {{/site-tagline}}
      </article>
    </section>
  </section>
  <nav class="header__mainNav container">
    <button id="mainNavMo" aria-haspopup="true" aria-expanded="false" >
      <i class="fas fa-bars" aria-hidden="true"></i>
      Menu
    </button>
    <section class="header__mainNav--main">
      <ul role='menubar' aria-label="Main Navigation">
        <li role="none"><a role='menuitem' href="#">Home</a></li>
        <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="/html/mm/templates/college/college-mixed.html">College<span>&#9660;</span></a>
          <ul role='menu' class="header__mainNav--dropdownOuter">
            <li role="none"><a role='menuitem' href="/html/mm/templates/college/college-mixed.html">Mixed Tiles Example</a></li>
            <li role="none"><a role='menuitem' href="/html/mm/templates/college/college-test.html">Big tile Example</a></li>
            <li role="none">
              <a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button--inner dropdown-button" href="/html/mm/templates/college/college-audience-1.html">Audience Tiles<span>&#9656;</span></a>
              <ul role='menu' class="header__mainNav--dropdownInner">
                <li role="none"><a role='menuitem' href="/html/mm/templates/college/college-audience-1.html">Audience Tiles Example 1</a></li>
                <li role="none"><a role='menuitem' href="/html/mm/templates/college/college-audience-2.html">Audience Tiles Example 2</a></li>
              </ul>
            </li>
            <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button--inner dropdown-button" href="/html/mm/templates/college/college-news-1.html">News Tiles<span>&#9656;</span></a>
              <ul role='menu' class="header__mainNav--dropdownInner">
                <li role="none"><a role='menuitem' href="/html/mm/templates/college/college-news-1.html">News Tiles Example 1</a></li>
                <li role="none"><a role='menuitem' href="/html/mm/templates/college/college-news-2.html">News Tiles Example 2</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="/html/mm/templates/office/office-tiles-2.html">Department/Office<span>&#9660;</span></a>
          <ul role='menu' class="header__mainNav--dropdownOuter">
            <li role="none"><a role='menuitem' href="/html/mm/templates/office/office-tiles-2.html">Department/Office 2 tiles</a></li>
            <li role="none"><a role='menuitem' href="/html/mm/templates/office/office-tiles-3.html">Department/Office 3 tiles</a></li>
            <li role="none"><a role='menuitem' href="/html/mm/templates/office/office-tiles-4.html">Department/Office 4 tiles</a></li>
          </ul>
        </li>
        <li role="none"><a role='menuitem' href="/html/mm/templates/audience.html">Audience</a></li>
        <li role="none"><a role='menuitem' href="/html/mm/templates/content.html">Content</a></li>
        <li role="none"><a role='menuitem' href="/html/mm/templates/blank.html">Blank</a></li>
        <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="/html/mm/templates/accordion.html">Web Components<span>&#9660;</span></a>
          <ul role='menu' class="header__mainNav--dropdownOuter">
            <li role="none"><a role='menuitem' href="/html/mm/templates/components/accordion.html">Accordion</a></li>
            <li role="none"><a role='menuitem' href="/html/mm/templates/components/button.html">Button</a></li>
            <li role="none"><a role='menuitem' href="/html/mm/templates/components/typography.html">Typography</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</header>
