<article class="content__main">
    <picture class="content__banner">
        <source media="(min-width: 1200px)"
            srcset="https://www.purdue.edu/purdue/images/web-templates/placeholders/content_banner-lg.jpg">
        <source media="(min-width: 992px)"
            srcset="https://www.purdue.edu/purdue/images/web-templates/placeholders/content_banner-md.jpg">
        <source media="(min-width: 767px)"
            srcset="https://www.purdue.edu/purdue/images/web-templates/placeholders/content_banner-sm.jpg">
        <source media="(min-width: 481px)"
            srcset="https://www.purdue.edu/purdue/images/web-templates/placeholders/content_banner-lg.jpg">
        <source srcset="https://www.purdue.edu/purdue/images/web-templates/placeholders/content_banner-xs.jpg">
        <img class="content__banner"
            src="https://www.purdue.edu/pmm-templates/2015/Template-CollegeSchool/images/content-banner.jpg">
    </picture>
    <h1>Lorem ipsum dolor Heading 1</h1>
    <section class="content__group">
        <figure class="imageContainer right">
            <img src="https://www.purdue.edu/purdue/images/web-templates/placeholders/content_main-01.jpg"
                alt="Alt text">
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
            placerat sodales. In in dignissim dui.</p>
        <p>Maecenas ornare pulvinar leo eu hendrerit. Nam ac risus eget enim porta mattis. Duis facilisis arcu ac
            convallis dapibus. Cras ex elit, vehicula at finibus faucibus, tristique sit amet lorem.</p>
        <p>Nunc ac leo vel ex dictum ornare eu eu purus. Nulla enim leo, consequat ullamcorper magna sed, lacinia
            elementum tortor.</p>
        <h2>Lorem ipsum dolor Heading 2</h2>
 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
            placerat sodales. In in dignissim dui.</p>
 
    </section>
</article>