<article class="content__main">
    <h1>Lorem ipsum dolor Heading 1</h1>
    <section class="content__group">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
            placerat sodales. In in dignissim dui.</p>
        <p>Maecenas ornare pulvinar leo eu hendrerit. Nam ac risus eget enim porta mattis. Duis facilisis arcu ac
            convallis dapibus. Cras ex elit, vehicula at finibus faucibus, tristique sit amet lorem.</p>
    </section>
    <section class="content__bio">
        <figure class="imageContainer bio__image">
            <img src="https://via.placeholder.com/150x200"
                alt="Alt text">
        </figure>
        <div class="bio__content">
            <h2>Lorem ipsum</h2>
            <h3>Maecenas ornare pulvinar</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h3 class="padding-top">Nam ac risus</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h3 class="padding-top">Cras ex elit vehicula at</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
                placerat sodales. In in dignissim dui.</p>
        </div>
    </section>
        <section class="content__bio">
        <figure class="imageContainer bio__image">
            <img src="https://via.placeholder.com/150x200"
                alt="Alt text">
        </figure>
        <div class="bio__content">
            <h2>Lorem ipsum</h2>
            <h3>Maecenas ornare pulvinar</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h4 class="padding-top">Nam ac risus</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h5 class="padding-top">Cras ex elit vehicula at</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
                placerat sodales. In in dignissim dui.</p>
        </div>
    </section>
        <section class="content__bio">
        <figure class="imageContainer bio__image">
            <img src="https://via.placeholder.com/150x200"
                alt="Alt text">
        </figure>
        <div class="bio__content">
            <h2>Lorem ipsum</h2>
            <h3>Maecenas ornare pulvinar</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h3 class="padding-top">Nam ac risus</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h3 class="padding-top">Cras ex elit vehicula at</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
                placerat sodales. In in dignissim dui.</p>
        </div>
    </section>
</article>