<article class="content__main">
    <picture class="content__banner">
        <source media="(min-width: 1200px)"
            srcset="https://www.purdue.edu/brand/images/web-templates/placeholders/content_banner-lg.jpg">
        <source media="(min-width: 992px)"
            srcset="https://www.purdue.edu/brand/images/web-templates/placeholders/content_banner-md.jpg">
        <source media="(min-width: 767px)"
            srcset="https://www.purdue.edu/brand/images/web-templates/placeholders/content_banner-sm.jpg">
        <source media="(min-width: 481px)"
            srcset="https://www.purdue.edu/brand/images/web-templates/placeholders/content_banner-lg.jpg">
        <source srcset="https://www.purdue.edu/brand/images/web-templates/placeholders/content_banner-xs.jpg">
        <img class="content__banner"
            src="https://www.purdue.edu/pmm-templates/2015/Template-CollegeSchool/images/content-banner.jpg">
    </picture>
    <h1>Lorem ipsum dolor Heading 1</h1>
    <section class="content__group">
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit Subheading 3</h3>
        <figure class="imageContainer right">
            <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/content_main-01.jpg"
                alt="Alt text">
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
            placerat sodales. In in dignissim dui.</p>
        <p>Maecenas ornare pulvinar leo eu hendrerit. Nam ac risus eget enim porta mattis. Duis facilisis arcu ac
            convallis dapibus. Cras ex elit, vehicula at finibus faucibus, tristique sit amet lorem.</p>
        <p>Nunc ac leo vel ex dictum ornare eu eu purus. Nulla enim leo, consequat ullamcorper magna sed, lacinia
            elementum tortor.</p>
        <p>Nunc ac leo vel ex dictum ornare eu eu purus. Nulla enim leo, consequat ullamcorper magna sed, lacinia
            elementum tortor.</p>
        <p>Nunc ac leo vel ex dictum ornare eu eu purus. Nulla enim leo, consequat ullamcorper magna sed, lacinia
            elementum tortor.</p>
        <h2>Lorem ipsum dolor Heading 2</h2>
        <figure class="imageContainer left useCaption">
            <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/content_main-01.jpg"
                alt="Alt text">
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus.
            </figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
            placerat sodales. In in dignissim dui.</p>
        <p>Maecenas ornare pulvinar leo eu hendrerit. Nam ac risus eget enim porta mattis. Duis facilisis arcu ac
            convallis dapibus. Cras ex elit, vehicula at finibus faucibus, tristique sit amet lorem.</p>
        <p>Nunc ac leo vel ex dictum ornare eu eu purus. Nulla enim leo, consequat ullamcorper magna sed, lacinia
            elementum tortor.</p>
        <h2>Lorem ipsum dolor Heading 2</h2>
        <figure class="imageContainer useCaption">
            <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/content_main-01.jpg"
                alt="Alt text">
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus.
            </figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
            placerat sodales. In in dignissim dui.</p>
        <p>Maecenas ornare pulvinar leo eu hendrerit. Nam ac risus eget enim porta mattis. Duis facilisis arcu ac
            convallis dapibus. Cras ex elit, vehicula at finibus faucibus, tristique sit amet lorem.</p>
        <p>Nunc ac leo vel ex dictum ornare eu eu purus. Nulla enim leo, consequat ullamcorper magna sed, lacinia
            elementum tortor.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras
                rhoncus placerat sodales. In in dignissim dui.
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus.
                        Cras rhoncus placerat sodales. In in dignissim dui.
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget
                                faucibus. Cras rhoncus placerat sodales. In in dignissim dui.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget
                                faucibus. Cras rhoncus placerat sodales. In in dignissim dui.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget
                                faucibus. Cras rhoncus placerat sodales. In in dignissim dui.</li>
                        </ul>
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus.
                        Cras rhoncus placerat sodales. In in dignissim dui.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus.
                        Cras rhoncus placerat sodales. In in dignissim dui.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus.
                        Cras rhoncus placerat sodales. In in dignissim dui.</li>
                </ul>
            </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras
                rhoncus placerat sodales. In in dignissim dui.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras
                rhoncus placerat sodales. In in dignissim dui.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras
                rhoncus placerat sodales. In in dignissim dui.</li>
        </ul>
        <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras
                rhoncus placerat sodales. In in dignissim dui.
                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus.
                        Cras rhoncus placerat sodales. In in dignissim dui.
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget
                                faucibus. Cras rhoncus placerat sodales. In in dignissim dui.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget
                                faucibus. Cras rhoncus placerat sodales. In in dignissim dui.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget
                                faucibus. Cras rhoncus placerat sodales. In in dignissim dui.</li>
                        </ol>
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus.
                        Cras rhoncus placerat sodales. In in dignissim dui.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus.
                        Cras rhoncus placerat sodales. In in dignissim dui.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus.
                        Cras rhoncus placerat sodales. In in dignissim dui.</li>
                </ol>
            </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras
                rhoncus placerat sodales. In in dignissim dui.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras
                rhoncus placerat sodales. In in dignissim dui.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras
                rhoncus placerat sodales. In in dignissim dui.</li>
        </ol>
        <h3>Lorem ipsum dolor Heading 3</h3>
        <div class="video right">
            <div class="videoContainer">
                <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
            placerat sodales. In in dignissim dui.</p>
        <p>Maecenas ornare pulvinar leo eu hendrerit. Nam ac risus eget enim porta mattis. Duis facilisis arcu ac
            convallis dapibus. Cras ex elit, vehicula at finibus faucibus, tristique sit amet lorem.</p>
        <p>Nunc ac leo vel ex dictum ornare eu eu purus. Nulla enim leo, consequat ullamcorper magna sed, lacinia
            elementum tortor.</p>
        <h4>Lorem ipsum dolor Heading 4</h4>
        <div class="video left">
            <div class="videoContainer">
                <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
            placerat sodales. In in dignissim dui.</p>
        <p>Maecenas ornare pulvinar leo eu hendrerit. Nam ac risus eget enim porta mattis. Duis facilisis arcu ac
            convallis dapibus. Cras ex elit, vehicula at finibus faucibus, tristique sit amet lorem.</p>
        <p>Nunc ac leo vel ex dictum ornare eu eu purus. Nulla enim leo, consequat ullamcorper magna sed, lacinia
            elementum tortor.</p>
        <h5>Lorem ipsum dolor Heading 5</h5>
        <div class="video">
            <div class="videoContainer">
                <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
            placerat sodales. In in dignissim dui.</p>
        <p>Maecenas ornare pulvinar leo eu hendrerit. Nam ac risus eget enim porta mattis. Duis facilisis arcu ac
            convallis dapibus. Cras ex elit, vehicula at finibus faucibus, tristique sit amet lorem.</p>
        <p>Nunc ac leo vel ex dictum ornare eu eu purus. Nulla enim leo, consequat ullamcorper magna sed, lacinia
            elementum tortor.</p>
        <h6>Lorem ipsum dolor Heading 6</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet congue enim eget faucibus. Cras rhoncus
            placerat sodales. In in dignissim dui.</p>
        <blockquote class="quote">
            <p class="quote__content">"Acumin Pro SemiCondensed Bold 1.5em black Consectetur adipisicing elit. At illum
                esse
                quas sunt, reiciendis magnam itaque aut exercitationem et, voluptatum laboriosam expedita, quia officia
                ipsum nemo molestias alias sequi vero."</p>
            <p class="quote__source">- Acumin Pro SemiCondensed Bold 1.125em aged gold</p>
        </blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quidem similique, aspernatur illum tempora,
            nostrum pariatur eos consequuntur atque minus fugit deleniti illo reprehenderit architecto quis ipsam
            debitis asperiores temporibus!</p>
        <blockquote class="quote quote-mark">
            <p class="quote__content">"Acumin Pro SemiCondensed Bold 1.5em black Consectetur adipisicing elit. At illum
                esse
                quas sunt, reiciendis magnam itaque aut exercitationem et, voluptatum laboriosam expedita, quia officia
                ipsum nemo molestias alias sequi vero."</p>
            <p class="quote__source">- Acumin Pro SemiCondensed Bold 1.125em aged gold</p>
        </blockquote>
        <p>Maecenas ornare pulvinar leo eu hendrerit. Nam ac risus eget enim porta mattis. Duis facilisis arcu ac
            convallis dapibus. Cras ex elit, vehicula at finibus faucibus, tristique sit amet lorem.</p>
        <p>Nunc ac leo vel ex dictum ornare eu eu purus. Nulla enim leo, consequat ullamcorper magna sed, lacinia
            elementum tortor.</p>
    </section>
</article>