<aside class="content__aside">
    {{#equals side-nav.type 'components'}}
    <nav class="content__side-nav">
        <ul role='menu' aria-label="Side Navigation">
            <li role="none">Web Components</li>
            <li role="none"><a role='menuitem' href="./accordion.html">Accordions</a></li>
            <li role="none"><a role='menuitem' href="./button.html">Buttons</a></li>
            <li role="none"><a role='menuitem' href="./typography.html">Typography</a></li>
        </ul>
    </nav>
    {{else}}
    <nav class="content__side-nav">
        <ul role='menu' aria-label="Side Navigation">
            <li role="none"><a role='menuitem' href="#">Content Example</a></li>
            <li role="none"><a role='menuitem' href="#">Content Example -- This link is on two lines</a></li>
            <li role="none"><a role='menuitem' aria-haspopup="true" aria-expanded="false" class="side-nav dropdown-button" href='#'>Submenu Example long title test</a>
                <ul role='menu' class="dropdown-content">
                    <li role="none"><a role='menuitem' href="#">Link 1</a></li>
                    <li role="none"><a role='menuitem' href="#">Link 2</a></li>
                </ul>
            </li>
            <li role="none"><a role='menuitem' aria-haspopup="true" aria-expanded="false" class="side-nav dropdown-button" href='#'>Submenu Example</a>
                <ul role='menu' class="dropdown-content">
                    <li role="none"><a role='menuitem' href="#">Link 1</a></li>
                    <li role="none"><a role='menuitem' href="#">Link 2</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <section class="content__side-content">
        <div class="videoContainer">
            <iframe title="YouTube Video title" allowfullscreen="" frameborder="0" height="240" src="https://www.youtube.com/embed/OE02yf5WHF4?rel=0"></iframe>
        </div>
        <article>
            <h2 class="heading--4">Dolor Sit</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, possimus.</p>  
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, possimus.</p>   
        </article>
        <button class="button">Call to action</button>
    </section>
    {{/equals}}
</aside>
