<div class="bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p>Purdue University, 610 Purdue Mall, West Lafayette, IN 47907, (765) 494-4600</p>
				<p><a href="https://www.purdue.edu/purdue/disclaimer.html"> © 2015 Purdue University</a> | <a href="https://www.purdue.edu/purdue/ea_eou_statement.html">An equal access/equal opportunity university</a> | <a href="https://www.purdue.edu/securepurdue/DMCAAgent.cfm">Copyright Complaints</a> | <a href="https://www.purdue.edu/marketing" target="_blank">Maintained by ORGANIZATION NAME HERE</a></p>
				<p>Trouble with this page? Disability-related <a href="https://www.purdue.edu/disabilityresources/">accessibility</a> issue? Please contact&nbsp;us at <a href="mailto:online@purdue.edu">organization-email@purdue.edu</a>.</p>
			</div>
		</div>
	</div>
</div>