.row {
    display: flex;
    width: 1140px;
    @include display-lg {
      width: 940px;
    }
    @include display-md {
      width: 720px;
    }
    @include display-sm {
      width: 100%;
    }
    @media only print {
        display: block;
    }
    &--college {
      justify-content: space-between;      
      height: 34.5rem;      
      @include display-md {
        flex-direction: column;
        height: auto; 
      }
      @include display-sm {
        padding: 0 1rem;
      }
    }
}
