<!DOCTYPE html>
<html lang="en">
	<head>
		@@include('../partials/head/_all.html',{
			"title":"Blank Page Template",
			"description":"This is an example of v1.0.0 of the blank page template.",
			"author":"Place your office here.",
			"css":"../css/blank/blank",
			"includeArchivoBlack":false
		})
	</head>
	<body>
		@@include('../partials/header/_all.html',{
			"siteName":"Organization Name Here",
			"siteTagline":"Secondary Name College, School or Unit"
		})
		@@include('../partials/navigation/_main.html')
		@@include('../partials/content-blank/_all.html')
		@@include('../partials/footer/_all.html')
	</body>
</html>
