//grid
$lgRowHeight:123+20;
$mdRowHeight:120+20; //Keep same proportion of tile height between large and medium. (1160 = full lg width | 960 = full md width)
$smRowHeight:150+20;
$xsRowHeight:160;
.collegeContent{
	.grid{
		.introContainer{
			padding:10px;
			.intro{
				width:100%;
				margin:-10px 0;
				padding:30px;
				background-color:#d8d8d8;
				h1{
					margin-top:0;
					padding-top:0;
				}
				@media (min-width:768px)
				{
					h1{
						font-size:28/16*1em;
						line-height:30/28*1em;
					}
				}
				@media (max-width:767px)
				{
					h1{
						font-size:28/18*1em;
						line-height:30/28*1em;
					}
				}
				a.featureLink{
					display:block;
					width:100%;
					margin:15px 0 0;
					padding:7px 10px;
					border:solid 2px #bbb;
					color:#000;
				}
				a.featureLink:link{
					background-color:#d8d8d8;
					font-weight:normal;
					text-decoration:none;
				}
				a.featureLink:visited{
					background-color:#d8d8d8;
					font-weight:normal;
					text-decoration:none;
				}
				a.featureLink:hover{
					background-color:#bbb;
					font-weight:normal;
					text-decoration:none;
				}
				a.featureLink:active{
					background-color:#bbb;
					font-weight:normal;
					text-decoration:none;
				}
			}
		}
		.tiles{
			.row{
				.tile{
					a{
						font-family:'archivoNarrow',"Helvetica Neue",Helvetica,Arial,sans-serif;
						color:#fff;
					}
					a:link{
						text-decoration:none;
						font-weight:400;
					}
				}

				@mixin iconTiles($size,$query){
					@media #{$query}{
						//tall news tiles
						.tile.col-#{$size}-3.row-#{$size}-1,.tile.col-#{$size}-3.row-#{$size}-2,.tile.col-#{$size}-3.row-#{$size}-3,.tile.col-#{$size}-3.row-#{$size}-4{
							a.news{
								background-repeat:repeat;
								background-image:url("https://purdue.edu/purdue/images/templateElements/2015/stripes-tile.png");
								.caption{
									.divider{
										background-color:$color-campusGold;
									}
									.fa{
										color:$color-campusGold;
									}
								}
							}
						}
						//long news tiles
						.tile.col-#{$size}-6.row-#{$size}-1,.tile.col-#{$size}-9.row-#{$size}-1,.tile.col-#{$size}-12.row-#{$size}-1{
							a.news{
								background-color:$color-campusGold;
								color:#000;
								.caption{
									.divider{
										background-color:#000;
									}
									.fa{
										color:#74550c !important;
									}
								}
							}
						}
						//audience icon tiles
						.tile.col-#{$size}-3.row-#{$size}-1,.tile.col-#{$size}-6.row-#{$size}-1,.tile.col-#{$size}-9.row-#{$size}-1,.tile.col-#{$size}-12.row-#{$size}-1,.tile.col-#{$size}-3.row-#{$size}-2,.tile.col-#{$size}-3.row-#{$size}-3,.tile.col-#{$size}-3.row-#{$size}-4{
							a.audience{
								background-repeat:repeat;
								background-image:url("https://purdue.edu/purdue/images/templateElements/2015/stripes-tile.png");
								.caption{
									.divider{
										background-color:#fff;
									}
									.fa{
										color:#fff;
									}
								}
							}
						}
					}
				}
				@include iconTiles("lg","(min-width:1200px)");
				@include iconTiles("md","(min-width:992px) and (max-width:1199px)");
				@include iconTiles("sm","(min-width:768px) and (max-width:991px)");
				@media (max-width:767px)
				{
					//1x1,1x2,1x3,1x4 tile
					.tile.col-xs-6.row-xs-1,.tile.col-xs-6.row-xs-2,.tile.col-xs-6.row-xs-3,.tile.col-xs-6.row-xs-4
					{
						a.audience,a.news{
							background-repeat:repeat;
							background-image:url("https://purdue.edu/purdue/images/templateElements/2015/stripes-tile.png");
						}
						a.audience{
							.caption{
								.divider{
									background-color:#fff;
								}
								.fa{
									color:#fff;
								}
							}
						}
						a.news{
							.caption{
								.divider{
									background-color:$color-campusGold;
								}
								.fa{
									color:$color-campusGold;
								}
							}
						}
					}
					//1x2 tile
					.tile.col-xs-12.row-xs-1
					{
						a.audience{
							background-repeat:repeat;
							background-image:url("https://purdue.edu/purdue/images/templateElements/2015/stripes-tile.png");
							.caption{
								.divider{
									background-color:#fff;
								}
								.fa{
									color:#fff;
								}
							}
						}
						a.news{
							background-color:$color-campusGold;
							color:#000;
							.caption{
								.divider{
									background-color:#000;
								}
								.fa{
									color:$color-headlineGold !important;
								}
							}
						}
					}
				}

				@mixin iconDividerColor($audience,$color){
					a.audience.#{$audience}{
						.caption{
							.divider{
								background-color:$color !important;
							}
							.fa{
								color:$color !important;
							}
						}
					}
				}
				@include iconDividerColor("acceptToday",$color-celeryBogGreen);
				@include iconDividerColor("academics",$color-campusGold);
				@include iconDividerColor("admissions",$color-campusGold);
				@include iconDividerColor("alumni",$color-campusGold);
				@include iconDividerColor("applyNow",$color-campusGold);
				@include iconDividerColor("artsIdeas",$color-mackeyOrange);
				@include iconDividerColor("athletics",$color-moonDustGray);
				@include iconDividerColor("careers",$color-ameliaSkyBlue);
				@include iconDividerColor("corporatePartners",$color-ameliaSkyBlue);
				@include iconDividerColor("currentStudents",$color-fountainRunTeal);
				@include iconDividerColor("events",$color-yellowWalk);
				@include iconDividerColor("facultyStaff",$color-springFestGreen);
				@include iconDividerColor("giveNow",$color-yellowWalk);
				@include iconDividerColor("inclusion",$color-campusGold);
				@include iconDividerColor("news",$color-campusGold);
				@include iconDividerColor("parentsFamilies",$color-rossAdeGreen);
				@include iconDividerColor("prospectiveStudents",$color-campusGold);
				@include iconDividerColor("research",$color-slayterSkyBlue);
				@include iconDividerColor("visitCampus",$color-yellowWalk);
				//misc colors
				@include iconDividerColor("bellTowerBrick",$color-bellTowerBrick);
				@include iconDividerColor("coalGray",$color-coalGray);
				@include iconDividerColor("everTrueBlue",$color-everTrueBlue);
				@include iconDividerColor("landGrantGreen",$color-landGrantGreen);
				@include iconDividerColor("mackeyOrange",$color-mackeyOrange);
				@include iconDividerColor("oakenBucketBrown",$color-oakenBucketBrown);
				@media (min-width:1200px){
					//1x1 tile
					.tile.col-lg-3.row-lg-1{
						a.audience,a.news{
							font-size:22/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:32px;
									line-height:32px;
									margin-bottom:15px;
								}
								.img.icon{
									display:block;
									height:32px;
									margin-bottom:15px;
								}
								.divider{
									display:none;
								}
								.icon{
									display:block;
									height:32px;
									margin-bottom:15px;
								}
							}
						}
					}
					//1x2 tile
					.tile.col-lg-3.row-lg-2{
						a.audience{
							font-size:28/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:38px;
									line-height:38px;
									margin-bottom:15px;
								}
								img.icon{
									display:block;
									height:38px;
									margin-bottom:15px;
								}
								.divider{
									display:block;
									height:7px;
									width:50px;
									margin-bottom:15px;
								}
								.icon{
									display:block;
									height:38px;
									margin-bottom:15px;
								}
							}
						}
						a.news{
							font-size:28/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:38px;
									line-height:38px;
									margin-bottom:15px;
								}
								img.icon{
									display:block;
									height:38px;
									margin-bottom:15px;
								}
								.divider{
									display:block;
									height:7px;
									width:50px;
									margin-bottom:15px;
								}
								.icon{
									display:none;
								}
							}
						}
					}
					//1x3 and 1x4 tile
					.tile.col-lg-3.row-lg-3,.tile.col-lg-3.row-lg-4{
						a.audience,a.news{
							font-size:28/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:38px;
									line-height:38px;
									margin-bottom:15px;
								}
								img.icon{
									display:block;
									height:38px;
									margin-bottom:15px;
								}
								.divider{
									display:block;
									height:7px;
									width:50px;
									margin-bottom:15px;
								}
								.icon{
									display:none;
								}
							}
						}
					}
					//2x1 tile
					.tile.col-lg-6.row-lg-1{
						a.audience,a.news{
							font-size:28/16*1em;
							line-height:1em;
							.caption{
								.icon{
									display:none;
								}
								.divider{
									display:block;
									height:7px;
									width:50px;
									margin-bottom:15px;
								}
								.icon{
									display:none;
								}
							}
						}
					}
					//3x1,4x1 tile
					.tile.col-lg-9.row-lg-1,.tile.col-lg-12.row-lg-1{
						a.audience,a.news{
							font-size:28/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									position:absolute;
									display:block;
									right:0;
									bottom:0;
									margin-bottom:0;
									font-size:75px;
									line-height:75px;
								}
								img.icon{
									position:absolute;
									display:block;
									right:0;
									bottom:0;
									margin-bottom:0;
									height:75px;
								}
								.divider{
									display:block;
									height:7px;
									width:50px;
									margin-bottom:15px;
								}
								.text{
									display:block;
									max-width:80%;
								}
								.icon{
									position:absolute;
									display:block;
									right:0;
									bottom:0;
									margin-bottom:0;
									height:75px;
								}
							}
						}
					}
					//2x2,2x3,2x4,3x2,3x3,3x4,4x2,4x3,4x4 tile
					.tile.col-lg-6.row-lg-2,.tile.col-lg-6.row-lg-3,.tile.col-lg-6.row-lg-4,.tile.col-lg-9.row-lg-2,.tile.col-lg-9.row-lg-3,.tile.col-lg-9.row-lg-4,.tile.col-lg-12.row-lg-2,.tile.col-lg-12.row-lg-3,.tile.col-lg-12.row-lg-4{
						a.audience{
							background-size:cover;
							background-position:center center;
							font-size:38/16*1em;
							line-height:1em;
							.caption{
								.icon{
									display:none;
								}
								.divider{
									background-color:#fff !important;
									display:block;
									margin-bottom:20px;
									width:60px;
									height:7px;
								}
							}
						}
						a.news{
							background-size:cover;
							background-position:center center;
							font-size:26/16*1em;
							line-height:1.2em;
							.caption{
								right:0;
								bottom:0;
								left:0;
								padding:20px;
								background-image: url("http://purdue.edu/purdue/images/templateElements/2015/shader65.png");
								background-repeat:repeat;
								.icon{
									display:none;
								}
								.divider{
									display:none;
								}
							}
						}
					}
				}
				@media (min-width:992px) and (max-width:1199px){
					//1x1 tile
					.tile.col-md-3.row-md-1{
						a.audience,a.news{
							font-size:18/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:28px;
									line-height:28px;
									margin-bottom:8px;
								}
								img.icon{
									display:block;
									height:28px;
									margin-bottom:8px;
								}
								.divider{
									display:none;
								}
							}
						}
					}
					//1x2, 1x3 and 1x4 tile
					.tile.col-md-3.row-md-2,.tile.col-md-3.row-md-3,.tile.col-md-3.row-md-4{
						a.audience{
							font-size:24/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:34px;
									line-height:34px;
									margin-bottom:8px;
								}
								img.icon{
									display:block;
									height:34px;
									margin-bottom:8px;
								}
								.divider{
									display:block;
									height:6px;
									width:44px;
									margin-bottom:8px;
								}
							}
						}
						a.news{
							font-size:24/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:34px;
									line-height:34px;
									margin-bottom:8px;
								}
								img.icon{
									display:block;
									height:34px;
									margin-bottom:8px;
								}
								.divider{
									display:block;
									height:6px;
									width:44px;
									margin-bottom:8px;
								}
							}
						}
					}
					//2x1 tile
					.tile.col-md-6.row-md-1{
						a.audience,a.news{
							font-size:24/16*1em;
							line-height:1em;
							.caption{
								.icon{
									display:none;
								}
								.divider{
									display:block;
									height:7px;
									width:44px;
									margin-bottom:8px;
								}
							}
						}
					}
					//3x1,4x1 tile
					.tile.col-md-9.row-md-1,.tile.col-md-12.row-md-1{
						a.audience,a.news{
							font-size:28/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									position:absolute;
									display:block;
									right:0;
									bottom:0;
									margin-bottom:0;
									font-size:50px;
									line-height:50px;
								}
								img.icon{
									position:absolute;
									display:block;
									right:0;
									bottom:0;
									margin-bottom:0;
									font-size:50px;
									line-height:50px;
								}
								.divider{
									display:block;
									height:7px;
									width:45px;
									margin-bottom:8px;
								}
								.text{
									display:block;
									max-width:80%;
								}
							}
						}
					}
					//2x2,2x3,2x4,3x2,3x3,3x4,4x2,4x3,4x4 tile
					.tile.col-md-6.row-md-2,.tile.col-md-6.row-md-3,.tile.col-md-6.row-md-4,.tile.col-md-9.row-md-2,.tile.col-md-9.row-md-3,.tile.col-md-9.row-md-4,.tile.col-md-12.row-md-2,.tile.col-md-12.row-md-3,.tile.col-md-12.row-md-4{
						a.audience{
							background-size:cover;
							background-position:center center;
							font-size:34/16*1em;
							line-height:1em;
							.caption{
								.icon{
									display:none;
								}
								.divider{
									background-color:#fff !important;
									display:block;
									margin-bottom:15px;
									width:50px;
									height:6px;
								}
							}
						}
						a.news{
							background-size:cover;
							background-position:center center;
							font-size:22/16*1em;
							line-height:1.2em;
							.caption{
								right:0;
								bottom:0;
								left:0;
								padding:20px;
								background-image: url("http://purdue.edu/purdue/images/templateElements/2015/shader65.png");
								background-repeat:repeat;
								.icon{
									display:none;
								}
								.divider{
									display:none;
								}
							}
						}
					}
				}
				@media (min-width:768px) and (max-width:991px){
					//1x1 tile
					.tile.col-sm-3.row-sm-1{
						a.audience,a.news{
							font-size:22/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:32px;
									line-height:32px;
									margin-bottom:15px;
								}
								img.icon{
									display:block;
									height:32px;
									margin-bottom:15px;
								}
								.divider{
									display:none;
								}
							}
						}
					}
					//1x2, 1x3, and 1x4 tile
					.tile.col-sm-3.row-sm-2,.tile.col-sm-3.row-sm-3,.tile.col-sm-3.row-sm-4{
						a.audience{
							font-size:28/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:38px;
									line-height:38px;
									margin-bottom:15px;
								}
								img.icon{
									display:block;
									height:38px;
									margin-bottom:15px;
								}
								.divider{
									display:block;
									height:7px;
									width:50px;
									margin-bottom:15px;
								}
							}
						}
						a.news{
							font-size:28/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:38px;
									line-height:38px;
									margin-bottom:15px;
								}
								img.icon{
									display:block;
									height:38px;
									margin-bottom:15px;
								}
								.divider{
									display:block;
									height:7px;
									width:50px;
									margin-bottom:15px;
								}
							}
						}
					}
					//2x1 tile
					.tile.col-sm-6.row-sm-1{
						a.audience,a.news{
							font-size:28/16*1em;
							line-height:1em;
							.caption{
								.icon{
									display:none;
								}
								.divider{
									display:block;
									height:7px;
									width:50px;
									margin-bottom:15px;
								}
							}
						}
					}
					//3x1,4x1 tile
					.tile.col-sm-9.row-sm-1,.tile.col-sm-12.row-sm-1{
						a.audience,a.news{
							font-size:28/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									position:absolute;
									display:block;
									right:0;
									bottom:0;
									margin-bottom:0;
									font-size:75px;
									line-height:75px;
								}
								img.icon{
									position:absolute;
									display:block;
									right:0;
									bottom:0;
									margin-bottom:0;
									height:75px;
								}
								.divider{
									display:block;
									height:7px;
									width:50px;
									margin-bottom:15px;
								}
								.text{
									display:block;
									max-width:80%;
								}
							}
						}
					}
					//2x2,2x3,2x4,3x2,3x3,3x4,4x2,4x3,4x4 tile
					.tile.col-sm-6.row-sm-2,.tile.col-sm-6.row-sm-3,.tile.col-sm-6.row-sm-4,.tile.col-sm-9.row-sm-2,.tile.col-sm-9.row-sm-3,.tile.col-sm-9.row-sm-4,.tile.col-sm-12.row-sm-2,.tile.col-sm-12.row-sm-3,.tile.col-sm-12.row-sm-4{
						a.audience{
							background-size:cover;
							background-position:center center;
							font-size:38/16*1em;
							line-height:1em;
							.caption{
								.icon{
									display:none;
								}
								.divider{
									background-color:#fff !important;
									display:block;
									margin-bottom:20px;
									width:60px;
									height:7px;
								}
							}
						}
						a.news{
							background-size:cover;
							background-position:center center;
							font-size:26/16*1em;
							line-height:1.2em;
							.caption{
								right:0;
								bottom:0;
								left:0;
								padding:20px;
								background-image: url("http://purdue.edu/purdue/images/templateElements/2015/shader65.png");
								background-repeat:repeat;
								.icon{
									display:none;
								}
								.divider{
									display:none;
								}
							}
						}
					}
				}
				@media (max-width:767px){
					//1x1 tile
					.tile.col-xs-6.row-xs-1{
						a.audience,a.news{
							font-size:18/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:28px;
									line-height:28px;
									margin-bottom:6px;
								}
								img.icon{
									display:block;
									height:28px;
									margin-bottom:6px;
								}
								.divider{
									display:none;
								}
								.icon{
									display:block;
									height:28px;
									margin-bottom:6px;
								}
							}
						}
					}
					//1x2, 1x3, and 1x4 tile
					.tile.col-xs-6.row-xs-2,.tile.col-xs-6.row-xs-3,.tile.col-xs-6.row-xs-4{
						a.audience{
							font-size:24/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:34px;
									line-height:34px;
									margin-bottom:12px;
								}
								img.icon{
									display:block;
									height:34px;
									margin-bottom:12px;
								}
								.divider{
									display:block;
									height:6px;
									width:44px;
									margin-bottom:12px;
								}
								.icon{
									display:block;
									height:34px;
									margin-bottom:12px;
								}
							}
						}
						a.news{
							font-size:24/16*1em;
							line-height:1em;
							.caption{
								.fa.icon{
									display:block;
									font-size:34px;
									line-height:34px;
									margin-bottom:12px;
								}
								img.icon{
									display:block;
									height:34px;
									margin-bottom:12px;
								}
								.divider{
									display:block;
									height:6px;
									width:44px;
									margin-bottom:12px;
								}
								.icon{
									display:none;
								}
							}
						}
					}
					//2x1 tile
					.tile.col-xs-12.row-xs-1{
						a.audience,a.news{
							font-size:20/16*1em;
							line-height:1em;
							.caption{
								.icon{
									display:none;
								}
								.divider{
									display:block;
									height:7px;
									width:50px;
									margin-bottom:8px;
								}
								.icon{
									display:none;
								}
							}
						}
					}
					//2x2,2x3,2x4 tile
					.tile.col-xs-12.row-xs-2,.tile.col-xs-12.row-xs-3,.tile.col-xs-12.row-xs-4{
						a.audience{
							background-size:cover;
							background-position:center center;
							font-size:34/16*1em;
							line-height:1em;
							.caption{
								.icon{
									display:none;
								}
								.divider{
									background-color:#fff !important;
									display:block;
									margin-bottom:15px;
									width:50px;
									height:6px;
								}
							}
						}
						a.news{
							background-size:cover;
							background-position:center center;
							font-size:22/16*1em;
							line-height:1.2em;
							.caption{
								right:0;
								bottom:0;
								left:0;
								padding:20px;
								background-image: url("http://purdue.edu/purdue/images/templateElements/2015/shader65.png");
								background-repeat:repeat;
								.icon{
									display:none;
								}
								.divider{
									display:none;
								}
							}
						}
					}
				}
			}
		}
	}
}