<!DOCTYPE html>
<html lang="en">
	<head>
		@@include('../../partials/head/_all.html',{
			"title":"Typography Pattern",
			"description":"This is an example of the typography pattern available in the template.",
			"author":"Place your office here.",
			"css":"../../css/content/content",
			"includeArchivoBlack":false
		})
		<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6961776/7378572/css/fonts.css" />
	</head>
	<body>
		@@include('../../partials/header/_all.html',{
			"siteName":"Organization Name Here",
			"siteTagline":"Secondary Name College, School or Unit"
		})
		@@include('../../partials/navigation/_main.html')
		@@include('../../partials/content-patterns/_typography.html')
		@@include('../../partials/footer/_all.html')
	</body>
</html>
