html {
	background-color: #3b3b3b;
	color: #000;
	font-size: 100%;
}

body {
	font-family: $font-arial;
}

@media (min-width:768px) {
	body {
		font-size: 1em;
		line-height: calc-toEm(24);
	}
}
@media (max-width:767px) {
	body {
		font-size: calc-toEm(18);
		line-height: calc-toEm(24);
	}
}

h1 {
	margin-bottom: 1rem;
	line-height: 1.2;
	text-transform: uppercase;
	margin-top: 0;
	font-family: $font-champion-welter;
	color: $color-headlineGold;
	font-size: calc-toEm(36);
	font-weight: 400;
}

h2 {
	font-family: $font-archivo-narrow;
	margin-bottom: 1rem;
	line-height: 1.2;
	color: $color-headlineGold;
	font-size: calc-toEm(32);
	font-weight: 400;
}

h3 {
	font-family: $font-archivo-narrow;
	margin-bottom: 1rem;
	line-height: 1.2;
	font-weight: 700;
	color: $color-gray70;
	font-size: calc-toEm(28);
}

h4 {
	font-family: $font-archivo-narrow;
	margin-bottom: 1rem;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 700;
	color: $color-headlineGold;
	font-size: calc-toEm(24);
}

h5 {
	font-family: $font-archivo-narrow;
	margin-bottom: 1rem;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 700;
	font-size: calc-toEm(22);
}

h6 {
	font-family: $font-archivo-narrow;
	margin-bottom: 1rem;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 700;
	font-size: calc-toEm(18);
}


h1, h2, h3, h4, h5, h6 {
	a:active, a:hover, a:link, a:visited {
		color: inherit;
		font-weight: inherit;
	}
}

p {
	margin-bottom: 1em;
}

small {
	font-size: 0.75em;
	line-height: 1em;
}

big {
	font-size: 1.25em;
	line-height: 1em;
}

a:active, a:hover, a:link, a:visited {
	color: #000;
	font-weight: 700;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

ol, ul {
	padding: 10px 0 10px 35px;
}

ul {
	list-style-type: disc;
}

ul ul {
	padding-top: 0;
	padding-bottom: 0;
	list-style-type: circle;
}

ul ul ul {
	list-style-type: square;
}

b, strong {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

u {
	text-decoration: underline;
}

.right {
	float: right;
}

.left {
	float: left;
}

.transition {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
}
