.footer {
    width: 100%;
    background-color: #000;
    overflow: hidden;
    padding-bottom: 15px;

    // footer links are stacked in expandable accordions
    // with horizontal tagline and social icons underneath
    #accordion {
        margin-bottom: 0;

        .panel {
            border: none;
            background-color: transparent;
            margin-top: 0;
            padding: 15px;
            border-bottom: solid 1px #333;
            font-size: calc-toEm(14);
            line-height: calc-toEm(37);

            a {
                display: inline-block;
                width: 100%;
            }

            a:link, a:visited {
                color: #adadad;
                font-weight: 400;
                text-decoration: none;
            }

            a:hover, a:active {
                color: #fff;
                font-weight: 400;
                text-decoration: none;
            }

            .panel-heading {
                padding: 0;
                background-color: transparent;
                font-size: calc-toEm(21);

                .panel-title {
                    font-family: $font-champion-welter;
                    font-size: calc-toEm(16);
                }

                a {
                    display: block;
                }

                a:link, a:visited, a:hover, a:active {
                    color: $color-campusGold;
                    text-decoration: none;
                }
            }

            .panel-collapse {

                .panel-body {
                    border: none;
                    padding: 0;

                    ul {
                        padding: 0;
                        list-style-type: none;
                    }
                }
            }
        }

        .motto {
            clear: both;
            padding: 15px 15px 0;
            font-size: calc-toEm(20);
            text-align: center;

            .taglineContainer {
                width: 90%;
                margin: 0 auto;
            }
            .tagline {
                position:relative;
                padding-bottom:60/430*100%;
            }
            .horizontal,.vertical{
                position:absolute;
                top:0;
                right:0;
                bottom:0;
                left:0;
            }
            .vertical {
                display: none;
            }

            .social {
                display: block;
                width: 100%;
                padding-top: 5px;
            }

            // social icons
            a {
                display: inline-block;
                position: relative;
                margin: 2.5px 2%;
                text-align: center;

                .text-hidden {
                    position: absolute;
                    display: block;
                    top: -1000px;
                    left: -1000px;
                }

                .fa::after {
                    position: absolute;
                    display: block;
                    overflow: hidden;
                    width: 0;
                    height: 0;
                }

                .fa-facebook::after {
                    content: "Facebook";
                }

                .fa-facebook-square::after {
                    content: "Facebook";
                }

                .fa-twitter::after {
                    content: "Twitter";
                }

                .fa-twitter-square::after {
                    content: "Twitter";
                }

                .fa-youtube::after {
                    content: "Youtube";
                }

                .fa-youtube-square::after {
                    content: "Youtube";
                }

                .fa-instagram::after {
                    content: "Instagram";
                }

                .fa-instagram-square::after {
                    content: "Instagram";
                }

                .fa-pinterest::after {
                    content: "Pinterest";
                }

                .fa-pinterest-square::after {
                    content: "Pinterest";
                }

                .fa-google-plus::after {
                    content: "Google Plus";
                }

                .fa-google-plus-square::after {
                    content: "Google Plus";
                }

                .fa-linkedin::after {
                    content: "Linked In";
                }

                .fa-linkedin-square::after {
                    content: "Linked In";
                }

                .fa-amazon::after {
                    content: "Amazon";
                }

                .fa-amazon-square::after {
                    content: "Amazon";
                }
            }

            a:link, a:visited {
                color: #999;
                text-decoration: none;
            }

            a:hover, a:active {
                color: #fff;
                text-decoration: none;
            }

            img {
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }

    // styles for expanding/contracting accordions
    @media (max-width:767px) {
        #accordion {
            .panel {
                .panel-heading {
                    a {
                        .fa-plus {
                            display: none;
                        }

                        .fa-minus {
                            display: block;
                        }
                    }

                    a.collapsed {
                        .fa-plus {
                            display: block;
                        }

                        .fa-minus {
                            display: none;
                        }
                    }
                }

                .panel-collapse {
                    padding-left: 15px;
                }
            }

            .motto {
                .taglineContainer {
                    width: 80%;
                }
            }
        }
    }

    // footer is 2 columns and 2 rows of footer links and one spanning row for motto and social icons
    // @media (min-width:768px) and (max-width:991px) {
    @media (min-width:768px) {
        padding: 20px 0; // .footer

        #accordion {
            margin: 0 -30px;
            padding: 0 15px 0;

            .panel {
                float: left;
                width: 50%;
                padding: 0 30px 15px;
                border: none;
                font-size: calc-toEm(14);
                line-height: calc-toEm(27);

                .panel-heading {
                    display: block;
                    padding: 0;
                    background-color: transparent;
                    font-size: calc-toEm(21);
                    line-height: 1em;

                    .panel-title {
                        font-family: $font-champion-welter;
                        padding-top: 0;
                        padding-bottom: 5px;
                        font-size: 1em;
                        font-weight: 300;

                        a {
                            cursor: default;
                            color: $color-campusGold;
                            border-bottom: none;
                        }

                        .fa {
                            display: none;
                        }
                    }
                }

                a {
                    padding: 8px 0 2px;
                    border-bottom: solid 1px #474747;
                }

                .panel-collapse {
                    display: block;
                    height: auto !important;
                }
            }

            .motto {
                clear: none;
                padding: 15px 30px;
                font-size: calc-toEm(29.6);
                text-align: center;

                .taglineContainer {
                    display: block;
                    width: 70%;
                }
                .vertical {
                    display: none;
                }
            }
        }
    }

    // footer is 5 columns, first four contain footer links, 5th column is
    // the vertical tagline and social icons underneath
    // @media (min-width:992px) and (max-width:1199px) {
    @media (min-width:992px) {

        #accordion {
            .panel {
                width: 20%;
                padding: 0 15px;
            }

            .motto {
                float: left;
                width: 20%;
                padding: 40px 15px 15px;
                font-size: calc-toEm(21.6);

                .taglineContainer {
                    width: auto;
                    .tagline {
                        margin-bottom:10px;
                        padding-bottom:71/202*100%;
                    }
                }

                .vertical {
                    display: block;
                }

                .horizontal {
                    display: none;
                }

                .social {
                    border-top: solid 1px #474747;
                    
                    a {
                        float: left;
                        margin: 4px 2.7%;
                    }
                }
            }
        }
    }
}
