.goldbar{
	min-height:0 !important;
	margin:0;
	padding:3px 0;
	border-radius:0;
	border:none;
	background-color:$color-campusGold;
	color:#000;
	box-shadow: 0px 2px 10px #1e1e1e;
	a:link{
		background-color:transparent !important;
		color:#000 !important;
		font-weight:400;
		text-decoration:none;
	}
	a:visited{
		background-color:transparent !important;
		color:#000 !important;
		font-weight:400;
		text-decoration:none;
	}
	a:hover{
		background-color:transparent !important;
		color:#000 !important;
		font-weight:400;
		text-decoration:underline !important;
	}
	a:active{
		background-color:transparent !important;
		color:#000 !important;
		font-weight:400;
		text-decoration:none;
	}
	button{
		border:none;
	}
	button:hover,button:focus{
		background-color:transparent !important;
		border:none;
	}
	.navbar-header{
		button.navbar-toggle{
			padding:2px 15px;
			font-size:1em;
			.icon-bar{
				float:left;
				clear:left;
				margin-right:10px;
				background-color:#000;
			}
			> .icon-bar:first-child{
			  margin-top: 3px;
			}
		}
		button.navbar-toggle:hover{
			color:#000;
			.icon-bar{
				background-color:#000;
			}
		}
		@media (max-width:767px){
			.navbar-header{
				
			}
		}
	}
	#search{
		border:none;
		> ul{
			padding-top:0;
			padding-bottom:0;
		}
		a.dropdown-toggle{
			position:relative;
			overflow:hidden;
			padding:4px 20px 4px 0!important;
		}
		a.dropdown-toggle::after{
			display:block;
			content:"search";
			position:absolute;
			top:100%;
			width:0;
			height:0;
		}
		.open a.dropdown-toggle{
			color:#000 !important;
		}
		.dropdown-menu{
			border:none;
			-webkit-box-shadow:none;
			box-shadow:none;
			background-color:$color-campusGold;
			padding:5px;
			.form-group{
				margin:0;
				#cse-search-form{
					.gsc-control-searchbox-only{
						form.gsc-search-box{
							table.gsc-search-box{
								margin:0;
								.gsc-input{
									padding:0;
									input.gsc-input{
										width:200px;
										padding:3px 6px;
										color:#000;
										font-size:16/13 * 1em;
									}
								}
								.gsc-search-button{
									display:none;
								}
								.gsc-clear-button{
									display:none;
								}
							}
							table.gsc-branding{
								display:none;
							}
						}
					}
				}
			}
		}
	}
	@media (max-width:767px){
		#search{
			width:100%;
			max-height:none;
			margin:0;
			.nav{
				margin:0 -15px;
				.dropdown{
					position:static;
				}
				.dropdown-toggle{
					display:none;
				}
				.dropdown-menu{
					position:static;
					display:block;
					width:100%;
					box-shadow:none;
					border:none;
					padding:0 0 15px;
					.form-group{
						margin:0;
						#cse-search-form{
							.gsc-control-searchbox-only{
								form.gsc-search-box{
									table.gsc-search-box{
										.gsc-input{
											width:100%;
											input.gsc-input{
												width:100%;
												font-size:16/11 * 1em;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@media(min-width:768px){
		.quickLinkLabel{
			display:none;
		}
	}
	@media(max-width:767px){
		.quickLinkLabel{
			display:block;
			float:left;
		}
	}
	.gold{
		padding-left:0px;
		-webkit-box-shadow:none;
		box-shadow:none;
		> ul{
			padding-top:0;
			padding-bottom:0;
		}
		.open a.dropdown-toggle{
			color:#000 !important;
		}
		.dropdown-menu{
			border:none;
			-webkit-box-shadow:none;
			box-shadow:none;
			background-color:$color-campusGold;
			font-size:12/11 * 1em;
			text-transform:none;
			a{
				padding:3px 15px;
			}
		}
		@media (min-width:768px){
			left:-20px;
		}
	}
}
@media(min-width:768px){
	.goldbar{
		font-size:14/16 * 1em;
		.gold{
			.navbar-nav{
				>li > a{
					padding:4px 20px 4px 0!important;
				}
			}
		}
	}
}
@media(max-width:767px){
	.goldbar{
		font-size:16/18 * 1em;
		.gold{
			position:static;
			clear:both;
			font-size:14/16 * 1em;
			max-height:none;
			overflow:hidden;
			text-transform:none;
			padding:0 0 15px;
			border:none;
			.navbar-nav{
				font-size:1em;
				margin:0;
				padding:0 15px;
				float:left;
				width:50%;
				.dropdown{
					float:left;
					width:100%;
					.dropdown-toggle{
						display:none;
					}
					.dropdown-menu{
						display:block;
						position:static;
						width:100%;
						box-shadow:none;
						padding:0;
						font-size:1em;
					}
				}
				.hide{
					font-size:16/14 * 1em;
					display:block !important;
					color:#000;
				}
				a{
					line-height:20/14 * 1em;
					white-space:normal;
					padding:5px 0;
				}
			}
		}
	}
}