.top{
	width:100%;
	background-image:url('https://purdue.edu/purdue/images/templateElements/2015/stripes-tile.png');
	background-color:#000;
	background-repeat:repeat;
	// @include striped-bg(#191919, #000, thin)
	.row-eq-height{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.logo{
		padding: 25px 25px 25px 15px;
		align-items: center;
        &::after{
            display:block;
            position:absolute;
            content:"";
            width:2px;
            height:60%;
            right: 0;
            top: 20%;
            background-color:#999;
        }
		a{
			display:block;
			img{
				width:100%;
			}
			&:link,&:visited,&:hover,&:active{
				color:#fff;
			}
		}
		@media (min-width:768px){
			a{
				width:100%;
			}
		}
		@media (max-width:767px){
			a{
				img{
					width:100%;
				}
			}
		}
		.svgLinkContainer {
			  display: block;
			  position: relative;
			  height: 1px;
			  width: 100%;
			  padding-bottom: 29.95839%;
			  z-index: 2;
			  &::after{
					content:"";
					display:block;
					position:absolute;
					top:0;
					right:0;
					bottom:0;
					left:0;
				  }
			}
			.svgContainer {
			  display: block;
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  z-index: -1;
			  padding-right: 0px;
			}
			@media (max-width:767px){
			  .svgLinkContainer{
					margin:0 auto;
					// width: 50%;
					// padding-bottom:14.9792%;
					width: 40%;
					padding-bottom:12.9792%;
			  	}
        }
    }
	.department{
		color:#fff;
		font-family:$font-archivo-narrow;
		letter-spacing:0;
		padding-left: 15px;
		padding-right: 15px;
		> a{
			display:inline-block;
			line-height:1.2em;
			border:none;
			padding:0;
		}
		@media (min-width:992px) and (max-width:1199px){
			> a{
			display:inline-block;
			padding:2px 0px;
			line-height:1.1em;
			}
		}
		> a:link, a:visited, a:hover, a:active{
			color:inherit;
			font-weight:600;
			text-decoration:none;
		}
		.tagline{
			display:block;
			clear:left;
			color:inherit;
			font-family:$font-archivo-narrow;
			font-size:20/25 * 1em;
			line-height:1.2em;
			letter-spacing:.5px;
			text-transform: uppercase;
			a:link, a:visited, a:hover, a:active{
				color:inherit;
				font-weight:100;
				text-decoration:none;
			}
		}
	}
	@media (min-width:992px){
			.department{
				font-size:30/22 * 1em;
			}
		}
	@media (min-width:768px) and (max-width:991px){
			.row-eq-height{
					display: flex;
					align-items: center;
	        flex-direction: row;
		    }
			.department{
					font-size:24/20 * 1em;
			}
		}
	@media (min-width:768px){
        .row-eq-height{
            flex-direction: row;
	    	}
        .department{
						padding-left:25px;
				}
		}
	@media (max-width:767px){
		.logo{
			padding:25px;
	        &::after{
	            display:none;
	        }
				}
			.department{
	  		font-size:30/22 * 1em;
				text-align:center;
			}
			.tagline{
				// padding:2px 0 0;
				padding: 0px 0px 10px 0px;
				line-height: 1.2em;
				border:none;
			}
		}
	}
