.top{
	width:100%;
	background-image:url('https://purdue.edu/purdue/images/templateElements/2015/stripes-tile.png');
	background-color:#000;
	background-repeat:repeat;
	.logo{
		padding:25px 15px;
		a{
			display:block;
			img{
				width:100%;
			}
			&:link,&:visited,&:hover,&:active{
				color:#fff;
			}
		}
		@media (min-width:768px){
			a{
				width:100%;
			}
		}
		@media (max-width:767px){
			a{
				margin:0 auto;
				width:50%;
			}
		}
	}
	.department{
		color:#fff;
		font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
		letter-spacing:1px;
		> a{
			display:inline-block;
			padding:2px 10px;
			line-height:1.2em;
		}
		@media (min-width:768px){
			> a{
				border-left:solid 1px $color-campusGold;
			}
		}
		@media (max-width:767px){
			> a{
				border:none;
			}
		}
		> a:link{
			color:inherit;
			font-weight:100;
			text-decoration:none;
		}
		> a:visited{
			color:inherit;
			font-weight:100;
			text-decoration:none;
		}
		> a:hover{
			color:inherit;
			font-weight:100;
			text-decoration:none;
		}
		> a:active{
			color:inherit;
			font-weight:100;
			text-decoration:none;
		}
		.tagline{
			display:block;
			clear:left;
			color:inherit;
			font-size:13/25 * 1em;
			line-height:1.3em;
			a:link{
				color:inherit;
				font-weight:400;
				text-decoration:none;
			}
			a:visited{
				color:inherit;
				font-weight:400;
				text-decoration:none;
			}
			a:hover{
				color:inherit;
				font-weight:400;
				text-decoration:none;
			}
			a:active{
				color:inherit;
				font-weight:400;
				text-decoration:none;
			}
		}
		@media (min-width:768px){
			.tagline{
				padding:0 10px 2px;
				border-left:solid 1px $color-campusGold;
			}
		}
		@media (max-width:767px){
			.tagline{
				padding:10px 0 0;
				border:none;
			}
		}
	}
	@media (min-width:992px){
		.department{
			padding:30px 15px 15px;
			font-size:25/16 * 1em;
			font-weight:100;
		}
	}
	@media (min-width:768px) and (max-width:991px){
		.department{
			padding:30px 15px 15px;
			font-size:20/16 * 1em;
			font-weight:100;
		}
	}
	@media (max-width:767px){
		.department{
			padding:0 15px 30px;
			font-size:24/18 * 1em;
			font-weight:400;
			text-align:center;
		}
	}
}