@import "../tools/maxin-headings";
h1 {
	@include h1;
}

h2 {
	@include h2;
}

h3 {
	@include h3;
}

h4 {
	@include h4;
}

h5 {
	@include h5;
}

h6 {
	@include h6;
}

h1, h2, h3, h4, h5, h6 {
	a:link, a:visited, a:hover, a:active {
		color: inherit;
		font-weight: inherit;
	}
}
