<!doctype html>
<html lang="en">
  <head>

    <!-- general meta data Here -->
    <title>Audience Page Template</title>
    <meta content="This is an example of v2.0.0 of the audience page template." name="description" />
    <meta content="Marketing and Media" name="author" />
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://www.purdue.edu/purdue/images/favicon.ico" rel="shortcut icon" />
    <link href="https://www.purdue.edu/purdue/images/icon-iphone.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="https://www.purdue.edu/purdue/images/icon-ipad.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="https://www.purdue.edu/purdue/images/icon-iphone-retina.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="https://www.purdue.edu/purdue/images/icon-ipad-retina.png" rel="apple-touch-icon" sizes="152x152" />

    <!--United sans -->
    <link rel="stylesheet" href="https://www.purdue.edu/purdue/fonts/united-sans/united-sans.css">
    <link rel="stylesheet" type="text/css" href="https://www.purdue.edu/purdue/fonts/champion-all.css" />
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Archivo+Black" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../../styles/mm/templates/content-audience.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/v4-shims.js" crossorigin="anonymous"></script>
    <no-script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css" crossorigin="anonymous">
    </no-script>
  </head>
  <body>
    <header class="header container">
      <section class="header__goldBar container">
        <div class="header__goldBar--inner">
          <button aria-haspopup="true" class="header__goldBar--moButton" aria-expanded="false">
            <i class="fas fa-bars" aria-hidden="true"></i>&nbsp;
            Quick Links
          </button>
          <section class="header__goldBar--menus">
            <nav class="header__goldBar__findInfoFor">
              <button aria-haspopup="true" aria-expanded="false">
                Find Info For
                <span><i class="fas fa-chevron-down"></i></span>
              </button>
              <span>Find Info For</span>
              <ul id="findInfoFor" role="menu">
                <li role="none"><a href="https://www.purdue.edu/purdue/academics/index.php" role="menuitem">Academics</a>
                </li>
                <li role="none"><a href="https://www.purdue.edu/purdue/admissions/index.php" role="menuitem">Admissions</a>
                </li>
                <li role="none"><a href="https://www.purdue.edu/purdue/current_students/index.php" role="menuitem">Current
                    Students</a></li>
                <li role="none"><a href="https://www.purdue.edu/purdue/athletics/index.php" role="menuitem">Athletics</a>
                </li>
                <li role="none"><a href="https://www.purdue.edu/purdue/about/index.php" role="menuitem">About</a></li>
                <li role="none"><a href="https://www.purdue.edu/purdue/careers/index.php" role="menuitem">Careers</a></li>
                <li role="none"><a href="https://www.purdue.edu/purdue/prospective_students/index.php" role="menuitem">Prospective Students</a></li>
                <li role="none"><a href="https://www.purdue.edu/purdue/research/index.php" role="menuitem">Research and
                    Partnerships</a></li>
                <li role="none"><a href="https://www.purdue.edu/purdue/commercialization/index.php" role="menuitem">Entrepreneurship and Commercialization</a></li>
              </ul>
            </nav>
            <nav class="header__goldBar__quickLinks">
              <span>Quick Links</span>
              <ul role="menu">
                <li role="none"><a role="menuitem" href="https://www.purdue.edu/purdue/admissions/index.html">Apply</a></li>
                <li role="none"><a role="menuitem" href="https://www.purdue.edu/newsroom/">News</a></li>
                <li role="none"><a role="menuitem" href="https://www.purdue.edu/president/">President</a></li>
                <li role="none"><a role="menuitem" href="https://www.purdueofficialstore.com/">Shop</a></li>
                <li role="none"><a role="menuitem" href="https://www.purdue.edu/visit/">Visit</a></li>
                <li role="none"><a role="menuitem" href="https://securelb.imodules.com/s/1461/research/hybrid/index.aspx?sid=1461&amp;gid=1010&amp;pgid=1754&amp;cid=4045">Give</a>
                </li>
                <li role="none"><a role="menuitem" href="https://www.purdue.edu/ea">Emergency</a></li>
              </ul>
            </nav>
          </section>
          <button class="header__goldBar__search" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search" aria-hidden="true"></i></button>
          <span class="sr-only">Search</span>
          <section id="searchDropdown" class='header__goldBar__search--dropdown'>
            <div class='header__goldBar__search--container'>
              <div class="form-group">
                <script>
                  (function() {
                    var cx = '017690826183710227054:mjxnqnpskjk';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                  })();
                </script>
                <gcse:searchbox-only id="cse-search-form" resultsUrl="https://www.purdue.edu/purdue/search.php" queryParameterName="q">
                  Loading
                </gcse:searchbox-only>
              </div>
            </div>
          </section>
        </div>
      </section>
      <section class="header__signature container">
        <section class="header__signature--inner">
          <a class="header__signature--logo" id="purdueLogo" href="https://www.purdue.edu" aria-label="Purdue Logo">
            <div>
              <object data="https://www.purdue.edu/purdue/images/PU-H.svg" tabindex='-1' type="image/svg+xml" aria-labelledby="purdueLogo"></object>
            </div>
          </a>
          <article class="header__signature--siteName">
            <a id="siteName" href="#">Audience Template</a>
            <div id="siteTagline">
              <a href="https://www.purdue.edu/purdue/applications/web-templates/index.php">Purdue Web Templates</a>
            </div>
          </article>
        </section>
      </section>
      <nav class="header__mainNav container">
        <button id="mainNavMo" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars" aria-hidden="true"></i>
          Menu
        </button>
        <section class="header__mainNav--main">
          <ul role='menubar' aria-label="Main Navigation">
            <li role="none"><a role='menuitem' href="../office/office-tiles-4.html">Home</a></li>
            <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="../college/college-mixed.html">College<span><i class="fas fa-chevron-down"></i></span></a>
              <ul role='menu' class="header__mainNav--dropdownOuter">
                <li role="none"><a role='menuitem' href="../college/college-mixed.html">Mixed Tiles Example</a>
                </li>
                <li role="none"><a role='menuitem' href="../college/college-test.html">Big tile Example</a></li>
                <li role="none">
                  <a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button--inner dropdown-button" href="../college/college-audience-1.html">Audience Tiles<span><i
                        class="fas fa-chevron-right"></i></span></a>
                  <ul role='menu' class="header__mainNav--dropdownInner">
                    <li role="none"><a role='menuitem' href="../college/college-audience-1.html">Audience Tiles
                        Example 1</a></li>
                    <li role="none"><a role='menuitem' href="../college/college-audience-2.html">Audience Tiles
                        Example 2</a></li>
                  </ul>
                </li>
                <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button--inner dropdown-button" href="../college/college-news-1.html">News
                    Tiles<span><i class="fas fa-chevron-right"></i></span></a>
                  <ul role='menu' class="header__mainNav--dropdownInner">
                    <li role="none"><a role='menuitem' href="../college/college-news-1.html">News Tiles Example
                        1</a></li>
                    <li role="none"><a role='menuitem' href="../college/college-news-2.html">News Tiles Example
                        2</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="../office/office-tiles-2.html">Department/Office<span><i
                    class="fas fa-chevron-down"></i></span></a>
              <ul role='menu' class="header__mainNav--dropdownOuter">
                <li role="none"><a role='menuitem' href="../office/office-tiles-2.html">Department/Office 2
                    tiles</a></li>
                <li role="none"><a role='menuitem' href="../office/office-tiles-3.html">Department/Office 3
                    tiles</a></li>
                <li role="none"><a role='menuitem' href="../office/office-tiles-4.html">Department/Office 4
                    tiles</a></li>
                <li role="none"><a role='menuitem' href="../office/office-tabs.html">Department/Office tabs</a>
                </li>
              </ul>
            </li>
            <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="../audience/audience-1.html">Audience<span><i class="fas fa-chevron-down"></i></span></a>
              <ul role='menu' class="header__mainNav--dropdownOuter">
                <li role="none"><a role='menuitem' href="../audience/audience-1.html">Audience option 1</a></li>
                <li role="none"><a role='menuitem' href="../audience/audience-2.html">Audience option 2</a></li>
                <li role="none"><a role='menuitem' href="../audience/audience-3.html">Audience option 3</a></li>
              </ul>
            </li>
            <li role="none"><a role='menuitem' href="../content.html">Content</a></li>
            <li role="none"><a role='menuitem' href="../blank.html">Blank</a></li>
            <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="../components/accordion.html">Web Components<span><i
                    class="fas fa-chevron-down"></i></span></a>
              <ul role='menu' class="header__mainNav--dropdownOuter">
                <li role="none"><a role='menuitem' href="../components/accordion.html">Accordion</a></li>
                <li role="none"><a role='menuitem' href="../components/button.html">Button</a></li>
                <li role="none"><a role='menuitem' href="../components/typography.html">Typography</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </header>
    <main id='audienceTemplate'>
      <style type="text/css">
        @media (min-width:1200px) {
          .container--bg-shade {
            background-image: url("https://www.purdue.edu/purdue/images/web-templates/placeholders/audience_intro-lg.jpg");
          }
        }
        @media (min-width:992px) and (max-width:1199px) {
          .container--bg-shade {
            background-image: url("https://www.purdue.edu/purdue/images/web-templates/placeholders/audience_intro-md.jpg");
          }
        }
        @media (min-width:768px) and (max-width:991px) {
          .container--bg-shade {
            background-image: url("https://www.purdue.edu/purdue/images/web-templates/placeholders/audience_intro-sm.jpg");
          }
        }
        @media (max-width:767px) {
          .container--bg-shade {
            background-image: url("https://www.purdue.edu/purdue/images/web-templates/placeholders/audience_intro-xs.jpg");
          }
        }
      </style>
      <section aria-labelledby="Intro" class="container container--audience-row container--bg-shade">
        <article class="row row__intro">
          <i class="fas fa-laptop" aria-hidden="true"></i>
          <h1>UT ENIM AD MINIM<span>36 Acumin Pro Bold</span></h1>
          <hr>
          <p>16pt Acumin Pro Bold with line height of 24pt. This is what the intro paragraph to the section looks
            like. It can be 2 lines, 3 lines and maybe up to four if really needed. Character count (w/ spaces).
            Recommended: 150. Max: 300</p>
        </article>
      </section>
      <section aria-labelledby="Featured Links" class="container container--audience-row container--bg-white">
        <article class="row row__feature-links">
          <a href="#" class="row__feature-links__button row__feature-links__button--two-column">
            <i class="fa fa-flask" aria-hidden="true"></i>
            <p>28 Acumin Pro Condensed Medium</p>
          </a>
          <a href="#" class="row__feature-links__button row__feature-links__button--two-column">
            <i aria-hidden="true" class="fas fa-chart-bar"></i>
            <p>28 Acumin Pro Condensed Medium</p>
          </a>
        </article>
      </section>
      <section aria-labelledby="Links" class="container container--audience-row container--bg-darkGray">
        <article class="row row__links">
          <section class="row__links__column row__links__column--three-column">
            <i aria-hidden="true" class="fas fa-globe-americas"></i>
            <h2>28 Acumin Pro</h2>
            <ul role="list">
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
            </ul>
          </section>
          <section class="row__links__column row__links__column--three-column">
            <i aria-hidden="true" class="fas fa-book"></i>
            <h2>28 Acumin Pro</h2>
            <ul role="list">
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
            </ul>
          </section>
          <section class="row__links__column row__links__column--three-column">
            <i aria-hidden="true" class="fas fa-gift"></i>
            <h2>28 Acumin Pro</h2>
            <ul role="list">
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
              <li role="listitem"><a href="#">Acumin Pro 16 pt regular</a></li>
            </ul>
          </section>
        </article>
      </section>
      <style type="text/css">
        @media (min-width:1200px) {
          .container--bg-large-photo {
            background-image: url("https://www.purdue.edu/purdue/images/web-templates/placeholders/audience_large-photo-lg.jpg");
          }
        }
        @media (min-width:992px) and (max-width:1199px) {
          .container--bg-large-photo {
            background-image: url("https://www.purdue.edu/purdue/images/web-templates/placeholders/audience_large-photo-md.jpg");
          }
        }
        @media (min-width:767px) and (max-width:991px) {
          .container--bg-large-photo {
            background-image: url("https://www.purdue.edu/purdue/images/web-templates/placeholders/audience_large-photo-sm.jpg");
          }
        }
        @media (max-width:768px) {
          .container--bg-large-photo {
            background-image: url("https://www.purdue.edu/purdue/images/web-templates/placeholders/audience_large-photo-xs.jpg");
          }
        }
      </style>
      <section aria-labelledby="Large Photo" class="container container--audience-row container--bg-large-photo">
        <article class="row row__large-photo">
          <p>64 PT United Sans</p>
        </article>
      </section>
      <section aria-labelledby="MultiImage" class="container container--audience-row container--bg-black">
        <article class="row row__multiImage">
          <picture>
            <source media="(min-width: 1200px)" srcset="https://www.purdue.edu/purdue/images/audience/Brand-2020/image1.png">
            <source media="(min-width: 992px)" srcset="https://www.purdue.edu/purdue/images/audience//Brand-2020/image1.png">
            <source srcset="https://www.purdue.edu/purdue/images/audience/Brand-2020/image1.png">
            <img alt="students collaborating with faculty member" src="https://www.purdue.edu/purdue/images/audience/Brand-2020/image1.png">
          </picture>
          <picture>
            <source media="(min-width: 1200px)" srcset="https://www.purdue.edu/purdue/images/audience/Brand-2020/image2.png">
            <source media="(min-width: 992px)" srcset="https://www.purdue.edu/purdue/images/audience/Brand-2020/image2.png">
            <source srcset="https://www.purdue.edu/purdue/images/audience/Brand-2020/image2.png">
            <img alt="students collaborating with faculty member" src="https://www.purdue.edu/purdue/images/audience/Brand-2020/image2.png">
          </picture>
          <picture>
            <source media="(min-width: 1200px)" srcset="https://www.purdue.edu/purdue/images/audience/Brand-2020/image3.png">
            <source media="(min-width: 992px)" srcset="https://www.purdue.edu/purdue/images/audience/Brand-2020/image3.png">
            <source srcset="https://www.purdue.edu/purdue/images/audience/Brand-2020/image3.png">
            <img alt="students collaborating with faculty member" src="https://www.purdue.edu/purdue/images/audience/Brand-2020/image3.png">
          </picture>
          <picture>
            <source media="(min-width: 1200px)" srcset="https://www.purdue.edu/purdue/images/audience/Brand-2020/image4.png">
            <source media="(min-width: 992px)" srcset="https://www.purdue.edu/purdue/images/audience/Brand-2020/image4.png">
            <source srcset="https://www.purdue.edu/purdue/images/audience/Brand-2020/image4.png">
            <img alt="students collaborating with faculty member" src="https://www.purdue.edu/purdue/images/audience/Brand-2020/image4.png">
          </picture>
        </article>
      </section>
      <section aria-labelledby="Story" class="container container--audience-row container--bg-white">
        <article class="row row__story">
          <picture>
            <source media="(min-width: 1200px)" srcset="https://www.purdue.edu/purdue/images/audience/diversity/diversity-650x360.jpg">
            <source media="(min-width: 992px)" srcset="https://www.purdue.edu/purdue/images/audience/diversity/diversity-535x296.jpg">
            <source media="(min-width: 767px)" srcset="https://www.purdue.edu/purdue/images/audience/diversity/diversity-720x398.jpg">
            <source media="(min-width: 481px)" srcset="https://www.purdue.edu/purdue/images/audience/diversity/diversity.jpg">
            <source srcset="https://www.purdue.edu/purdue/images/audience/diversity/diversity.jpg">
            <img alt="Group of students wearing paint" src="https://www.purdue.edu/purdue/images/audience/diversity/diversity.jpg">
          </picture>
          <section class="row row__story__content">
            <h2>Acumin Pro SemiCondensed Bol</h2>
            <p>Sit necessitatibus voluptas explicabo sed, at impedit? Repudiandae recusandae veritatis id quam consectetur, vel natus aperiam quibusdam obcaecati qui pariatur illo, et sunt quaerat. Ex eius deserunt distinctio fuga itaque!</p>
            <p>Sit necessitatibus voluptas explicabo sed, at impedit? Repudiandae recusandae veritatis id quam consectetur, vel natus aperiam quibusdam obcaecati qui pariatur illo, et sunt quaerat. Ex eius deserunt distinctio fuga itaque!</p>
            <button href="#" class="button button-campusGold-inverse button-hollow" target="_blank">Button</button>
          </section>
        </article>
      </section>
      <section aria-labelledby="Events" class="container container--audience-row container--bg-events">
        <article class="row row__events">
          <h2>Upcoming Events</h2>
          <section class="row__events__cards">
            <div class="row__events__card">
              <p class="event-date">01</p>
              <p class="event-month">July</p>
              <a href="#" class="event-content">
                <p>Building Purdue: 150 Years of the West Lafayette Campus</p>
                <p>10:00 A.M. - 4:30 P.M. | ASC</p>
              </a>
            </div>
            <div class="row__events__card">
              <p class="event-date">02</p>
              <p class="event-month">July</p>
              <a href="#" class="event-content">
                <p>HTM Colloquium on Tourism, Health, and the Quality of Life</p>
                <p>3:00 P.M. - 5:00 P.M. | MARRIOT HALL, ROOM 237</p>
              </a>
            </div>
          </section>
          <button class="button button-opaque button-light">See All Events</button>
        </article>
      </section>
      <section aria-labelledby="Tint" class="container container--audience-row container--bg-lightGray">
        <article class="row row__tint">
          <div class="row__tint__header">
            <h2>@LifeAtPurdue on Instagram (Tint Feed)</h2>
            <button class="button button-black" href="https://instagram.com/lifeatpurdue/" target="_blank" rel="noopener">Follow</button>
          </div>
          <div class="row__tint__photos">
            <script async src="https://cdn.hypemarks.com/pages/a5b5e5.js"></script>
            <div class="tintup" data-id="mm_purdue" data-columns="" data-expand="true" data-count="6" data-paginate="true" data-personalization-id="882168" style="height:500px;width:100%;"></div>
          </div>
        </article>
      </section>
      <section aria-labelledby="Twitter" class="container container--audience-row container--bg-twitter">
        <article class="row row__twitter">
          <section class="row row__twitter__contents">
            <div class="row row__twitter__content">
              <p class="header">
                Purdue University <span>@LifeAtPurdue</span> 21h
              </p>
              <p class="retweet">
                <i class="fas fa-retweet"></i> Retweeted from <a href="https://twitter.com/PurdueToday" target="_blank" rel="noopener">@PurdueToday</a>
              </p>
              <p class="text">
                High school students can earn college credit in one week through a new summer program. <a href="https://t.co/C51EBp7t4L">https://t.co/C51EBp7t4L</a>
              </p>
            </div>
            <div class="row row__twitter__content">
              <p class="header">
                Purdue University <span>@LifeAtPurdue</span> 20m
              </p>
              <p class="text">
                Study hard, Boilers! Finals are just around the corner, but we know you've got this.
              </p>
            </div>
          </section>
          <button class="button button-black" target="_blank" rel="noopener">Follow @LIFEATPURDUE on Twitter</button>
        </article>
      </section>
    </main>
    <footer class="footer">
      <section class="footer__resources">
        <h2 class="sr-only">Resources</h2>
        <article class="footer__resources__columns">
          <div class="footer__resources__column">
            <h3><button class="accordion__heading accordion__heading--footer" aria-expanded="true" aria-disabled="true" id="accordion1id" aria-controls="sect1">Communication<i aria-hidden="true" class="fas fa-plus accordion__icon accordion__icon__plus"></i><i aria-hidden="true" class="fas fa-minus accordion__icon accordion__icon__minus"></i></button></h3>
            <ul role="list" class="accordion__content--footer" id="sect1" aria-labelledby="accordion1id">
              <li role="listitem"><a href="https://one.purdue.edu">OneCampus Portal</a></li>
              <li role="listitem"><a href="https://mycourses.purdue.edu">Blackboard</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/boilerconnect/">BoilerConnect</a></li>
              <li role="listitem"><a href="http://portal.office.com/">Office 365</a></li>
              <li role="listitem"><a href="https://exchange.purdue.edu">Outlook</a></li>
              <li role="listitem"><a href="https://mypurdue.purdue.edu">myPurdue</a></li>
            </ul>
          </div>
          <div class="footer__resources__column">
            <h3><button class="accordion__heading accordion__heading--footer" aria-expanded="true" aria-disabled="true" id="accordion2id" aria-controls="sect2">Campus<i aria-hidden="true" class="fas fa-plus accordion__icon accordion__icon__plus"></i><i aria-hidden="true" class="fas fa-minus accordion__icon accordion__icon__minus"></i></button></h3>
            <ul role="list" class="accordion__content--footer" id="sect2" aria-labelledby="accordion2id">
              <li role="listitem"><a href="http://www.purdue.edu/purdue/faculty_staff/index.php">Faculty and Staff</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/hr">Human Resources</a></li>
              <li role="listitem"><a href="http://www.purdue.edu/purdue/careers/index.php">Careers</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/purdue/about/colleges_schools.html">Colleges and Schools</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/directory/">Directory</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/campus_map/index.html">Campus Map</a></li>
            </ul>
          </div>
          <div class="footer__resources__column">
            <h3><button class="accordion__heading accordion__heading--footer" aria-expanded="true" aria-disabled="true" id="accordion3id" aria-controls="sect3">Information <i aria-hidden="true" class="fas fa-plus accordion__icon accordion__icon__plus"></i><i aria-hidden="true" class="fas fa-minus accordion__icon accordion__icon__minus"></i></button></h3>
            <ul role="list" class="accordion__content--footer" id="sect3" aria-labelledby="accordion3id">
              <li role="listitem"><a href="http://www.purdue.edu/newsroom/purduetoday/">Purdue Today</a></li>
              <li role="listitem"><a href="https://calendar.purdue.edu/">Calendar</a></li>
              <li role="listitem"><a href="https://www.lib.purdue.edu/">Libraries</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/physicalfacilities/construction/">Construction</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/treasurer/finance/bursar-office/tuition/tuition-calculator/">Tuition Calculator</a></li>
              <li role="listitem"><a href="http://www.purdue.edu/hr/CHL/">Center for Healthy Living</a></li>
            </ul>
          </div>
          <div class="footer__resources__column">
            <h3><button class="accordion__heading accordion__heading--footer" aria-expanded="true" aria-disabled="true" id="accordion4id" aria-controls="sect4">People <i aria-hidden="true" class="fas fa-plus accordion__icon accordion__icon__plus"></i><i aria-hidden="true" class="fas fa-minus accordion__icon accordion__icon__minus"></i></button></h3>
            <ul role="list" class="accordion__content--footer" id="sect4" aria-labelledby="accordion4id">
              <li role="listitem"><a href="https://www.purdue.edu/hotline/">Speak Up</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/diversity-inclusion/">Diversity and Inclusion</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/ethics/">Ethics and Compliance</a></li>
              <li role="listitem"><a href="https://www.itap.purdue.edu/">Information Technology</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/ehps/police/reports/index.html">Annual Security Report</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/ehps/police/timely-warnings/">Timely Warnings</a></li>
            </ul>
          </div>
          <div class="footer__resources__column">
            <div class="footer__resources__column__motto">
              <svg class="horizontal" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 249.7 45.3" style="enable-background:new 0 0 249.7 45.3;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                    fill: #FFFFFF;
                  }
                  .st1 {
                    fill: #CFB991;
                  }
                  .st2 {
                    fill: #9D9795;
                  }
                </style>
                <title>PU-H-Full-Rev-RGB</title>
                <g>
                  <path class="st0" d="M97.4,3.8L94.6,3V1h10.9c7.1,0,9.7,2.3,9.7,7.6c0,5-2.9,7.6-8.5,7.6h-4.4v8l2.8,0.8V27H94.5v-1.9l2.9-0.8V3.8z
                		 M102.3,3.8v10.1l5.2-0.4c1.3-0.6,2.6-1.4,2.6-4.6c0-2.5-0.1-5.1-4.9-5.1L102.3,3.8z" />
                  <path class="st0" d="M155.8,16h-3.5v8.4l2.8,0.8V27h-10.7v-1.9l2.9-0.8V3.8L144.5,3V1h11.4c6.8,0,9.2,2.4,9.2,7
                		c0,3.6-1.4,5.4-4.6,6.7l4.8,9.4l3.1,1V27h-7.2L155.8,16z M152.3,3.8v9.9l5.3-0.4c1.7-0.8,2.5-2.2,2.5-4.9c0-2.9-0.9-4.7-3.9-4.7
                		L152.3,3.8z" />
                  <path class="st0" d="M170.6,25.2l2.8-0.8V3.8L170.6,3V1h12.6c7.1,0,11.3,4.3,11.3,12.7c0,9.5-4.3,13.3-11.8,13.3h-12.1V25.2z
                		 M178.4,3.8v20.6h3.7c2.6,0,7-0.4,7-9.8c0-7.4-1.3-10.8-7-10.8L178.4,3.8z" />
                  <path class="st0" d="M105.5,40.6c0,3.2-1.8,4.3-4.8,4.3s-4.8-1.8-4.8-4.3v-6.3l-1.4-0.4v-1.2h5.5v1.2l-1.3,0.4v6.3
                		c0,1.6,0.6,2.5,2.4,2.5c0.9,0,2.4-0.3,2.4-2.6v-6.3l-1.4-0.4v-1.2h4.8v1.2l-1.4,0.4L105.5,40.6z" />
                  <path class="st0" d="M115.1,37.3v5.8l1.3,0.4v1.2h-4.7v-1.2l1.4-0.4v-8.3l-0.6-0.7l-0.8-0.3v-1.3h3.1l5.9,7.4v-5.8l-1.4-0.4v-1.2
                		h4.7v1.2l-1.4,0.4v10.5h-1.6L115.1,37.3z" />
                  <path class="st0" d="M134.1,43.2l1.4,0.4v1.2h-5.6v-1.2l1.4-0.4v-8.9l-1.4-0.4v-1.2h5.6v1.2l-1.4,0.4V43.2z" />
                  <path class="st0" d="M209,43.2l1.4,0.4v1.2h-5.6v-1.2l1.4-0.4v-8.9l-1.4-0.4v-1.2h5.6v1.2l-1.4,0.4L209,43.2z" />
                  <path class="st0" d="M148.2,44.7h-2.6l-3.8-10.5l-1.4-0.4v-1.2h5.9v1.2l-1.4,0.4l2.6,7.5l2.6-7.5l-1.4-0.4v-1.2h4.8v1.2l-1.4,0.4
                		L148.2,44.7z" />
                  <path class="st0" d="M159.2,34.3l-1.4-0.4v-1.2h9.5l0.1,3.7H166l-0.7-2.1h-3.2v3.4h3.1v1.7h-3.1v3.8h3.2l1-2.1h1.5l-0.2,3.7h-9.7
                		v-1.2l1.4-0.3V34.3z" />
                  <path class="st0" d="M179.1,39.8h-1v3.4l1.4,0.4v1.2h-5.6v-1.2l1.4-0.4v-8.9l-1.4-0.4v-1.2h5.5c3.4,0,4.4,1.3,4.4,3.4
                		c0,1.3-0.3,2.6-2,3.2l2,3.9l1.7,0.5v1.1h-4.1L179.1,39.8z M178.1,34.3v4.2l1.9-0.2c0.6-0.5,1-1.3,1-2.1c0-1.2-0.3-2-1.6-2H178.1z" />
                  <path class="st0" d="M190.4,41h1.7l0.4,1.7c0.8,0.5,1.7,0.7,2.6,0.7c0.1,0,0.3,0,0.4,0c0.5-0.3,0.7-0.9,0.8-1.5
                		c0-2.8-5.8-1.6-5.8-5.7c0-1.9,1.7-3.7,4.6-3.7c1.1,0,2.3,0.3,3.3,0.8v3.2h-1.6l-0.6-2c-0.6-0.2-1.3-0.4-2-0.4c-0.1,0-0.2,0-0.3,0
                		c-0.5,0.3-0.8,0.8-0.8,1.4c0,2.4,5.7,1.6,5.7,5.6c0,2.2-2,3.8-4.6,3.8c-1.3,0-2.6-0.4-3.7-1.1L190.4,41z" />
                  <path class="st0" d="M220,34.3h-1.6l-0.7,2.1h-1.5v-3.8h10.6v3.8h-1.5l-0.7-2.1h-1.7v8.9l1.4,0.4v1.2h-5.6v-1.2l1.4-0.4V34.3z" />
                  <path class="st0" d="M236.2,40.1l-3.2-5.8l-1.4-0.4v-1.2h5.9v1.2l-1.4,0.4l2,3.9l2-3.9l-1.4-0.4v-1.2h4.8v1.2l-1.4,0.4l-3.2,5.8
                		v3.1l1.4,0.4v1.2h-5.6v-1.2l1.4-0.4V40.1z" />
                  <polygon class="st0" points="241.4,19.5 239.5,24.3 231.4,24.3 231.4,15 236,15 236.6,17.6 238.6,17.6 238.6,9.7 236.6,9.7 
                		236,12.3 231.4,12.3 231.4,3.8 239.2,3.8 240.6,8.8 243.5,8.8 243.3,1 223.6,1 223.6,3 226.4,3.8 226.4,24.4 223.5,25.2 223.5,27 
                		243.7,27 244.1,19.5 	" />
                  <path class="st0" d="M139.5,18.1c0,6.6-3.2,9.3-9.6,9.3c-5.9,0-10.2-2.4-10.2-8.7V3.8L116.8,3V1h10.6v2l-2.8,0.8v14.9
                		c0,3.8,1.7,5.4,5.9,5.4c2.9,0,5.5-1.7,5.5-5.7V3.8L133.1,3V1h9.2v2l-2.8,0.8V18.1z" />
                  <path class="st0" d="M218.5,18.1c0,6.6-3.2,9.3-9.6,9.3c-5.9,0-10.3-2.4-10.3-8.7V3.8L195.8,3V1h10.6v2l-2.8,0.8v14.9
                		c0,3.8,1.7,5.4,5.9,5.4c2.9,0,5.5-1.7,5.5-5.7V3.8L212.2,3V1h9.2v2l-2.8,0.8V18.1z" />
                  <path class="st1" d="M44.4,44.8L50,31.6h9.3c13.4,0,18.5-5.5,22.1-13.8c1.3-3.1,3.5-8.2,0.6-12.6c-2.9-4.4-9-4.8-13.3-4.8H19.3
                		l-7,16.3h8.9l-5,11.7h-9l-7,16.4H44.4z" />
                  <path class="st2" d="M79.4,6.9c-1.6-2.4-5-3.5-10.8-3.5H21.3L17,13.7h8.9l-7.5,17.7h-9L5,41.7h37.4l4.4-10.3h-9.1l1.2-2.9h20.4
                		c13.1,0,16.6-5.6,19.3-12C80,13.2,81.3,9.7,79.4,6.9 M45.3,13.7h15c2.1,0,1.8,1,1.5,1.7c-0.8,1.8-2.6,2.9-4.8,2.9H43.3L45.3,13.7z" />
                  <path d="M68.7,5H22.4l-3,7.1h8.9L19.4,33h-9l-3,7.1h34l3-7.1h-9.1l2.6-6h21.4c12.3,0,15.4-5.2,17.8-11S81,5,68.7,5 M57,19.9H41
                		l3.3-7.7h16c2.8,0,4,1.5,2.9,3.9C62.2,18.4,59.8,19.9,57,19.9" />
                  <path class="st0" d="M246.9,44.7c-1.4,0-2.6-1.2-2.6-2.6c0-1.4,1.2-2.6,2.6-2.6c1.4,0,2.6,1.2,2.6,2.6c0,0,0,0,0,0
                		C249.5,43.5,248.3,44.7,246.9,44.7z M246.9,40.1c-1.1,0-2.1,0.9-2.1,2.1c0,1.1,0.9,2.1,2.1,2.1c1.1,0,2.1-0.9,2.1-2.1
                		C249,41,248,40.1,246.9,40.1L246.9,40.1z" />
                  <path class="st0" d="M246.6,42.3v1h-0.5v-2.4h1.1c0.5,0,0.8,0.3,0.8,0.7c0,0.2-0.1,0.5-0.4,0.6c0.1,0,0.3,0.2,0.3,0.6v0.1
                		c0,0.2,0,0.3,0,0.5h-0.5c0-0.2-0.1-0.4,0-0.5v0c0-0.3-0.1-0.4-0.5-0.4L246.6,42.3z M246.6,41.9h0.4c0.3,0,0.4-0.1,0.4-0.3
                		s-0.1-0.3-0.4-0.3h-0.4V41.9z" />
                </g>
              </svg> <svg class="vertical" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 203.8 132" style="enable-background:new 0 0 203.8 132;" xml:space="preserve">
                <style type="text/css">
                  .v-st0 {
                    fill: #CFB991;
                  }
                  .v-st1 {
                    fill: #9D9795;
                  }
                  .v-st2 {
                    fill: #FFFFFF;
                  }
                </style>
                <title>PU-V-Full-Rev-RGB</title>
                <g>
                  <path class="v-st0" d="M102.5,58.7l7.3-17.3H122c17.6,0,24.3-7.2,28.9-18.1c1.7-4,4.6-10.7,0.8-16.5S140,0.5,134.3,0.5H69.7
                		l-9.1,21.4h11.7l-6.5,15.3H54l-9.1,21.4L102.5,58.7z" />
                  <path class="v-st1" d="M148.4,9.1c-2.1-3.1-6.5-4.6-14.1-4.6h-62L66.5,18h11.7l-9.9,23.2H56.6l-5.7,13.5h49l5.7-13.5H93.8l1.6-3.8
                		H122c17.1,0,21.7-7.4,25.3-15.7C149.2,17.3,150.8,12.7,148.4,9.1 M103.7,18h19.6c2.7,0,2.3,1.4,1.9,2.2c-1,2.3-3.4,3.8-6.3,3.8
                		h-17.8L103.7,18z" />
                  <path d="M134.3,6.6H73.6l-4,9.4h11.7L69.7,43.3H58l-4,9.4h44.5l4-9.4H90.6l3.4-7.9h28.1c16.1,0,20.1-6.8,23.4-14.4
                		S150.4,6.5,134.3,6.6 M118.9,26H98l4.3-10.1h21c3.7,0,5.2,1.9,3.9,5.1S122.6,26,118.9,26" />
                  <path class="v-st2" d="M4,78l-3.7-1.1v-2.6h14.3c9.3,0,12.8,3,12.8,10c0,6.6-3.8,10-11.1,10h-5.8v10.6l3.7,1.1v2.5h-14v-2.5l3.8-1.1
                		V78z M10.5,77.9v13.2l6.8-0.5c1.7-0.8,3.4-1.8,3.4-6.1c0-3.2-0.1-6.6-6.4-6.6L10.5,77.9z" />
                  <path class="v-st2" d="M80.7,93.9H76v11l3.7,1.1v2.5h-14v-2.5l3.8-1.1V78l-3.7-1.1v-2.6h14.9c8.9,0,12.1,3.1,12.1,9.2
                		c0,4.7-1.8,7.1-6,8.8l6.3,12.3l4.1,1.3v2.5h-9.5L80.7,93.9z M76,77.9v13l6.9-0.5c2.2-1.1,3.2-2.8,3.2-6.4c0-3.8-1.2-6.1-5.1-6.1
                		L76,77.9z" />
                  <path class="v-st2" d="M100,105.9l3.7-1V78l-3.7-1.1v-2.6h16.5c9.3,0,14.8,5.6,14.8,16.7c0,12.5-5.6,17.4-15.5,17.4H100V105.9z
                		 M110.2,77.9v27h4.9c3.4,0,9.1-0.5,9.1-12.9c0-9.7-1.7-14.1-9.1-14.1L110.2,77.9z" />
                  <path class="v-st2" d="M14.7,126.2c0,4.1-2.4,5.7-6.3,5.7s-6.3-2.3-6.3-5.7v-8.3l-1.8-0.6v-1.6h7.3v1.6l-1.8,0.6v8.3
                		c0,2.1,0.8,3.3,3.2,3.3c1.1,0,3.1-0.4,3.1-3.4v-8.2l-1.8-0.6v-1.6h6.2v1.6l-1.8,0.5V126.2z" />
                  <path class="v-st2" d="M27.2,121.9v7.6L29,130v1.6h-6.1V130l1.8-0.5v-10.8l-0.8-1l-1.1-0.3v-1.7h4l7.7,9.7v-7.6l-1.8-0.5v-1.6h6.1
                		v1.6l-1.8,0.5v13.8h-2.1L27.2,121.9z" />
                  <path class="v-st2" d="M52.2,129.5L54,130v1.6h-7.3V130l1.8-0.5v-11.7l-1.8-0.5v-1.6H54v1.6l-1.8,0.5L52.2,129.5z" />
                  <path class="v-st2" d="M150.4,129.5l1.8,0.5v1.6h-7.3V130l1.8-0.5v-11.7l-1.8-0.5v-1.6h7.3v1.6l-1.8,0.5V129.5z" />
                  <path class="v-st2" d="M70.6,131.6h-3.4l-5-13.7l-1.8-0.6v-1.6h7.7v1.6l-1.8,0.6l3.3,9.8l3.4-9.8l-1.8-0.6v-1.6h6.2v1.6l-1.8,0.6
                		L70.6,131.6z" />
                  <path class="v-st2" d="M85.1,117.8l-1.8-0.5v-1.6h12.5l0.1,4.9h-2l-1-2.8h-4.1v4.5h4.1v2.3h-4.1v5H93l1.3-2.8h1.9l-0.3,4.8H83.3V130
                		l1.8-0.4V117.8z" />
                  <path class="v-st2" d="M111.1,125.1h-1.4v4.4l1.8,0.5v1.6h-7.3V130l1.8-0.5v-11.7l-1.8-0.5v-1.6h7.2c4.4,0,5.8,1.7,5.8,4.4
                		c0,1.8-0.4,3.4-2.6,4.2l2.5,5.2l2.2,0.7v1.5h-5.4L111.1,125.1z M109.8,117.8v5.6l2.5-0.2c0.8-0.7,1.3-1.7,1.2-2.8
                		c0-1.6-0.4-2.6-2-2.6H109.8z" />
                  <path class="v-st2" d="M126,126.7h2.2l0.5,2.2c1,0.6,2.2,0.9,3.3,0.9c0.2,0,0.3,0,0.5,0c0.6-0.4,1-1.2,1-1.9c0-3.7-7.6-2.1-7.6-7.5
                		c0-2.5,2.3-4.9,6-4.9c1.5,0,3,0.4,4.3,1.1v4.2h-2.1l-0.8-2.7c-0.8-0.3-1.7-0.5-2.6-0.5c-0.1,0-0.3,0-0.4,0c-0.6,0.4-1,1.1-1,1.9
                		c0,3.2,7.5,2,7.5,7.4c0,2.9-2.6,4.9-6.1,4.9c-1.7,0-3.4-0.5-4.8-1.4L126,126.7z" />
                  <path class="v-st2" d="M164.7,117.9h-2.1l-0.9,2.8h-2v-5h13.8v5h-1.9l-0.9-2.8h-2.2v11.6l1.8,0.5v1.6h-7.3V130l1.8-0.5V117.9z" />
                  <path class="v-st2" d="M186,125.5l-4.2-7.6l-1.8-0.6v-1.6h7.7v1.6l-1.8,0.6l2.6,5.2l2.6-5.2l-1.8-0.6v-1.6h6.3v1.6l-1.8,0.6l-4.2,7.6
                		v4.1l1.8,0.5v1.6h-7.3V130l1.8-0.5L186,125.5z" />
                  <polygon class="v-st2" points="192.7,98.5 190.3,104.9 179.6,104.9 179.6,92.6 185.7,92.6 186.4,96 189.1,96 189.1,85.7 186.4,85.7 
                		185.7,89 179.6,89 179.6,77.9 189.8,77.9 191.8,84.5 195.5,84.5 195.2,74.3 169.4,74.3 169.4,76.9 173.1,78 173.1,104.9 
                		169.4,105.9 169.4,108.4 195.7,108.4 196.3,98.5 	" />
                  <path class="v-st2" d="M59.2,96.7c0,8.7-4.1,12.2-12.6,12.2c-7.8,0-13.4-3.1-13.4-11.3V78l-3.7-1.1v-2.6h13.9v2.6L39.6,78v19.6
                		c0,4.9,2.3,7.1,7.7,7.1c3.7,0,7.2-2.2,7.2-7.5V78l-3.7-1.1v-2.6h12v2.6L59.2,78V96.7z" />
                  <path class="v-st2" d="M162.8,96.7c0,8.7-4.1,12.2-12.6,12.2c-7.8,0-13.4-3.1-13.4-11.3V78l-3.7-1.1v-2.6h13.9v2.6l-3.7,1.1v19.6
                		c0,4.9,2.3,7.1,7.7,7.1c3.7,0,7.2-2.2,7.2-7.5V78l-3.7-1.1v-2.6h12v2.6l-3.7,1.1V96.7z" />
                  <path class="v-st2" d="M200,131.5c-1.9,0-3.4-1.5-3.4-3.4c0-1.9,1.5-3.4,3.4-3.4c1.9,0,3.4,1.5,3.4,3.4l0,0
                		C203.4,130,201.9,131.5,200,131.5z M200,125.4c-1.5,0-2.7,1.2-2.7,2.7s1.2,2.7,2.7,2.7c1.5,0,2.7-1.2,2.7-2.7l0,0
                		C202.7,126.7,201.5,125.4,200,125.4L200,125.4L200,125.4z" />
                  <path class="v-st2" d="M199.6,128.5v1.3h-0.7v-3.2h1.4c0.7,0,1.1,0.4,1.1,0.9c0,0.3-0.2,0.6-0.5,0.7c0.2,0.1,0.4,0.2,0.4,0.8v0.2
                		c0,0.2,0,0.4,0,0.6h-0.7c-0.1-0.2-0.1-0.5-0.1-0.7v0c0-0.3-0.1-0.5-0.6-0.5L199.6,128.5z M199.6,127.9h0.6c0.4,0,0.5-0.1,0.5-0.4
                		c0-0.2-0.2-0.4-0.5-0.4h-0.6L199.6,127.9z" />
                </g>
              </svg>
            </div>
            <div class="footer__resources__column__social">
              <a href="https://www.facebook.com/PurdueUniversity/" rel="noopener" target="_blank"><span class="sr-only">Facebook</span><i aria-hidden="true" class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com/lifeatpurdue" rel="noopener" target="_blank"><span class="sr-only">Twitter</span><i aria-hidden="true" class="fab fa-twitter"></i></a>
              <a href="https://www.youtube.com/user/PurdueUniversity" rel="noopener" target="_blank"><span class="sr-only">YouTube</span><i aria-hidden="true" class="fab fa-youtube"></i></a>
              <a href="https://www.instagram.com/lifeatpurdue/" rel="noopener" target="_blank"><span class="sr-only">Instagram</span><i aria-hidden="true" class="fab fa-instagram"></i></a>
              <a href="https://www.pinterest.com/lifeatpurdue/" rel="noopener" target="_blank"><span class="sr-only">Pinterest</span><i aria-hidden="true" class="fab fa-pinterest"></i></a>
              <a href="https://www.snapchat.com/add/lifeatpurdue" rel="noopener" target="_blank"><span class="sr-only">Snapchat</span><i aria-hidden="true" class="fab fa-snapchat-ghost"></i></a>
              <a href="https://www.linkedin.com/edu/purdue-university-18357" rel="noopener" target="_blank"><span class="sr-only">LinkedIn</span><i aria-hidden="true" class="fab fa-linkedin-in"></i></a>
              <a href="http://purdue.amazon.com/" rel="noopener" target="_blank"><span class="sr-only">Amazon</span><i aria-hidden="true" class="fab fa-amazon"></i></a>
            </div>
          </div>
        </article>
      </section>
      <section class="footer__contact">
        <article class="footer__contact--list">
          <p>Purdue University, 610 Purdue Mall, West Lafayette, IN, 47907, 765-494-4600</p>
          <p><a href="http://www.purdue.edu/purdue/disclaimer.html" target="_blank" rel="noopener">© 2019 Purdue University</a> | <a href="http://www.purdue.edu/purdue/ea_eou_statement.html" target="_blank" rel="noopener">An equal access/equal opportunity university</a> | <a href="http://www.purdue.edu/purdue/about/integrity_statement.html" target="_blank" rel="noopener">Integrity Statement</a> | <a href="https://www.purdue.edu/securepurdue/security-programs/copyright-policies/reporting-alleged-copyright-infringement.php" target="_blank" rel="noopener">Copyright Complaints</a> | <a href="http://www.purdue.edu/brand/" target="_blank" rel="noopener">Brand Toolkit</a> | <a href="https://www.purdue.edu/marketing/" rel="noopener">Maintained by Office of Marketing and Media</a></p>
          <p>Contact <a href="https://www.purdue.edu" rel="noopener">Secure Purdue</a> for accessibility issues with this page | <a href="https://www.purdue.edu/disabilityresources/" rel="noopener">Accessibility Resources</a> | <a href="https://www.purdue.edu/purdue/contact-us" target="_blank" rel="noopener">Contact Us</a></p>
        </article>
      </section>
    </footer>
    <script src="../../../../js/mm/templates/main.js"></script>
  </body>
</html>