<div class="proofPointsContainer rowContainer">
	<div class="container">
		<div class="proofPoints row">
			<div class="proofPoint col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="https://www.purdue.edu/purdue/images/templateElements/2015/audience-multipleImage1.png" alt="number five best school for cybersecurity"/>
			</div>
			<div class="proofPoint col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="https://www.purdue.edu/purdue/images/templateElements/2015/audience-multipleImage2.jpg" alt="students play instruments"/>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="proofPoint col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="https://www.purdue.edu/purdue/images/templateElements/2015/audience-multipleImage3.png" alt="top 10 education technology innovator"/>
			</div>
			<div class="proofPoint col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="https://www.purdue.edu/purdue/images/templateElements/2015/audience-multipleImage4.jpg" alt="researcher in a lab"/>
			</div>
		</div>
	</div>
</div>