{{> header}}
<main id='videoTemplate'>    
    <section class="container container--bg-white content__content">
        <article  class="row">
            <aside class="content__aside">
                <nav class="content__side-nav">
                    <ul role='menu' aria-label="Side Navigation">
                        <li role="none"><a class="sideNav--button is-current" role='menuitem' href="#">Division I</a></li>
                        <li role="none"><a class="sideNav--button" role='menuitem' href="#">Division II</a></li>
                        <li role="none"><a class="sideNav--button" role='menuitem' href="#">Division III</a></li>
                        <li role="none"><a class="sideNav--button" role='menuitem' href="#">Division IV</a></li>
                        <li role="none"><a class="sideNav--button" role='menuitem' href="#">Division V</a></li>
                        <li role="none"><a class="sideNav--button" role='menuitem' href="#">Division VI</a></li>
                    </ul>
                </nav>
            </aside>
            <article class="content__main">
                <h1>Heading 1</h1>
                <h2>College</h2>
                <div class="videos-container">
                    <div class="commenceVideo">
                        <div class="videoContainer">
                            <video controls="" poster="https://brand.purdue.edu/wp-content/uploads/2020/03/Screen-Shot-2020-03-05-at-2.38.04-PM.png" src="https://brand.purdue.edu/wp-content/uploads/2020/03/PUR_025-Brand-Narrative_Custom-Aged_MP4-462.mp4"></video>
                            
                        </div>
                        <h3>Video Title</h3>
                        <p>Video caption here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                    </div>
                    <div class="commenceVideo">
                        <div class="videoContainer">
                            <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <h3>Video Title</h3>
                        <p>Video caption here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                    </div>
                    <div class="commenceVideo">
                        <div class="videoContainer">
                            <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <h3>Video Title</h3>
                        <p>Video caption here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                    </div>
                    <div class="commenceVideo">
                        <div class="videoContainer">
                            <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <h3>Video Title</h3>
                        <p>Video caption here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                    </div>
                    <div class="commenceVideo">
                        <div class="videoContainer">
                            <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <h3>Video Title</h3>
                        <p>Video caption here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                    </div>
                </div>
                <div class="award-container">
                    <h2>Student awards</h2>
                    <hr>
                    <h3>Award Name</h3>
                    <h4 class="award__subheader">Student Name</h4>
                    <figure class="imageContainer left useCaption">
                        <img src="http://placehold.it/175x250" alt="image alternate text">
                        <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing.</figcaption>
                    </figure>
                    <p>Proin vel lacus lacinia velit auctor volutpat ac non mauris. Proin et enim ac eros sollicitudin ornare. Proin tempor et nulla non rutrum. Aenean consequat diam a mauris finibus, ut aliquet ipsum pretium. Donec leo est, pulvinar vel finibus quis, commodo ut ante. Sed varius consequat nisi, iaculis bibendum lacus hendrerit vitae. Nullam tincidunt ipsum vitae ultricies pulvinar. Phasellus vestibulum ac quam non cursus. Nulla id justo scelerisque tortor feugiat fringilla sed vel ipsum. Etiam lectus lacus, volutpat a tellus nec, blandit aliquam lorem.</p>
                    <h3>Award Name</h3>
                    <h4 class="award__subheader">Student Name</h4>
                    <figure class="imageContainer right useCaption">
                        <img src="http://placehold.it/175x250" alt="image alternate text">
                        <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing.</figcaption>
                    </figure>
                    <p>Proin vel lacus lacinia velit auctor volutpat ac non mauris. Proin et enim ac eros sollicitudin ornare. Proin tempor et nulla non rutrum. Aenean consequat diam a mauris finibus, ut aliquet ipsum pretium. Donec leo est, pulvinar vel finibus quis, commodo ut ante. Sed varius consequat nisi, iaculis bibendum lacus hendrerit vitae. Nullam tincidunt ipsum vitae ultricies pulvinar. Phasellus vestibulum ac quam non cursus. Nulla id justo scelerisque tortor feugiat fringilla sed vel ipsum. Etiam lectus lacus, volutpat a tellus nec, blandit aliquam lorem.</p>
                     <h3>Award Name</h3>
                    <h4 class="award__subheader">Student Name</h4>
                    <p>Proin vel lacus lacinia velit auctor volutpat ac non mauris. Proin et enim ac eros sollicitudin ornare. Proin tempor et nulla non rutrum. Aenean consequat diam a mauris finibus, ut aliquet ipsum pretium. Donec leo est, pulvinar vel finibus quis, commodo ut ante. Sed varius consequat nisi, iaculis bibendum lacus hendrerit vitae. Nullam tincidunt ipsum vitae ultricies pulvinar. Phasellus vestibulum ac quam non cursus. Nulla id justo scelerisque tortor feugiat fringilla sed vel ipsum. Etiam lectus lacus, volutpat a tellus nec, blandit aliquam lorem.</p>
                    
                    <h3>Award Name</h3>
                    <h4 class="award__subheader">Student Name</h4>
                    <figure class="imageContainer useCaption">
                        <img src="http://placehold.it/175x250" alt="image alternate text">
                        <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing.</figcaption>
                    </figure>
                    <p>Proin vel lacus lacinia velit auctor volutpat ac non mauris. Proin et enim ac eros sollicitudin ornare. Proin tempor et nulla non rutrum. Aenean consequat diam a mauris finibus, ut aliquet ipsum pretium. Donec leo est, pulvinar vel finibus quis, commodo ut ante. Sed varius consequat nisi, iaculis bibendum lacus hendrerit vitae. Nullam tincidunt ipsum vitae ultricies pulvinar. Phasellus vestibulum ac quam non cursus. Nulla id justo scelerisque tortor feugiat fringilla sed vel ipsum. Etiam lectus lacus, volutpat a tellus nec, blandit aliquam lorem.</p>

                </div>
            </article>
        </article>
    </section>
</main>
{{> footer}}