{{> header}}
<main id='contentTemplate'> 
    <nav class="content__breadcrumb">
        <ul class="row">
            <li><a href="#">Templates</a></li>
            <li><a href="#">Content page</a></li>
        </ul>
    </nav>    
    <section class="container container--bg-white content__content">
        <article  class="row">
            {{> content-side}} 
            {{> content-main}}
        </article>
    </section>
</main>
{{> footer}}