{{> header}}
<main id='typographyTemplate'>
	<nav class="content__breadcrumb">
		<ul class="row">
			<li><a href="#">Templates</a></li>
			<li><a href="#">Typography Examples</a></li>
		</ul>
	</nav>
	<section class="container container--bg-white content__content">
		<article class="row">
			{{> content-side}}
			<article class="content__main">
				<h1>H1 Acumin Pro 2.3125rem #000</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis impedit suscipit cum ea cumque
					reiciendis laudantium sed, aut unde optio molestiae non aliquam officia aliquid est earum minus qui
					nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aliquid, aspernatur
					exercitationem. Explicabo, impedit repudiandae maxime. Commodi, quod earum voluptatem dolorem
					aliquam omnis repellendus vel quisquam similique dolores, esse maxime.</p>
				<h2>H2 Acumin Pro Condensed Semibold 2rem #8e6f3e</h2>
				<p>Explicabo, impedit repudiandae maxime.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Debitis impedit suscipit cum ea cumque reiciendis laudantium sed, aut unde optio molestiae non
					aliquam officia aliquid est earum minus qui nulla. Lorem ipsum dolor sit amet, consectetur
					adipisicing elit. Obcaecati aliquid, aspernatur exercitationem. Commodi, quod earum voluptatem
					dolorem aliquam omnis repellendus vel quisquam similique dolores, esse maxime.</p>
				<h3>H3 Acumin Pro SemiCondensed Semibold 1.5625rem #000</h3>
				<p>Obcaecati aliquid, aspernatur exercitationem. Explicabo, impedit repudiandae maxime. Lorem ipsum
					dolor sit amet, consectetur adipisicing elit. Debitis impedit suscipit cum ea cumque reiciendis
					laudantium sed, aut unde optio molestiae non aliquam officia aliquid est earum minus qui nulla.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quod earum voluptatem dolorem
					aliquam omnis repellendus vel quisquam similique dolores, esse maxime.</p>
				<h4>H4 Acumin Pro SemiCondensed Medium 1.375rem Caps #555960</h4>
				<p>Dolor sit amet, consectetur adipisicing elit. Obcaecati aliquid, aspernatur exercitationem.
					Explicabo, impedit repudiandae maxime. Commodi, quod earum voluptatem dolorem aliquam omnis
					repellendus vel quisquam similique dolores, esse maxime. <a href="#">Lorem ipsum dolor sit amet,
						consectetur adipisicing elit.</a> Debitis impedit suscipit cum ea cumque reiciendis laudantium
					sed, aut unde optio molestiae non aliquam officia aliquid est earum minus qui nulla.</p>
				<h5>H5 Acumin Pro Bold 1.375rem #8e6f3e</h5>
				<p>Explicabo, impedit repudiandae maxime. Commodi, quod earum voluptatem dolorem aliquam omnis
					repellendus vel quisquam similique dolores, esse maxime.</p>
				<h6>H6 Acumin Pro SemiCondensed Semibold 1.1875rem Caps #000</h6>
				<p>Aliquam officia aliquid est earum minus qui nulla. Lorem ipsum dolor sit amet, consectetur
					adipisicing elit. Obcaecati aliquid, aspernatur exercitationem. Commodi, quod earum voluptatem
					dolorem aliquam omnis repellendus vel quisquam similique dolores, esse maxime.</p>
				<blockquote class="quote">
					<p class="quote__content">"Acumin Pro SemiCondensed Bold 1.5em black Consectetur adipisicing elit.
						At illum
						esse
						quas sunt, reiciendis magnam itaque aut exercitationem et, voluptatum laboriosam expedita, quia
						officia
						ipsum nemo molestias alias sequi vero."</p>
					<p class="quote__source">- Acumin Pro SemiCondensed Bold 1.125em aged gold</p>
				</blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quidem similique, aspernatur illum
					tempora,
					nostrum pariatur eos consequuntur atque minus fugit deleniti illo reprehenderit architecto quis
					ipsam
					debitis asperiores temporibus!</p>
				<blockquote class="quote quote-mark">
					<p class="quote__content">"Acumin Pro SemiCondensed Bold 1.5em black Consectetur adipisicing elit.
						At illum
						esse
						quas sunt, reiciendis magnam itaque aut exercitationem et, voluptatum laboriosam expedita, quia
						officia
						ipsum nemo molestias alias sequi vero."</p>
					<p class="quote__source">- Acumin Pro SemiCondensed Bold 1.125em aged gold</p>
				</blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quidem similique, aspernatur illum
					tempora, nostrum pariatur eos consequuntur atque minus fugit deleniti illo reprehenderit architecto
					quis ipsam debitis asperiores temporibus!</p>
				<hr />
				<h1>H1 Acumin Pro 2.3125rem #000</h1>
				<h2>H2 Acumin Pro Condensed Semibold 2rem #8e6f3e</h2>
				<h3>H3 Acumin Pro SemiCondensed Semibold 1.5625rem #000</h3>
				<h4>H4 Acumin Pro SemiCondensed Medium 1.375rem Caps #555960</h4>
				<h5>H5 Acumin Pro Bold 1.375rem #8e6f3e</h5>
				<h6>H6 Acumin Pro SemiCondensed Semibold 1.1875rem Caps #000</h6>
				</div>
			</article>
		</article>
	</section>
</main>
{{> footer}}