{{> header}}
<main id='audienceTemplate'>
    {{> row-intro}} 
    {{> row-featureLinks}}
    {{> row-links}}
    {{> row-largePhoto}}
    {{> row-multipleImages}}
    {{> row-story}}
    {{> row-events}}
    {{> row-news}}
    {{> row-tint}}
</main>
{{> footer}}
