{{> header}}
<main id='deptOfficeTemplate' class="container container--office container--bg-white">
  <div class="office__grid">
    <style type="text/css">
		.office__hero{
			background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/deptOffice_hero-lg.jpg");
		}
		@media (min-width:992px) and (max-width:1199px)
		{
			.office__hero{
				background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/deptOffice_hero-md.jpg");
			}
		}
		@media (min-width:768px) and (max-width:991px)
		{
			.office__hero{
				background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/deptOffice_hero-sm.jpg");
			}
		}
		@media (min-width:481px) and (max-width:767px)
		{
			.office__hero{
				background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/deptOffice_hero-lg.jpg");
			}
		}
		@media (max-width:480px)
		{
			.office__hero{
				background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/deptOffice_hero-xs.jpg");
			}
		}
    </style>
    <section class="office__hero">
      <h2>Lorem Ipsum</h2>
      <p>Dolor sit amet, consectetur adipisicing elit. Officiis nisi iure ipsum inventore doloremque quam blanditiis, et vel dolorum quisquam.</p>
    </section>
    <section class="office__tiles">
      <a class="office__tile office__tile--3 office__tile--campusGold" id="office-tile-1" href="#">
        <i class="fas fa-info-circle"></i>
        Lorem Ipsum
      </a>
      <a class="office__tile office__tile--3 office__tile--ameliaSkyBlue" id="office-tile-2" href="#">
        <i class="fas fa-newspaper"></i>
        Dolor sit
      </a>
      <a class="office__tile office__tile--3 office__tile--rossAdeGreen" id="office-tile-3" href="#">
        <i class="fas fa-rocket"></i>
        Consectetur Adipisicing
      </a>
    </section>
    <section class="office__feature-buttons">
      <a href="#" class="button button-gray15 button-slim button-wide">Lorem ipsum</a>
      <a href="#" class="button button-gray15 button-slim button-wide">Dolor Sit</a>
      <a href="#" class="button button-gray15 button-slim button-wide">Amet Consectetur</a>
    </section>
    <section class="office__content">
      <h1>Header 1</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum arcu tincidunt aliquam auctor. In suscipit, mauris eu venenatis facilisis, arcu eros ornare dui, eu elementum magna lorem sagittis nisi. Etiam molestie, mi vel porta mattis, urna ipsum facilisis sapien, id pellentesque sapien sapien id metus.</p>
    </section>
  </div>
</main>
{{> footer}}
