{{> header}}
<main id='collegeTemplate' class="container container--college container--bg-white">
  <article class="row row--college">
    {{> college-main}}
    {{> college-tiles}}
  </article>
</main>
{{> footer}}
