{{> header}}
<main id='audienceTemplate'>
    {{> row-intro}} 
    {{> row-featureLinks}}
    {{> row-links}}
    {{> row-largePhoto}}
    {{> row-multipleImages}}
    {{> row-story}}
    {{> row-video}}
    {{> row-events}}
    {{> row-news}}
    {{> row-tint}}
    {{> row-twitter}}
    {{> row-instagram}}
</main>
{{> footer}}
