{{> header}}
<main id='videoTemplate'>    
    <section class="container container--bg-white content__content">
        <article  class="row">
            <aside class="content__aside">
                <nav class="content__side-nav">
                    <ul role='menu' aria-label="Side Navigation">
                        <li role="none"><a class="sideNav--button is-current" role='menuitem' href="#">Division I</a></li>
                        <li role="none"><a class="sideNav--button" role='menuitem' href="#">Division II</a></li>
                        <li role="none"><a class="sideNav--button" role='menuitem' href="#">Division III</a></li>
                        <li role="none"><a class="sideNav--button" role='menuitem' href="#">Division IV</a></li>
                        <li role="none"><a class="sideNav--button" role='menuitem' href="#">Division V</a></li>
                        <li role="none"><a class="sideNav--button" role='menuitem' href="#">Division VI</a></li>
                    </ul>
                </nav>
            </aside>
            <article class="content__main">
                <h1>Heading 1</h1>
                <h2>College</h2>
                <div class="videos-container">
                    <div class="commenceVideo">
                        <div class="videoContainer">
                            <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <h3>Video Title</h3>
                        <p>Video caption here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                    </div>
                                        <div class="commenceVideo">
                        <div class="videoContainer">
                            <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <h3>Video Title</h3>
                        <p>Video caption here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                    </div>
                                        <div class="commenceVideo">
                        <div class="videoContainer">
                            <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <h3>Video Title</h3>
                        <p>Video caption here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                    </div>
                                        <div class="commenceVideo">
                        <div class="videoContainer">
                            <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <h3>Video Title</h3>
                        <p>Video caption here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                    </div>
                                        <div class="commenceVideo">
                        <div class="videoContainer">
                            <iframe height="240" src="https://www.youtube.com/embed/-MnTFusk1Xs" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <h3>Video Title</h3>
                        <p>Video caption here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
                    </div>
                </div>

            </article>
        </article>
    </section>
</main>
{{> footer}}