<!DOCTYPE html>
<html lang="en">
	<head>
		@@include('../../modules/head/_all.html',{
			"title":"Typography Pattern",
			"description":"This is an example of the typography pattern available in the template.",
			"author":"Place your office here.",
			"css":"../../css/content/content-1.5.1",
			"includeArchivoBlack":false
		})
	</head>
	<body>
		@@include('../../modules/header/_all.html',{
			"siteName":"Organization Name Here",
			"siteTagline":"Site Tagline Here"
		})
		@@include('../../modules/navigation/_main.html')
		@@include('../../modules/content-patterns/_typography.html')
		@@include('../../modules/footer/_all.html')
	</body>
</html>
