.row {
  display: flex;
  width: 1140px;
  @include display-lg {
    width: 940px;
  }
  @include display-md {
    width: 720px;
  }
  @include display-sm {
    width: 100%;
  }
  &__intro {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:white;
    padding: 7.8rem 1rem 1rem;
      @include display-sm {
        padding-top:1rem;
      }

    svg{
        font-size: 5rem;
        padding: 1rem 0;
    }
    h1{
        font-family:$font-archivo-black;
        color:white;
        font-size: 4.5rem; 
        text-transform: uppercase;
        @include display-sm {
            font-size: 2.5rem;
        }
        span{
            display:block;
            font-size: 2.25rem;
            @include display-sm {
                font-size: 1.25rem;
            }
        }
    }
    hr{
        border: 0.35rem solid white;
        width: 9.3rem;
        margin:0.6rem 0 1.3rem;
        @include display-mo {
            width: 40%;
        }
    }
    p{
        font-size:1rem;
        line-height: 1.5;
        font-weight:700;
        max-width:600px;
        margin:0 auto;
        text-align:center;
        padding: 1rem 0 1.875rem;
        @include display-md {
            padding: 1rem;
        }
    }
  }
  &__feature-links {
    align-items: center;
    justify-content: space-between;
    padding: 4rem 1rem;
    @include display-sm {
      flex-direction: column;
    }
    &__button {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none !important;
      font-weight: 400 !important;
      font-size: 1.75rem;
      font-family: $font-archivo-narrow;
      padding-bottom: 1.25rem;
      text-align: center;
      &:not(:last-child) {
        margin-right: 3.5rem;
        @include display-sm {
          margin-right: 0;
          margin-bottom: 6.5rem;
        }
      }
      svg {
        font-size: 4.5rem;
        margin-bottom: 2.5rem;
        @include display-md {
          font-size: 3.5rem;
          margin-bottom: 1rem;
        }
      }
      &:after {
        content: "";
        height: 0.45rem;
        width: 3rem;
        position: absolute;
        top: 100%;
        background: black;
        transition: all .1s ease;
      }
      &:hover {
        cursor: pointer;
        &:after {
          width: 4rem;
        }
      }
      // color settings:
      &--campusGold{
        svg {
          color: $color-campusGold;
        }
        &:after {
          background: $color-campusGold;
        }
      }
      &--headlineGold{
        svg {
          color: $color-headlineGold;
        }
        &:after {
          background: $color-headlineGold;
        }
      }
      &--coalGray{
        svg {
          color: $color-coalGray;
        }
        &:after {
          background: $color-coalGray;
        }
      }
      &--moonDustGray{
        svg {
          color: $color-moonDustGray;
        }
        &:after {
          background:  $color-moonDustGray;
        }
      }
      &--everTrueBlue{
        svg {
          color: $color-everTrueBlue;
        }
        &:after {
          background: $color-everTrueBlue;
        }
      }
      &--slayterSkyBlue{
        svg {
          color: $color-slayterSkyBlue;
        }
        &:after {
          background: $color-slayterSkyBlue;
        }
      }
      &--ameliaSkyBlue{
        svg {
          color: $color-ameliaSkyBlue;
        }
        &:after {
          background: $color-ameliaSkyBlue;
        }
      }
      &--landGrantGreen{
        svg {
          color: $color-landGrantGreen;
        }
        &:after {
          background: $color-landGrantGreen;
        }
      }
      &--rossAdeGreen{
        svg {
          color: $color-rossAdeGreen;
        }
        &:after {
          background: $color-rossAdeGreen;
        }
      }
      &--celeryBogGreen{
        svg {
          color: $color-celeryBogGreen;
        }
        &:after {
          background: $color-celeryBogGreen;
        }
      }
      &--springFestGreen{
        svg {
          color: $color-springFestGreen;
        }
        &:after {
          background: $color-springFestGreen;
        }
      }
      &--oakenBucketBrown{
        svg {
          color: $color-oakenBucketBrown;
        }
        &:after {
          background: $color-oakenBucketBrown;
        }
      }
      &--bellTowerBrick{
        svg {
          color: $color-bellTowerBrick;
        }
        &:after {
          background: $color-bellTowerBrick;
        }
      }
      &--mackeyOrange{
        svg {
          color: $color-mackeyOrange;
        }
        &:after {
          background: $color-mackeyOrange;
        }
      }
      &--yellowWalk{
        svg {
          color: $color-yellowWalk;
        }
        &:after {
          background: $color-yellowWalk;
        }
      }
      &--fountainRunTeal{
        svg {
          color: $color-fountainRunTeal;
        }
        &:after {
          background: $color-fountainRunTeal;
        }
      }
      &--pappysPurple{
        svg {
          color: $color-pappysPurple;
        }
        &:after {
          background: $color-pappysPurple;
        }
      }
    }
  }
  &__links {
    align-items: stretch;
    justify-content: space-between;
    padding: 1.8rem 0;
    @include display-md {
      flex-wrap: wrap;
      padding: 1.8rem 0;
    }
    @include display-sm {
      padding: 1.8rem 1rem;
    }
    &__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      flex: 1 1 auto;
      padding: 3rem 1rem;
      background: #292929;
      &:not(:last-child) {
        margin-right: 1.8rem;
        @include display-md {
          margin-right: 0;
        }
      }
      @include display-md {
        flex-basis: 47%;
        &:nth-child(-n + 2) {
          margin-bottom: 1.8rem;
        }
        &:nth-child(2n - 1) {
          margin-right: 4%;
        }
      }
      @include display-sm {
        flex-basis: 100%;
        &:nth-child(-n + 2) {
          margin-bottom: 1.85rem;
        }
        &:nth-child(2n - 1) {
          margin-right: 0;
        }
        margin-bottom: 1.85rem;
      }
      svg {
        color: $color-gray70;
        font-size: 3.25rem;
      }
      h2 {
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: .35rem;
        margin-bottom: 2.35rem;
        font-size: 1.75rem;
        text-align: center;
        &:after {
          content: "";
          height: 0.1em;
          width: 3rem;
          position: absolute;
          top: 100%;
          background: $color-campusGold;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          text-align: center;
          &:not(:last-child) {
            margin-bottom: 1.35rem;
          }
          a {
            text-decoration: none !important;
            color: white !important;
            font-weight: 400 !important;
            &:hover {
              text-decoration: underline !important;
            }
          }
        }
      }
    }
  }
  &__multiImage {
      padding:1.875rem 0;
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      & :first-child{
        padding-left:0;
        }
        & :last-child{
            padding-right:0;
        }
      @include display-md {
        flex-wrap: wrap;
        justify-content: space-around;
        & :first-child{
        padding-left:0.93rem;
        }
        & :last-child{
        padding-right:0.93rem;
        }
      }
      @include display-sm {
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
      }
      &__imgContainer{
        padding:0.93rem; 

      img{
        max-width: 100%;
        max-height: 150px;        
      }
    }
  }
  &__story{
    padding:4.7rem 0;
    display:flex;
    flex-direction:row;
    @include display-md{
        flex-direction:column;
    }
    @include display-sm{
        padding:0.9375rem 0;
    }
    &__imgContainer{
        width:58.3%;
        padding:0 0.9375rem 2.1875rem 0;
        display:flex;        
        @include display-md{
            width:100%;
            padding:0 0.9375rem 2.1875rem;
        }
        img{
            width: 100%;
            height:auto !important;
            align-self: center;
        }
    }
    &__content{
        display:flex;
        flex-direction:column;
        width:41.7%;
        padding:0 0 0 1.875rem;
        @include display-md{
            width:100%;
            padding:0 1.875rem;
        }
        h2{
            margin:0;
            padding-top:0;
            padding-bottom:1.25rem;
            color:#000;
            font-family:$font-archivo-narrow;
            font-size:1.75rem;
            font-weight:700;
            @include display-sm{
                font-size:1.97rem;
            }
        }
        p{
            margin-bottom:1rem;
        }
    }
  }
  &__events {
    align-items: center;
    flex-direction: column;
    padding: 3.75rem 0;
    h2 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 700;
      color: white;
      padding-bottom: 1rem;
      margin-top: 0;
      margin-bottom: 3rem;
      &:after {
        content: '';
        position: absolute;
        background: $color-campusGold;
        width: 55%;
        height: 0.2rem;
        top: 100%;
      }
    }
    &__cards {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1.5rem;
      @include display-md {
        flex-direction: column;
      }
      @include display-sm {
        padding: 0 1rem;
      }
    }
    &__card {
      flex: 1 1 100%;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "event-date event-month"
        "event-content event-content" ;
      font-family: $font-archivo-narrow;
      &:first-child {
        margin-right: 2rem;
        @include display-md {
          margin-right: 0;
          margin-bottom: 2.5rem;
        }
      }
      .event-date {
        grid-area: event-date;
        background: $color-campusGold;
        color: black;
        padding: 1.4rem;
        font-size: 1.875rem;
      }
      .event-month {
        grid-area: event-month;
        background: black;
        color: white;
        padding: 1.4rem;
        font-size: 1.5rem;
        text-transform: uppercase;
      }
      .event-content {
        grid-area: event-content;
        display: flex;
        flex-direction: column;
        background: white;
        padding: 1.65rem 1.4rem;
        align-self: flex-start;
        justify-content: space-between;
        text-decoration: none !important;
        p {
          font-family: $font-archivo-narrow !important;
          font-weight: 400 !important;
          font-size: 1.5rem;
          color: $color-headlineGold !important;
          text-decoration: none !important;
          margin-bottom: 1rem;
          &:nth-child(2) {
            color: black !important;
            font-size: 1.25rem;
            font-weight: 700 !important;
            margin-bottom: 0;
          }
        }
        &:hover > p:first-child {
          text-decoration: underline !important;
        }
      }
    }
  }
}
