h1, h2,h3,h4,h5,h6{
    clear:both;
}
//image style
.imageContainer{
    margin: 0.5rem 0 1.5rem; 
    display:flex;  
    flex-direction:column; 
    max-width:100%;
    img{
        width:100%;
        display:flex;
        flex-shrink:0;
    }
    figcaption{
        display: flex;
        padding: 0.625rem 0;
        color: $steel-gray; 
        font-size: calc-toRem(16);
        line-height: 1.5rem;
        font-style: italic;
    }
} 

//video style
.video{
    width:100%;
    margin: 0.5rem 0 1.5rem;
}
.videoContainer{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 1.5625rem;
    height: 0;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
    }
}

//image/video float 
.left{
    float: left;
    max-width: 40%;
    margin-right: 1.5rem;
    @include display-mo-plus{
        max-width: 100%;
        margin-right: 0;
        float:none;
    } 
}
.right{
    float: right;
    max-width: 40%;
    margin-left: 1.5rem;
    @include display-mo-plus{
        max-width: 100%;
        margin-left: 0;
        float:none;
    } 
}
//content style
.content{
    &__breadcrumb{
        @media only print {
            display: none;
        }
        background-color: #f5f5f5;
        width:100%;
        padding:0.625rem 1rem;
        display: flex;
        justify-content:center;
        ul{
            list-style-type: none;
            padding:0;
            margin:0;
        }
        li{
            font-size:0.75rem;
            font-weight:300;
            @include display-sm {
                font-size:0.85rem;
            }
            &:not(:last-child):after {
                content:" > ";
                display: inline-block;
                margin:0 0.625rem 0 0.625rem;
                @include display-sm{
                    height: 1.6875rem;
                }
            }
            &:last-child {
                font-weight: 700;
            }
            a{
                text-decoration:none;
                font-size:inherit;
                font-weight:inherit;
            }
        }
    }

    &__content{
        @media only print {
            display: block;
        }
        display: flex;
        flex-direction:row;
        justify-content:center;
        width:100%;
        padding:2rem 1rem;
        .row{
            flex-direction:row;
            justify-content:space-between;            
            @include display-sm{
                flex-direction:column-reverse;
            }
        }
    }
    &__aside{
        @media only print {
            display: none;
        }
        width:23.5%;
        flex-basis: auto;
        display:flex;
        flex-direction:column;
        min-height:1px;
        @include display-md{
            width:23%;
            flex-basis: auto;
        }  
        @include display-sm{
            flex:1 1 auto;
            width:100%;
        }        
    }
    &__side-nav{
        font-family: $font-archivo-narrow;
        margin-bottom: 2rem;
        @include display-sm{
            margin-top: 1rem;
        } 
        >ul{
            list-style-type: none;
            padding:0;
            margin:0;
            >li{
                overflow: hidden;
                border-bottom: solid 1px #ccc;
                padding: 0;
                position:relative;
                font-family: $acumin-pro-semicondensed;
                a{
                    text-decoration:none;
                    font-family: inherit;
                    font-size:inherit;
                    font-weight: 600;
                    color:$steel-gray;
                    display:flex;
                    justify-content: space-between;
                    padding: 0.75rem 0;
                    &:hover{
                        color: #000;
                        text-decoration: underline;
                    }
                }
                >a{
                    &:after {
                      content: "";
                      height: 2px;
                      width: calc(100% - 30.4px);
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      visibility: hidden;
                      background: $aged-gold;
                      transform: scaleX(0);
                      transition: transform .25s cubic-bezier(1,.25,0,.75) 0s;
                    }
                    @include display-md{
                      &:after{
                        height:0;
                      }
                    }
                }
                .side-nav{
                    text-decoration:none;
                    padding-right:1.5rem;
                    display:block;
                    position:relative;
                    &:before{
                        content:" \25BC";
                        font-size: 0.5rem;
                        pointer-events: none; 
                        display:block;
                        float:right;
                        text-decoration: none; 
                        position: absolute;
                        top:0.8rem;
                        right:0;
                    }
                    &:hover{
                        text-decoration: underline;
                        &:before {
                            text-decoration: none;
                        }
                    }                   
                }

                &:first-child{
                    text-align:center;
                    background-color:$steel-gray;
                    color:#fff;
                    text-transform:uppercase;
                    padding:0.625rem;
                    a{
                        color:#fff;
                        display:flex;
                        justify-content: center;
                        padding:0;
                       &:hover{
                        text-decoration:underline; 
                       }
                       &:focus{
                          &:before{
                            width: 0;
                        }
                    }
                    }
                }
                .dropdown-content{
                    list-style-type: none; 
                    display:none;
                    padding: 0.625rem 0 0.625rem 1.25rem;
                    margin-top: -0.625rem;
                    li{
                        a{
                          padding:0.3125rem;
                          font-weight:normal;  
                        }
                    }
                }
            }
        }
    }
    &__side-content{
        display:flex;
        flex-direction:column;
        margin: 0 0 1.5625rem 0;
        .button{
            width:100%;
            align-self:flex-start;
            @include display-sm{
                width: auto;
            }   
        }
        .imageContainer{
            min-height:1px;
        }
    }
    &__main{
        @media only print {
            display: block;
            width: auto;
        }
        width:73.5%;
        flex-basis: auto;
        min-height:1px;
        @include display-md{
            width:73%;
            flex-basis: auto;
        }    
        @include display-sm{
            flex:1 1 auto;
            width: 100%;
        }      
    }
    &__banner{
        width: 100%;
        margin-bottom: 2rem;
    }
    &__group {
        p, ul, ol {
            font-size: calc-toRem(19);
            line-height: 30px;
        }
        li {
            padding: 0.35rem 0;
        }
    }


}
