.office {
  &__grid {
    width: 1140px;
    @include display-lg {
      width: 940px;
    }
    @include display-md {
      width: 720px;
    }
    @include display-sm {
      width: 100%;
      padding: 0 1rem;
    }
    display: grid;
    grid-template-rows: 18.75rem 1.5rem 1fr;
    grid-template-columns: 16.25rem 2rem 1fr 1rem 22rem;
    height:100%;
    @include display-lg {
      grid-template-columns: 13.25rem 2rem 1fr 1rem 17.85rem;
    }
    @include display-md {
      grid-template-rows: 21.875rem 1.5rem 1fr;
      grid-template-columns: 9.85rem 2rem 1fr 1rem 17.85rem;
    }
    @include display-sm {
      grid-template-rows: 18.75rem 1rem 18.75rem 1.5rem auto 1.5rem 1fr;
      grid-template-columns: 1fr;
    }
  }
  &__hero {
    grid-row: 1/2;
    grid-column: 1/4;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1.5rem;
    text-decoration: none !important;
    font-weight: 400 !important;
    h2 {
      color: white;
      background: black;
      padding: 0.6rem;
      margin: 0;
      font-size: 1.625rem;
    }
    p {
      color: black;
      background: $color-campusGold;
      padding: 0.6rem;
      margin: 0;
      line-height: 1.125;
      width: 100%;
    }
    @include display-sm {
      grid-column: 1/2;
    }
  }
  &__tabs {
    grid-row: 1/2;
    grid-column: 5/6;
    height:100%;
    display:flex;
    flex-direction:column;
    @include display-sm {
      grid-row: 3/4;
      grid-column: 1/2;
    }
    &__header{
      list-style-type: none;
      display:flex;
      flex-direction:row;
      justify-content:space-around;
      margin:0;
      padding:0;
      li{
        flex:1 1 0;
        text-align: center;
        &:not(:first-child){
          border-left: solid 1px #fff;
        }
        a{
          text-decoration: none !important;
          display:block;
          width:100%;   
          padding: 0.625rem 0;
          background-color:#555;
          color:#fff;
          &:hover{
            background-color:#000;
          }
        }
        .active{
          background-color:#000;
        }
      }
    }
    &__content{
      overflow-y: scroll;
      padding:1rem;
      display:none;
      height:100%;
      opacity:0;
      background-color:#eee;
      transition: opacity 0.2s ease;
      h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child{
        margin-top:0;
      }
    }
    .fadeIn{
      opacity:1;
      display:block;
    }
  }
  &__tiles {
    grid-row: 1/2;
    grid-column: 5/6;
    // build 'sub-grid'
    display: grid;
    grid-template-rows: 1fr 1rem 1fr;
    grid-template-columns: 1fr 1rem 1fr;
    @include display-md {
      grid-template-rows: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
      grid-template-columns: 1fr;
    }
    @include display-sm {
      grid-template-rows: 1fr 1rem 1fr;
      grid-template-columns: 1fr 1rem 1fr;
      grid-row: 3/4;
      grid-column: 1/2;
    }
    &--2 {
      #office-tile-1 {
        grid-row: 1/2;
        grid-column: 1/4;
        @include display-md {
          grid-row: 1/4;
          grid-column: 1/2;
        }
        @include display-sm {
          grid-row: 1/2;
          grid-column: 1/4;
        }
      }
      #office-tile-2 {
        grid-row: 3/4;
        grid-column: 1/4;
        @include display-md {
          grid-row: 5/8;
          grid-column: 1/2;
        }
        @include display-sm {
          grid-row: 3/4;
          grid-column: 1/4;
        }
      }
    }
    &--3 {
      @include display-md {
        grid-template-rows: 1fr 1rem 1fr 1rem 1fr;
      }
      @include display-sm {
        grid-template-rows: 1fr 1rem 1fr;
      }
      #office-tile-1 {
        grid-row: 1/2;
        grid-column: 1/2;
        @include display-md {
          grid-row: 1/2;
          grid-column: 1/2;
        }
        @include display-sm {
          grid-row: 1/2;
          grid-column: 1/2;
        }
      }
      #office-tile-2 {
        grid-row: 1/2;
        grid-column: 3/4;
        @include display-md {
          grid-row: 3/4;
          grid-column: 1/2;
        }
        @include display-sm {
          grid-row: 1/2;
          grid-column: 3/4;
        }
      }
      #office-tile-3 {
        grid-row: 3/4;
        grid-column: 1/4;
        @include display-md {
          grid-row: 5/6;
          grid-column: 1/2;
        }
        @include display-sm {
          grid-row: 3/4;
          grid-column: 1/4;
        }
      }
    }
    &--4 {
      #office-tile-1 {
        grid-row: 1/2;
        grid-column: 1/2;
        @include display-md {
          grid-row: 1/2;
          grid-column: 1/2;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
          svg,img {
            margin: 0 0.5rem 0 0;
          }
        }
        @include display-sm {
          grid-row: 1/2;
          grid-column: 1/2;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          svg,img {
            margin: 0 0 0.5rem 0;
          }
        }
      }
      #office-tile-2 {
        grid-row: 1/2;
        grid-column: 3/4;
        @include display-md {
          grid-row: 3/4;
          grid-column: 1/2;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
          svg,img {
            margin: 0 0.5rem 0 0;
          }
        }
        @include display-sm {
          grid-row: 1/2;
          grid-column: 3/4;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          svg,img {
            margin: 0 0 0.5rem 0;
          }
        }
      }
      #office-tile-3 {
        grid-row: 3/4;
        grid-column: 1/2;
        @include display-md {
          grid-row: 5/6;
          grid-column: 1/2;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
          svg,img {
            margin: 0 0.5rem 0 0;
          }
        }
        @include display-sm {
          grid-row: 3/4;
          grid-column: 1/2;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          svg,img {
            margin: 0 0 0.5rem 0;
          }
        }
      }
      #office-tile-4 {
        grid-row: 3/4;
        grid-column: 3/4;
        @include display-md {
          grid-row: 7/8;
          grid-column: 1/2;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
          svg,img {
            margin: 0 0.5rem 0 0;
          }
        }
        @include display-sm {
          grid-row: 3/4;
          grid-column: 3/4;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          svg,img {
            margin: 0 0 0.5rem 0;
          }
        }
      }
    }
  }
  &__tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    padding: 1.25rem;
    background-color: black;
    background-image: url("https://purdue.edu/purdue/images/templateElements/2015/stripes-tile.png");
    color: white !important;
    text-decoration: none !important;
    font-family: $font-archivo-narrow;
    font-weight: 400 !important;
    font-size: 1.35rem;
    svg {
      margin-bottom: 0.5rem;
      font-size: 2rem;
    }
    img{
      margin-bottom: 0.5rem;
      height: 32px;
      align-self:flex-start;
    }
    &--campusGold{
      svg,img {
        color: $color-campusGold;
      }
    }
    &--headlineGold{
      svg,img {
        color: $color-headlineGold;
      }
    }
    &--coalGray{
      svg,img {
        color: $color-coalGray;
      }
    }
    &--moonDustGray{
      svg,img {
        color: $color-moonDustGray;
      }
    }
    &--everTrueBlue{
      svg,img {
        color: $color-everTrueBlue;
      }
    }
    &--slayterSkyBlue{
      svg,img {
        color: $color-slayterSkyBlue;
      }
    }
    &--ameliaSkyBlue{
      svg,img {
        color: $color-ameliaSkyBlue;
      }
    }
    &--landGrantGreen{
      svg,img {
        color: $color-landGrantGreen;
      }
    }
    &--rossAdeGreen{
      svg,img {
        color: $color-rossAdeGreen;
      }
    }
    &--celeryBogGreen{
      svg,img {
        color: $color-celeryBogGreen;
      }
    }
    &--springFestGreen{
      svg,img {
        color: $color-springFestGreen;
      }
    }
    &--oakenBucketBrown{
      svg,img {
        color: $color-oakenBucketBrown;
      }
    }
    &--bellTowerBrick{
      svg,img {
        color: $color-bellTowerBrick;
      }
    }
    &--mackeyOrange{
      svg,img {
        color: $color-mackeyOrange;
      }
    }
    &--yellowWalk{
      svg,img {
        color: $color-yellowWalk;
      }
    }
    &--fountainRunTeal{
      svg,img {
        color: $color-fountainRunTeal;
      }
    }
    &--pappysPurple{
      svg,img {
        color: $color-pappysPurple;
      }
    }
  }
  &__feature-buttons {
    grid-row: 3/4;
    grid-column: 1/2;
    a {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include display-sm {
      grid-row: 7/8;
      grid-column: 1/2;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    grid-row: 3/4;
    grid-column: 3/6;
    h1 {
      margin: 0;
    }
    @include display-sm {
      grid-row: 5/6;
      grid-column: 1/2;

    }
  }
}
