<section aria-labelledby="Featured Links" class="container container--audience-row container--bg-white">
  <article class="row row__feature-links">
    <a href="#" class="row__feature-links__button row__feature-links__button--four-column row__feature-links__button--mackeyOrange">
      <i class="fa fa-flask" aria-hidden="true"></i>
      <p>28 Pt Narrow Bold and 28 Line height</p>
    </a>
    <a href="#" class="row__feature-links__button row__feature-links__button--four-column row__feature-links__button--pappysPurple">
      <i aria-hidden="true" class="fas fa-chart-bar"></i>
      <p>28 Pt Narrow Bold and 28 Line height</p>
    </a>
    <a href="#" class="row__feature-links__button row__feature-links__button--four-column row__feature-links__button--rossAdeGreen">
      <i aria-hidden="true" class="fas fa-calculator"></i>
      <p>28 Pt Narrow Bold and 28 Line height</p>
    </a>
    <a href="#" class="row__feature-links__button row__feature-links__button--four-column row__feature-links__button--slayterSkyBlue">
      <i aria-hidden="true" class="fas fa-gift"></i>
      <p>28 Pt Narrow Bold and 28 Line height</p>
    </a>
  </article>
</section>
