<section aria-labelledby="Events" class="container container--audience-row container--bg-events">
  <article class="row row__events">
    <h2>Upcoming Events</h2>
    <section class="row__events__cards">
      <div class="row__events__card">
        <p class="event-date">01</p>
        <p class="event-month">July</p>
        <a href ="#" class="event-content">
          <p>Building Purdue: 150 Years of the West Lafayette Campus</p>
          <p>10:00 A.M. - 4:30 P.M. | ASC</p>
        </a>
      </div>
      <div class="row__events__card">
        <p class="event-date">02</p>
        <p class="event-month">July</p>
        <a href="#" class="event-content">
          <p>HTM Colloquium on Tourism, Health, and the Quality of Life</p>
          <p>3:00 P.M. - 5:00 P.M. | MARRIOT HALL, ROOM 237</p>
        </a>
      </div>
    </section>
    <button class="button button-opaque button-light">See All Events</button>
  </article>
</section>
