<section aria-labelledby="Featured Links" class="container container--audience-row container--bg-white">
  <article class="row row__feature-links">
    <a href="#" class="row__feature-links__button row__feature-links__button--mackeyOrange">
      <i class="fa fa-flask" aria-hidden="true"></i>
      <span>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</span>
    </a>
    <a href="#" class="row__feature-links__button row__feature-links__button--pappysPurple">
      <i class="fa fa-flask" aria-hidden="true"></i>
      <span>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</span>
    </a>
    <a href="#" class="row__feature-links__button row__feature-links__button--rossAdeGreen">
      <i class="fa fa-flask" aria-hidden="true"></i>
      <span>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</span>
    </a>
  </article>
</section>
