<style type="text/css">
	@media (min-width:1200px) {
		.container--bg-shade {
			background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-lg.jpg");
		}
	}

	@media (min-width:992px) and (max-width:1199px) {
		.container--bg-shade {
			background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-md.jpg");
		}
	}

	@media (min-width:768px) and (max-width:991px) {
		.container--bg-shade {
			background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-sm.jpg");
		}
	}

	@media (max-width:767px) {
		.container--bg-shade {
			background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-xs.jpg");
		}
	}
</style>
<section aria-labelledby="Intro" class="container container--audience-row container--bg-shade">
	<article class="row row__intro">
		<i class="fas fa-laptop" aria-hidden="true"></i>
		<h1>72 ARCHIVO BLACK<span>36 ARCHIVO BLACK</span></h1>
		<hr>
		<p>16pt Arial bold with line height of 24pt. This is what the intro paragraph to the section looks
			like. It can be 2 lines, 3 lines and maybe up to four if really needed. Character count (w/ spaces).
			Recommended: 150. Max: 300</p>
	</article>
</section>