<section aria-labelledby="News" class="container container--audience-row container--bg-events">
  <article class="row row__events">
    <h2>Recent News</h2>
    <section class="row__events__cards">
      <div class="row__events__card">
        <p class="event-date">01</p>
        <p class="event-month">July</p>
        <a href ="#" class="event-content">
          <p>Interdisciplinary research pushes science in new directions</p>
          <p class="event-content--news">A completely new approach to discovering pharmaceutical biologics to fight infectious diseases, new therapies for autism, and exploring a newly discovered intermediate between classical and quantum computing are the latest interdisciplinary projects underway at Purdue University's Discovery Park.  </p>
        </a>
      </div>
      <div class="row__events__card">
        <p class="event-date">02</p>
        <p class="event-month">July</p>
        <a href="#" class="event-content">
          <p>Bacteria get sick, too: Purdue joins international team developing alternatives to antibiotics for global livestock production</p>
          <p class="event-content--news">To slow down the worldwide development of antibiotic-resistant bacteria, Purdue University professors Paul Ebner, animal sciences, and Nicole Widmar, agricultural economics, have partnered with professors Zafar Hayat and Shafiq ur Rehman from the University of Veterinary and Animal Sciences (UVAS) and University of Punjab, respectively, both in Lahore, Pakistan, to find novel, effective, and affordable alternatives to using traditional antibiotics in Pakistan’s growing poultry industry.</p>
        </a>
      </div>
    </section>
    <button class="button button-opaque button-light">See All News</button>
  </article>
</section>
