<section aria-labelledby="Twitter" class="container container--audience-row container--bg-twitter">
    <article class="row row__twitter">
        <section class="row row__twitter__contents">
            <div class="row row__twitter__content">
                <div class="header">
                    <div class="username">
                        Purdue University <span>@LifeAtPurdue</span>
                    </div>
                    <div class="time">
                        21h
                    </div>
                </div>
				<div class="retweet">
					<i class="fa fa-retweet"></i> Retweeted from <a href="https://twitter.com/PurdueToday" target="_blank" rel="noopener">@PurdueToday</a>
				</div>
				<div class="text">
					High school students can earn college credit in one week through a new summer program. <a href="https://t.co/C51EBp7t4L">https://t.co/C51EBp7t4L</a>
				</div>
            </div>
            <div class="row row__twitter__content">
               <div class="header">
                    <div class="username">
                        Purdue University <span>@LifeAtPurdue</span>
                    </div>
                    <div class="time">
                        20m
                    </div>
                </div>
				<div class="text">
					Study hard, Boilers! Finals are just around the corner, but we know you've got this.
				</div>
            </div>
        </section>
        <button class="button" target="_blank" rel="noopener">Follow @LIFEATPURDUE on Twitter</button>           
    </article>
</section>