<section aria-labelledby="Links" class="container container--audience-row container--bg-darkGray">
  <article class="row row__links">

    <section class="row__links__column">
      <i class="fa fa-flask" aria-hidden="true"></i>
      <h2>Lorem Ipsum</h2>
      <ul role="list">
        <li role="listitem"><a href="#">Lorem ipsum dolor</a></li>
        <li role="listitem"><a href="#">Sit amet consectetur</a></li>
        <li role="listitem"><a href="#">Adipisicing elit</a></li>
        <li role="listitem"><a href="#">Nostrum impedit minus consequatur</a></li>
      </ul>
    </section>

    <section class="row__links__column">
      <i class="fa fa-flask" aria-hidden="true"></i>
      <h2>Lorem Ipsum</h2>
      <ul role="list">
        <li role="listitem"><a href="#">Lorem ipsum dolor</a></li>
        <li role="listitem"><a href="#">Sit amet consectetur</a></li>
        <li role="listitem"><a href="#">Adipisicing elit</a></li>
        <li role="listitem"><a href="#">Nostrum impedit minus consequatur</a></li>
      </ul>
    </section>

    <section class="row__links__column">
      <i class="fa fa-flask" aria-hidden="true"></i>
      <h2>Lorem Ipsum</h2>
      <ul role="list">
        <li role="listitem"><a href="#">Lorem ipsum dolor</a></li>
        <li role="listitem"><a href="#">Sit amet consectetur</a></li>
        <li role="listitem"><a href="#">Adipisicing elit</a></li>
        <li role="listitem"><a href="#">Nostrum impedit minus consequatur</a></li>
      </ul>
    </section>

    <section class="row__links__column">
      <i class="fa fa-flask" aria-hidden="true"></i>
      <h2>Lorem Ipsum</h2>
      <ul role="list">
        <li role="listitem"><a href="#">Lorem ipsum dolor</a></li>
        <li role="listitem"><a href="#">Sit amet consectetur</a></li>
        <li role="listitem"><a href="#">Adipisicing elit</a></li>
        <li role="listitem"><a href="#">Nostrum impedit minus consequatur</a></li>
      </ul>
    </section>


    {{!-- <a href="#" class="row__feature-links__button row__feature-links__button--mackeyOrange">
      <i class="fa fa-flask" aria-hidden="true"></i>
      Lorem ipsum dolor sit amet
    </a>
    <a href="#" class="row__feature-links__button row__feature-links__button--pappysPurple">
      <i class="fa fa-flask" aria-hidden="true"></i>
      Lorem ipsum dolor sit amet
    </a>
    <a href="#" class="row__feature-links__button row__feature-links__button--rossAdeGreen">
      <i class="fa fa-flask" aria-hidden="true"></i>
      Lorem ipsum dolor sit amet
    </a> --}}
  </article>
</section>
