<section aria-labelledby="Tint" class="container container--audience-row container__bg-lightGray">
    <article class="row row__tint">
        <div  class="row__tint__header">
            <h2>@LifeAtPurdue on Instagram (Tint Feed)</h2>
			<a class="button" href="https://instagram.com/lifeatpurdue/">Follow</a>
        </div>
        <div class="row__tint__photos">
            <script async src="https://cdn.hypemarks.com/pages/a5b5e5.js"></script>
            <div class="tintup" data-id="mm_purdue" data-columns="" data-expand="true"  data-count="6" data-paginate="true" data-personalization-id="882168" style="height:500px;width:100%;"></div>
        </div> 
    </article>
</section>
