<section aria-labelledby="Twitter" class="container container--audience-row container--bg-twitter">
    <article class="row row__twitter">
        <section class="row row__twitter__contents">
            <div class="row row__twitter__content">
                <p class="header">
                    Purdue University <span>@LifeAtPurdue</span> 21h 
                </p>
				<p class="retweet">
					<i class="fas fa-retweet"></i> Retweeted from <a href="https://twitter.com/PurdueToday" target="_blank" rel="noopener">@PurdueToday</a>
				</p>
				<p class="text">
					High school students can earn college credit in one week through a new summer program. <a href="https://t.co/C51EBp7t4L">https://t.co/C51EBp7t4L</a>
				</p>
            </div>
            <div class="row row__twitter__content">
               <p class="header">
                    Purdue University <span>@LifeAtPurdue</span> 20m
                </p>
				<p class="text">
					Study hard, Boilers! Finals are just around the corner, but we know you've got this.
				</p>
            </div>
        </section>
        <button class="button button-campusGold-inverse" target="_blank" rel="noopener">Follow @LIFEATPURDUE on Twitter</button>           
    </article>
</section>