<style type="text/css">
            @media (min-width:1200px)
            	{
            		.container--bg-large-photo{
            			background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_large-photo-lg.jpg");
            		}
            	}
            	@media (min-width:992px) and (max-width:1199px)
            	{
            		.container--bg-large-photo{
            			background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_large-photo-md.jpg");
            		}
            	}
            	@media (min-width:767px) and (max-width:991px)
            	{
            		.container--bg-large-photo{
            			background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_large-photo-sm.jpg");
            		}
            	}
            	@media (max-width:768px)
            	{
            		.container--bg-large-photo{
            			background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_large-photo-xs.jpg");
            		}
            	}
        </style>
<section aria-labelledby="Large Photo" class="container container--audience-row container--bg-large-photo">
  <article class="row row__large-photo">
    <p>24 PT Arial Black</p>
  </article>
</section>
