<section aria-labelledby="Links" class="container container--audience-row container--bg-darkGray">
  <article class="row row__links">

    <section class="row__links__column row__links__column--four-column">
      <i aria-hidden="true" class="fas fa-globe-americas"></i>
      <h2>28 pt Narrow</h2>
      <ul role="list">
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
      </ul>
    </section>

    <section class="row__links__column row__links__column--four-column">
      <i aria-hidden="true" class="fas fa-book"></i>
      <h2>28 pt Narrow</h2>
      <ul role="list">
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
      </ul>
    </section>

    <section class="row__links__column row__links__column--four-column">
      <i aria-hidden="true" class="fas fa-gift"></i>
      <h2>28 pt Narrow</h2>
      <ul role="list">
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
      </ul>
    </section>

    <section class="row__links__column row__links__column--four-column">
      <i aria-hidden="true" class="fas fa-briefcase"></i>
      <h2>28 pt Narrow</h2>
      <ul role="list">
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
        <li role="listitem"><a href="#">Arial 16 pt regular</a></li>
      </ul>
    </section>

  </article>
</section>

