<section aria-labelledby="Story" class="container container--audience-row container--bg-white">
    <article class="row row__story">
        <section class="row__story__videoContainer">        
            <div class="row__story__video">
            {{!-- <iframe allowfullscreen="allowfullscreen" frameborder="0" height="270" src="https://www.youtube.com/embed/OE02yf5WHF4?rel=0" width="480" kwframeid="1"></iframe> --}}
            <iframe allowfullscreen="allowfullscreen" frameborder="0" mozallowfullscreen="mozallowfullscreen" src="https://player.vimeo.com/video/374451491?color=b1801b&amp;title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen="webkitallowfullscreen" width="480" height="270"></iframe>
            <noscript><a href="https://www.youtube.com/watch?v=C429zMvb_L8&amp;amp;feature=youtu.be">Watch Purdue, Amazon team up to reduce textbook costs on YouTube</a>
            </noscript>
            </div>
        </section>
        <section class="row__story__content">
            <h2>Lorem Ipsum dolor</h2>
            <p>Sit necessitatibus voluptas explicabo sed, at impedit? Repudiandae recusandae veritatis id quam consectetur, vel natus aperiam quibusdam obcaecati qui pariatur illo, et sunt quaerat. Ex eius deserunt distinctio fuga itaque!</p>
            <p>Sit necessitatibus voluptas explicabo sed, at impedit? Repudiandae recusandae veritatis id quam consectetur, vel natus aperiam quibusdam obcaecati qui pariatur illo, et sunt quaerat. Ex eius deserunt distinctio fuga itaque!</p>
            <button href="#" class="button button-hollow" target="_blank">Button</button>
        </section>
    </article>
</section>