<section aria-labelledby="MultiImage" class="container container--audience-row container--bg-black">
  <article class="row row__multiImage">
      <div class="row__multiImage__imgContainer">
      <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_multiple-photos-01.png" alt="more than 200 majors">
      </div>
      <div class="row__multiImage__imgContainer">
      <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_multiple-photos-02.jpg" alt="students studying">
      </div>
      <div class="row__multiImage__imgContainer">
      <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_multiple-photos-03.png" alt="top 5 public university in the United States according to the Wall Street Journal/Time Higher Education">
      </div>
      <div class="row__multiImage__imgContainer">
      <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_multiple-photos-04.jpg" alt="students discussing with professor">
      </div>
   </article>
</section>