<section aria-labelledby="Featured Links" class="container container--audience-row container--bg-white">
  <article class="row row__feature-links">
    <a href="#" class="row__feature-links__button row__feature-links__button--two-column">
      <i class="fa fa-flask" aria-hidden="true"></i>
      <p>Cillum Dolore</p>
    </a>
    <a href="#" class="row__feature-links__button row__feature-links__button--two-column">
      <i aria-hidden="true" class="fas fa-chart-bar"></i>
      <p>Deserunt Mollit</p>
    </a>
  </article>
</section>

