<section aria-labelledby="Story" class="container container--audience-row container--bg-white">
    <article class="row row__story">
        <picture>
            <source media="(min-width: 1200px)" srcset="https://www.purdue.edu/purdue/images/audience/diversity/diversity-650x360.jpg">
            <source media="(min-width: 992px)" srcset="https://www.purdue.edu/purdue/images/audience/diversity/diversity-535x296.jpg">
            <source media="(min-width: 767px)" srcset="https://www.purdue.edu/purdue/images/audience/diversity/diversity-720x398.jpg">
            <source media="(min-width: 481px)" srcset="https://www.purdue.edu/purdue/images/audience/diversity/diversity.jpg">
            <source srcset="https://www.purdue.edu/purdue/images/audience/diversity/diversity.jpg">
            <img alt="Group of students wearing paint" src="https://www.purdue.edu/purdue/images/audience/diversity/diversity.jpg">
        </picture>
        <section class="row row__story__content">
            <h2>Acumin Pro SemiCondensed Bol</h2>
            <p>Sit necessitatibus voluptas explicabo sed, at impedit? Repudiandae recusandae veritatis id quam consectetur, vel natus aperiam quibusdam obcaecati qui pariatur illo, et sunt quaerat. Ex eius deserunt distinctio fuga itaque!</p>
            <p>Sit necessitatibus voluptas explicabo sed, at impedit? Repudiandae recusandae veritatis id quam consectetur, vel natus aperiam quibusdam obcaecati qui pariatur illo, et sunt quaerat. Ex eius deserunt distinctio fuga itaque!</p>
            <button href="#" class="button button-campusGold-inverse button-hollow" target="_blank">Button</button>
        </section>
    </article>
</section>