<style type="text/css">
	@media (min-width:1200px)
	{
		.container--bg-shade{
			background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-lg.jpg");
		}
	}
	@media (min-width:992px) and (max-width:1199px)
	{
		.container--bg-shade{
			background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-md.jpg");
		}
	}
	@media (min-width:768px) and (max-width:991px)
	{
		.container--bg-shade{
			background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-sm.jpg");
		}
	}
	@media (max-width:767px)
	{
		.container--bg-shade{
			background-image:url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-xs.jpg");
		}
	}
</style>
<section aria-labelledby="Intro" class="container container--audience-row container--bg-shade">
  <article class="row row__intro">
    <i class="fas fa-laptop" aria-hidden="true"></i>
    <h1>Lorem<span>ipsum dolor</span></h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ullam deleniti distinctio nam quam natus harum similique doloribus. Cumque quisquam iure a laborum quaerat laboriosam iusto illo cupiditate qui error.</p>
  </article>
</section>