<section aria-labelledby="MultiImage" class="container container--audience-row container--bg-black">
  <article class="row row__multiImage">
      <picture>
         <source media="(min-width: 1200px)" srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image1.png">
         <source media="(min-width: 992px)" srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image1-210x119.png">
         <source srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image1.png">
         <img alt="students collaborating with faculty member" src="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image1.png">
      </picture>
       <picture>
         <source media="(min-width: 1200px)" srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image2.jpg">
         <source media="(min-width: 992px)" srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image2-210x119.jpg">
         <source srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image2.jpg">
         <img alt="students collaborating with faculty member" src="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image2.jpg">
      </picture>
      <picture>
         <source media="(min-width: 1200px)" srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image3.png">
         <source media="(min-width: 992px)" srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image3-210x119.png">
         <source srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image3.png">
         <img alt="students collaborating with faculty member" src="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image3.png">
      </picture>
      <picture>
         <source media="(min-width: 1200px)" srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image4.jpg">
         <source media="(min-width: 992px)" srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image4-210x119.jpg">
         <source srcset="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image4.jpg">
         <img alt="students collaborating with faculty member" src="https://www.purdue.edu/purdue/images/audience/academics/multipleImagesRow_09-12-2016/academics-image4.jpg">
      </picture>
   </article>
</section>