<section aria-labelledby="Instagram" class="container container--audience-row container--bg-lightGray">
    <article class="row row__instagram">
        <div  class="row__instagram__header">
            <h2>@LifeAtPurdue on Instagram (Manual Feed)</h2>
			<button class="button button-black" href="https://instagram.com/lifeatpurdue/" target="_blank" rel="noopener">Follow</button>
        </div>
        <div class="row__instagram__photos">
			<a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-01.jpg"/></a>
			<a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-02.jpg"/></a>
			<a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-03.jpg" /></a>
			<a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-04.jpg"/></a>
			<a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-05.jpg"/></a>
			<a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-06.jpg" /></a>
        </div> 
    </article>
</section>