<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="background:@@background;padding-top:30px;padding-bottom:30px;">
@@if (type === 'default'){
	@@if(light === false){
		@@if(color === ""){
			<button class="button">@@text</button>
		}
		@@if(color !== ""){
			<button class="button button-@@color">@@text</button>
		}
	}
	@@if(light === true){
		@@if(color === ""){
			<button class="button button-light">@@text</button>
		}
		@@if(color !== ""){
			<button class="button button-@@color button-light">@@text</button>
		}
	}
}

@@if (type === 'hollow'){
	@@if(light === false){
		@@if(color === ""){
			<button class="button button-hollow">@@text</button>
		}
		@@if(color !== ""){
			<button class="button button-hollow button-hollow-@@color">@@text</button>
		}
	}
	@@if(light === true){
		@@if(color === ""){
			<button class="button button-hollow button-light">@@text</button>
		}
		@@if(color !== ""){
			<button class="button button-hollow button-hollow-@@color button-light">@@text</button>
		}
	}
}
@@if (type === 'bar'){
	@@if(light === false){
		@@if(color === ""){
			<button class="button button-bar">@@text</button>
		}
		@@if(color !== ""){
			<button class="button button-bar button-bar-@@color">@@text</button>
		}
	}
	@@if(light === true){
		@@if(color === ""){
			<button class="button button-bar button-light">@@text</button>
		}
		@@if(color !== ""){
			<button class="button button-bar button-bar-@@color button-light">@@text</button>
		}
	}
}
@@if (type === 'opaque'){
	@@if(light === false){
		<button class="button button-opaque">@@text</button>
	}
	@@if(light === true){
		<button class="button button-opaque button-light">@@text</button>
	}
}
</div>