@@if (wide === false){
	@@if(type !== 'icon'){
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="background:@@background;padding-top:15px;padding-bottom:15px;">	
	}
	@@if(type === 'icon'){
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="background:@@background;padding-top:15px;padding-bottom:15px;">	
	}
}
@@if (wide === true){
<div class="col-lg-12" style="background:@@background;padding-top:15px;padding-bottom:15px;">	
}
@@if (type === 'default'){
	@@if(light === false){
		@@if(color === ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
		@@if(color !== ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-@@color",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-@@color button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
	}
	@@if(light === true){
		@@if(color === ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-light",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-light button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
		@@if(color !== ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-@@color button-light",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-@@color button-light button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
	}
}

@@if (type === 'hollow'){
	@@if(light === false){
		@@if(color === ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-hollow",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-hollow button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
		@@if(color !== ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-hollow button-hollow-@@color",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-hollow button-hollow-@@color button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
	}
	@@if(light === true){
		@@if(color === ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-hollow button-light",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-hollow button-light button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
		@@if(color !== ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-hollow button-hollow-@@color button-light",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-hollow button-hollow-@@color button-light button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
	}
}
@@if (type === 'bar'){
	@@if(light === false){
		@@if(color === ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-bar",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-bar button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
		@@if(color !== ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-bar button-bar-@@color",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-bar button-bar-@@color button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
	}
	@@if(light === true){
		@@if(color === ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-bar button-light",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-bar button-light button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
		@@if(color !== ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-bar button-bar-@@color button-light",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-bar button-bar-@@color button-light button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
	}
}
@@if (type === 'icon'){
	@@if(light === false){
		@@if(color === ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-icon",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-icon button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
		@@if(color !== ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-icon button-icon-@@color",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-icon button-icon-@@color button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
	}
	@@if(light === true){
		@@if(color === ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-icon button-light",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-icon button-light button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
		@@if(color !== ""){
			@@if(wide === false){
				@@include('_button.html', {
					"class":"button button-icon button-icon-@@color button-light",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
			@@if(wide === true){
				@@include('_button.html', {
					"class":"button button-icon button-icon-@@color button-light button-wide",
					"text":"@@text",
					"icon":"@@icon"
				})
			}
		}
	}
}
@@if (type === 'opaque'){
	@@if(light === false){
		@@if(wide === false){
			@@include('_button.html', {
				"class":"button button-opaque",
				"text":"@@text",
				"icon":"@@icon"
			})
		}
		@@if(wide === true){
			@@include('_button.html', {
				"class":"button button-opaque button-wide",
				"text":"@@text",
				"icon":"@@icon"
			})
		}
	}
	@@if(light === true){
		@@if(wide === false){
			@@include('_button.html', {
				"class":"button button-opaque button-light",
				"text":"@@text",
				"icon":"@@icon"
			})
		}
		@@if(wide === true){
			@@include('_button.html', {
				"class":"button button-opaque button-light button-wide",
				"text":"@@text",
				"icon":"@@icon"
			})
		}
	}
}
</div>