<div class="row">
	<div class="event left col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<div class="date">
			<span class="day">1</span><span class="hiddenText"> of </span><span class="month">august</span>
		</div>
		<a href="#" class="details">
			<span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
			<span class="timeLocation">NOON-1:30 P.M. | STEW 321</span>
		</a>
	</div>
	<div class="event left col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<div class="date">
			<span class="day">2</span><span class="hiddenText"> of </span><span class="month">august</span>
		</div>
		<a href="#" class="details">
			<span class="title">Title</span>
			<span class="timeLocation">NOON-1:30 P.M. | STEW 321</span>
		</a>
	</div>
	<div class="clearfix hidden-lg hidden-md hidden-xs"></div>
	<div class="event left col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<div class="date">
			<span class="day">10</span><span class="hiddenText"> of </span><span class="month">august</span>
		</div>
		<a href="#" class="details">
			<span class="title">Donec semper porta ipsum sit amet commodo</span>
			<span class="timeLocation">NOON-1:30 P.M. | STEW 321</span>
		</a>
	</div>
	<div class="clearfix hidden-sm hidden-xs"></div>
	<div class="event left col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<div class="date">
			<span class="day">10</span><span class="hiddenText"> of </span><span class="month">august</span>
		</div>
		<a href="#" class="details">
			<span class="title">Curabitur convallis cursus tempor. Curabitur eleifend efficitur eros sed bibendum.</span>
			<span class="timeLocation">NOON-1:30 P.M. | STEW 321</span>
		</a>
	</div>
	<div class="clearfix hidden-lg hidden-md hidden-xs"></div>
	<div class="event left col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<div class="date">
			<span class="day">14</span><span class="hiddenText"> of </span><span class="month">august</span>
		</div>
		<a href="#" class="details">
			<span class="title">lobortis augue in, sodales sapien. Ut scelerisque sed velit quis maximus. Maecenas dignissim leo vel tellus mollis cursus. Aenean at fringilla nulla. Praesent id dolor enim. Fusce aliquet ex lorem, sed scelerisque tellus imperdiet eget.</span>
			<span class="timeLocation">NOON-1:30 P.M. | STEW 321</span>
		</a>
	</div>
	<div class="event left col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<div class="date">
			<span class="day">15</span><span class="hiddenText"> of </span><span class="month">august</span>
		</div>
		<a href="#" class="details">
			<span class="title">Curabitur sit amet tellus fringilla, efficitur sem id, volutpat dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque quis eros in velit mollis porttitor.</span>
			<span class="timeLocation">NOON-1:30 P.M. | STEW 321</span>
		</a>
	</div>
	<div class="clearfix"></div>
	<div class="event left col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<div class="date">
			<span class="day">23</span><span class="hiddenText"> of </span><span class="month">august</span>
		</div>
		<a href="#" class="details">
			<span class="title">Phasellus lobortis ligula quis magna porttitor</span>
			<span class="timeLocation">NOON-1:30 P.M. | STEW 321</span>
		</a>
	</div>
	<div class="event left col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<div class="date">
			<span class="day">25</span><span class="hiddenText"> of </span><span class="month">august</span>
		</div>
		<a href="#" class="details">
			<span class="title">Etiam congue odio eu purus rutrum, et dictum arcu commodo. Nunc malesuada viverra mauris, ut hendrerit nulla. Integer gravida quam in massa elementum.</span>
			<span class="timeLocation">NOON-1:30 P.M. | STEW 321</span>
		</a>
	</div>
</div>