$block:accordion;
.#{$block}{
	display:block;
	width:100%;
	background-color:mix(#fff,#000,75%);
	font-family:$font-archivo-narrow;
	font-weight:700;
	font-size:calc-toRem(15);
	line-height:1.4em;
	$i: 0;
	@each $color,$pair in $colorPairs-accordion{
		$i: $i + 1;
		@if $i == 1{
			//background-color:mix(#fff,nth($pair,1),75%);
			background-color:$color-gray15;
			&-striped{
				& .#{$block}__heading{
					&:nth-of-type(even){
						$color-lightness: lightness(nth($pair,1));
						@if ($color-lightness <= 50){
							$color-change:max((50 - $color-lightness)/1.5,10);
							$color-stripe:lighten(nth($pair,1),$color-change);
							background-color:$color-stripe;
							color:color-get-blackOrWhite($color-stripe);
						}
						@else{
							$color-change:max((100 - $color-lightness)/1.5,10);
							$color-stripe:darken(nth($pair,1),$color-change);
							background-color:$color-stripe;
							color:color-get-blackOrWhite($color-stripe);
						}
					}
				}
			}
		}
		&-#{$color}{
			//background-color:mix(#fff,nth($pair,1),75%);
			background-color:$color-gray15;
			&.#{$block}-striped{
				& .#{$block}__heading-#{$color}{
					&:nth-of-type(even){
						$color-lightness: lightness(nth($pair,1));
						@if ($color-lightness <= 50){
							$color-change:max((50 - $color-lightness)/1.5,10);
							$color-stripe:lighten(nth($pair,1),$color-change);
							background-color:$color-stripe;
							color:color-get-blackOrWhite($color-stripe);
						}
						@else{
							$color-change:max((100 - $color-lightness)/1.5,10);
							$color-stripe:darken(nth($pair,1),15);
							background-color:$color-stripe;
							color:color-get-blackOrWhite($color-stripe);
						}
					}
				}
			}
		}
	}
	&__heading{
		position:relative;
		display:block;
		cursor:pointer;
		border-top:solid 1px #fff;
		margin:0 auto;
		padding:calc-ratioLgMd(12px) calc-toRem(calc-ratioLgMd(50)) calc-ratioLgMd(12px) calc-ratioLgMd(20px);
		background-color:#000;
		font-family:$font-archivo-narrow;
		font-size:calc-toRem(calc-ratioLgMd(22));
		line-height:1.1em;
		font-weight:700;
		text-transform:uppercase;
		color:#fff;
		&:first-child{
			border-top:0;
		}
		&::after{
			content:"\f146";
			position:absolute;
			right:20px;
			top:50%;
			margin-top:-0.5em;
			font-family:$font-fontAwesome;
		}
		&.collapsed{
			&::after{
				content:"\f0fe";
			}
		}
		$i: 0;
		@each $color,$pair in $colorPairs-accordion{
			$i: $i + 1;
			@if $i == 1{
				background-color:nth($pair,1);
				color:nth($pair,2);
			}
			&-#{$color}{
				background-color:nth($pair,1);
				color:nth($pair,2);
			}
		}
	}
	&__content{
		overflow:hidden;
		margin:0;
		padding:0 calc-ratioLgMd(20px);
		font-size:calc-toRem(calc-ratioLgMd(18));
		list-style-type:none;
		@at-root ol#{&}{
			list-style-type:decimal;
			padding:0 calc-ratioLgMd(35px);
		}
	}
	&__item{
		width:auto;
		border-top:solid 1px #000;
		padding-top:calc-ratioLgMd(15px) !important;
		padding-bottom:calc-ratioLgMd(15px) !important;
		&:first-child{
			border-top:none;
		}
		$i: 0;
		@each $color,$pair in $colorPairs-accordion{
			$i: $i + 1;
			@if $i == 1{
				//border-top-color:nth($pair,1);
			}
			&-#{$color}{
				//border-top-color:nth($pair,1);
			}
		}
	}
	@media (min-width:1200px)
	{
		&__heading{
			font-size:calc-toRem(22);
			padding:12px calc-toRem(50) 12px 20px;
		}
		&__content{
			padding:0 20px;
			font-size:calc-toRem(18);
			@at-root ol#{&}{
				padding:0 35px;
			}
		}
		&__item{
			padding-top:15px !important;
			padding-bottom:15px !important;
		}
	}
	@media (max-width:767px)
	{
		&__heading{
			font-size:calc-toRem(22);
			padding:12px calc-toRem(50) 12px 20px;
		}
		&__content{
			font-size:calc-toRem(18);
			@at-root ol#{&}{
				padding:0 35px;
			}
		}
		&__item{
			padding-top:15px !important;
			padding-bottom:15px !important;
		}
	}
}