.accordion{
	display:block;
	width:100%;
	background-color:mix(#fff,#000,75%);
	font-family:$font-archivo-narrow;
	font-weight:700;
	font-size:calc-toRem(15);
	line-height:1.4em;
	$i: 0;
	@each $color,$pair in $colorPairs-accordion{
		$i: $i + 1;
		@if $i == 1{
			background-color:mix(#fff,nth($pair,1),75%);
		}
		&-#{$color}{
			background-color:mix(#fff,nth($pair,1),75%);
		}
	}
	&__heading{
		position:relative;
		display:block;
		cursor:pointer;
		border-top:solid 1px #fff;
		margin:0 auto;
		padding:10px 50px 10px 20px;
		background-color:#000;
		font-family:$font-archivo-narrow;
		font-size:calc-toRem(22);
		line-height:1.1em;
		font-weight:700;
		text-transform:uppercase;
		color:#fff;
		&:first-child{
			border-top:0;
		}
		&::after{
			content:"\f146";
			position:absolute;
			right:20px;
			top:50%;
			margin-top:-0.5em;
			font-family:$font-fontAwesome;
		}
		&.collapsed{
			&::after{
				content:"\f0fe";
			}
		}
		$i: 0;
		@each $color,$pair in $colorPairs-accordion{
			$i: $i + 1;
			@if $i == 1{
				background-color:nth($pair,1);
				color:nth($pair,2);
			}
			&-#{$color}{
				background-color:nth($pair,1);
				color:nth($pair,2);
			}
		}
	}
	&__list{
		margin:0;
		padding:0 20px;
		list-style-type:none;
	}
	&__item{
		border-top:solid 1px #000;
		margin:0;
		padding:15px 0 !important;
		&:first-child{
			border-top:none;
		}
		$i: 0;
		@each $color,$pair in $colorPairs-accordion{
			$i: $i + 1;
			@if $i == 1{
				border-top-color:nth($pair,1);
			}
			&-#{$color}{
				border-top-color:nth($pair,1);
			}
		}
	}
}
// @if (lightness(nth($pair,1)) <= 15)
// {
// 	$color-button-bar:lighten(nth($pair,1),45);
// }