$block:button;
.#{$block}{
	display:inline-block;
	max-width:100%;
	border:none;
	border-radius:0;
	outline:solid 2px $color-campusGold;
	outline-offset:-2px;
	padding:calc-toRem(calc-ratioLgMd(10)) calc-toRem(calc-ratioLgMd(62));
	background-color:$color-campusGold;
	transition:background-color 0.1s, outline-color 0.1s, color 0.1s;
	color:#000;
	font-family:$font-archivo-narrow;
	font-size:calc-toRem(calc-ratioLgMd(18));
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	&:link,&:visited{
		color:#000;
		text-decoration:none;
	}
	&:hover,&:active,&:focus{
		background-color:transparent;
		color:#000;
		text-decoration:none;
		cursor:pointer;
	}
	@each $color,$pair in $colorPairs-button{
		&-#{$color}{
			outline-color:nth($pair,1);
			background-color:nth($pair,1);
			color:nth($pair,2);
			&:hover,&:active,&:focus{
				@if length($pair) > 2{
					outline-color:nth($pair,3);
				}
				@else{
					outline-color:nth($pair,1);
				}
				background-color:transparent;
				@if length($pair) > 3{
					color:nth($pair,4);
				}
				@else{
					color:#000;
				}
			}
		}
	}
	&-hollow{
		background-color:transparent;
		&:hover,&:active,&:focus{
			background-color:$color-campusGold;
		}
		@each $color,$pair in $colorPairs-button{
			&-#{$color}{
				@if length($pair) > 2{
					outline-color:nth($pair,3);
				}
				@else{
					outline-color:nth($pair,1);
				}
				background-color:transparent;
				@if length($pair) > 3{
					color:nth($pair,4);
				}
				@else{
					color:#000;
				}
				&:hover,&:active,&:focus{
					outline-color:nth($pair,1);
					background-color:nth($pair,1);
					color:nth($pair,2);
				}
			}
		}
	}
	&-bar{
		position:relative;
		outline-style:none;
		outline-color:darken($color-campusGold,15);
		border-bottom:solid 5px darken($color-campusGold,15);
		&:hover,&:active,&:focus{
			outline-style:solid;
		}
		@each $color,$pair in $colorPairs-button{
			&-#{$color}{
				border-bottom-color:darken(nth($pair,1),15);
				background-color:nth($pair,1);
				color:nth($pair,2);
				&:link,&:visited{
					color:nth($pair,2);
				}
				&:hover,&:active,&:focus{
					background-color:transparent;
					outline-color:darken(nth($pair,1),15);
				}
			}
		}
	}
	&-opaque{
		outline-color:#000;
		background-color:#000;
		background-color:rgba(0,0,0,0.5);
		color:#fff;
		&:link,&:visited{
			outline-color:#000;
			background-color:#000;
			color:#fff;
		}
		&:hover,&:active,&:focus{
			outline-color:#000;
			background-color:#000;
			color:#fff;
		}
	}
	&-light{
		&:not(.#{$block}-hollow){
			//don't make the hover text white on hover & active states of hollow buttons
			&:hover,&:active,&:focus{
				color:#fff;
			}
		}
		@each $color,$pair in $colorPairs-button{
			&.#{$block}-#{$color}{
				&:hover,&:active,&:focus{
					color:#fff;
				}
			}
		}
		&.#{$block}-hollow{
			color:#fff;
			&:link,&:visited{
				color:#fff;
			}
			@each $color,$pair in $colorPairs-button{
				&-#{$color}{
					color:#fff;
					&:link,&:visited{
						color:#fff;
					}
					&:hover,&:active,&:focus{
						color:nth($pair,2);
					}
				}
			}
		}
		&.#{$block}-opaque{
			outline-color:#fff;
			background-color:#000;
			background-color:rgba(250,250,250,0.5);
			color:#000;
			&:link,&:visited{
				outline-color:#fff;
				background-color:#000;
				background-color:rgba(250,250,250,0.5);
				color:#000;
			}
			&:hover,&:active,&:focus{
				outline-color:#fff;
				background-color:#fff;
				color:#000;
			}
		}
	}
	&-wide{
		width:100%;
		min-width:auto;
	}
	@media (min-width:1200px){
		padding:calc-toRem(10) calc-toRem(62);
		font-size:calc-toRem(18);
		&-wide{
			&-lg{
				width:100%;
				min-width:auto;
			}
		}
		&-bar{
			position:relative;
			&::after{
				height:calc-toRem(5);
			}
		}
	}
	@media (min-width:992px) and (max-width:1199px){
		&-wide{
			&-md{
				width:100%;
				min-width:auto;
			}
		}
	}
	@media (min-width:768px) and (max-width:991px){
		padding:calc-toRem(10) calc-toRem(67);
		font-size:calc-toRem(calc-ratioLgMd(20));
		&-wide{
			&-sm{
				width:100%;
				min-width:auto;
			}
		}
	}
	@media (max-width:767px){
		padding:calc-toRem(10) calc-toRem(47);
		font-size:calc-toRem(18);
		&-wide{
			&-xs{
				width:100%;
				min-width:auto;
			}
		}
		&-bar{
			position:relative;
			&::after{
				height:calc-toRem(5);
			}
		}
	}
}
