@font-face {
	font-family: 'Champion Middleweight';
	src:url('https://www.purdue.edu/purdue/fonts/C77BA6A4AFC66A1E8.woff2') format('woff2'),
		url('https://www.purdue.edu/purdue/fonts/C77BA6A4AFC66A1E8.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
