@font-face {
	font-family: 'Champion Featherweight';
	src:url('https://www.purdue.edu/purdue/fonts/7BDEF0437B0409127.woff2') format('woff2'),
		url('https://www.purdue.edu/purdue/fonts/7BDEF0437B0409127.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Champion-HTF-Featherweight';
	src:url('https://www.purdue.edu/purdue/fonts/7BDEF0437B0409127.woff2') format('woff2'),
		url('https://www.purdue.edu/purdue/fonts/7BDEF0437B0409127.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
