@font-face {
	font-family: 'Champion Heavyweight';
	src:url('https://www.purdue.edu/purdue/fonts/513DCFF5E1F802522.woff2') format('woff2'),
		url('https://www.purdue.edu/purdue/fonts/513DCFF5E1F802522.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
