@font-face {
	font-family: 'Champion Bantamweight';
	src:url('https://www.purdue.edu/purdue/fonts/014DDFE5073BED9A0.woff2') format('woff2'),
		url('https://www.purdue.edu/purdue/fonts/014DDFE5073BED9A0.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
