@font-face {
	font-family: 'Champion Welterweight';
	src:url('https://www.purdue.edu/purdue/fonts/E4DB780C093CE14E3.woff2') format('woff2'),
		url('https://www.purdue.edu/purdue/fonts/E4DB780C093CE14E3.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Champion-HTF-Welterweight';
	src:url('https://www.purdue.edu/purdue/fonts/E4DB780C093CE14E3.woff2') format('woff2'),
		url('https://www.purdue.edu/purdue/fonts/E4DB780C093CE14E3.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
