//not currently being used/imported

.heading {
    &-1 {
        @include h1;
    }
    &-2 {
        @include h2;
    }
    &-3 {
        @include h3;
    }
    &-4 {
        @include h4;
    }
    &-5 {
        @include h5;
    }
    &-6 {
        @include h6;
    }
}
