blockquote, .quote {
    padding: 0;
    border: 0;
    font-size: unset;
    margin: 1rem 0;
    padding-left: 2rem;
    position: relative; 

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: calc-toRem(8);
        height: 100%;
        left: 0;
        top: 0;
        background: $color-campusGold;
    }
}

.quote {
    &-mark {
        padding-left: 4rem;

        &::before {
            width: auto;
            height: auto;
            background: none;
            display: block;
            width: 3rem;
            height: 3rem;
            background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 50 50' xml:space='preserve'><path style='fill:"+$color-campusGold+";stroke:rgba(0,0,0,0);' d='M14.8604,26.5957h7.6001v20.5205h-19V28.3057l9.1201-25.27h9.8799L14.8604,26.5957z M38.9912,26.5957h7.6006v20.5205h-19.001V28.3057l9.1201-25.27h9.8809L38.9912,26.5957z'/></svg>");
            background-size: cover;
        }
    }

    &__content {
        display: block;
        padding: 0;
        margin: 0;
        font-family: $font-archivo-narrow;
        font-weight: bold;
        font-size: calc-toRem(24);
        color: $color-gray90;
        line-height: 1.25;
    }

    &__source {
        display: block;
        padding: 0;
        padding-top: .5rem;
        font-family: $font-archivo-narrow;
        font-weight: bold;
        font-size: calc-toRem(18);
        color: $color-headlineGold;
    }
}
@media ( min-width: 37.5em ) {
    blockquote, .quote {
        padding-left: 6rem;

        &::before {
            height: 110%;
            left: 4rem;
            top: -5%;
        }
    }

    .quote {
        &-mark {
            &::before {
                height: 3rem;
                left: 2rem;
                top: 0;
            }
        }
    }
}
