.quote {
    margin: 1em 0;
    padding-left: 2em;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: calc-toEm(8);
        height: 100%;
        left: 0;
        top: 0;
        background: $color-campusGold;
    }

    &-mark {
        padding-left: 4em;

        &::before {
            content: '“';
            color: $color-campusGold;
            font-size: calc-toEm(160);
            font-family: $font-archivo-narrow;
            background: none;
            top: .28em;
            left: 0;
            width: auto;
            height: auto;
        }
    }

    &__content {
        display: block;
        padding: 0;
        margin: 0;
        font-family: $font-archivo-narrow;
        font-weight: bold;
        font-size: calc-toEm(24);
        color: $color-gray90;
    }

    &__source {
        display: block;
        padding: 0;
        padding-top: .5em;
        font-family: $font-archivo-narrow;
        font-weight: bold;
        font-size: calc-toEm(18);
        color: $color-headlineGold;
    }
}
@media ( min-width: 600px ) {
    .quote {
        padding-left: 6em;

        &::before {
            left: 4em;
            height: 110%;
            top: -5%;
        }

        &-mark {
            padding-left: 6em;

            &::before {
                left: .22em;
                top: .28em;
            }
        }
    }
}
