<!DOCTYPE html>
<html lang="en">
	<head>
		@@include('../modules/_head.html',{
			"title":"College Home Page Template",
			"description":"This is an example of v1.5 of the college page template.",
			"author":"Place your office here.",
			"css":"college",
			"version":"1.5.1"
		})
	</head>
	<body>
		@@include('../modules/_header.html',{
			"siteName":"Organization Name Here",
			"siteTagline":"Site Tagline Here"
		})
		@@include('../modules/_navigation-main.html')
		<main id="main" class="content collegeContent">
			<div class="container">
				<div class="row grid">
					@@include('../modules/_content-college-mainContent.html')
					@@include('../modules/_content-college-tiles-news-2.html')
				</div>
			</div>
		</main>
		@@include('../modules/_footer.html')
	</body>
</html>