<!DOCTYPE html>
<html lang="en">
	<head>
		@@include('../modules/head/_all.html',{
			"title":"Department/Office Home Page Template",
			"description":"This is an example of v1.5 of the department/office home page template.",
			"author":"Place your office here.",
			"css":"deptOffice/deptOffice-1.5.1"
		})
	</head>
	<body>
		@@include('../modules/_header.html',{
			"siteName":"Organization Name Here",
			"siteTagline":"Site Tagline Here"
		})
		@@include('../modules/navigation/_main.html')
		@@include('../modules/content-deptOffice/_all.html',{
			"type":"tabs"
		})
		@@include('../modules/_footer.html')
	</body>
</html>