<!DOCTYPE html>
<html lang="en">
	<head>
		@@include('../modules/_head.html',{
			"title":"Events Page Template",
			"description":"This is an example of v1.5 of the events page template.",
			"author":"Place your office here.",
			"css":"events",
			"version":"1.5.1"
		})
	</head>
	<body>
		@@include('../modules/_header.html',{
			"siteName":"Organization Name Here",
			"siteTagline":"Site Tagline Here"
		})
		@@include('../modules/_navigation-main.html')
		@@include('../modules/_content-events.html',{
			"header": "Upcoming Events"
		})
		@@include('../modules/_footer.html')
	</body>
</html>