$color-campusGold:#c28e0e;
$color-headlineGold:#98700d;
$color-coalGray:#4d4038;
$color-moonDustGray:#baa892;
$color-everTrueBlue:#5b6870;
$color-slayterSkyBlue:#6e99b4;
$color-ameliaSkyBlue:#a3d6d7;
$color-landGrantGreen:#085c11;
$color-rossAdeGreen:#849e2a;
$color-celeryBogGreen:#c3be0b;
$color-springFestGreen:#e9e45b;
$color-oakenBucketBrown:#6b4536;
$color-bellTowerBrick:#b46012;
$color-mackeyOrange:#ff9b1a;
$color-yellowWalk:#ffd100;
$color-fountainRunTeal:#29a592;
$color-pappysPurple:#ad1f65;
$color-gray90:#2e2e2e;
$color-gray70:#707070;
$color-gray40:#aaaaaa;
$color-gray15:#dedede;

//new colors
$boiler-gold:#cfb991;
$aged-gold:#8e6f3e;
$rush-gold:#daaa00;
$field-gold:#ddb945;
$dust-gold:#ebd99f;
$steel-gray:#555960;
$cool-gray:#6f727b;
$steam-gray:#c4bfc0;
$railway-gray:#9d9795;

$colorPairs-accessible:(
	campusGold:($color-campusGold,#000),
	headlineGold:($color-headlineGold,#fff),
	coalGray:($color-coalGray,#fff),
	moonDustGray:($color-moonDustGray,#000),
	everTrueBlue:($color-everTrueBlue,#fff),
	slayterSkyBlue:($color-slayterSkyBlue,#000),
	ameliaSkyBlue:($color-ameliaSkyBlue,#000),
	landGrantGreen:($color-landGrantGreen,#fff),
	rossAdeGreen:($color-rossAdeGreen,#000),
	celeryBogGreen:($color-celeryBogGreen,#000),
	springFestGreen:($color-springFestGreen,#000),
	oakenBucketBrown:($color-oakenBucketBrown,#fff),
	bellTowerBrick:($color-bellTowerBrick,#fff),
	mackeyOrange:($color-mackeyOrange,#000),
	yellowWalk:($color-yellowWalk,#000),
	fountainRunTeal:($color-fountainRunTeal,#000),
	pappysPurple:($color-pappysPurple,#fff)
);

$colorPairs-accordion:(
	campusGold:($color-campusGold,#000),
	black:(#000,#fff),
	everTrueBlue:($color-everTrueBlue,#fff),
	gray40:($color-gray40,#000),
	gray70:($color-gray70,#fff)
);

$colorPairs-button:(
	/*[color name]:
	(
		[at rest background color],
		[at rest text color],
		[hover/focus background color],
		[hover/focus text color],
		[icon background color],
		[at rest icon color],
		[hover/focus icon color],
	)*/
	gray70:(#000,#fff,#000,$aged-gold, $boiler-gold, #000, #000),
	campusGold:($aged-gold,#fff,$aged-gold,#000,#000,#fff,$aged-gold),
	campusGold-inverse:($boiler-gold,#000,$aged-gold,#000),
	black:(#000,$boiler-gold,#000,$aged-gold,$boiler-gold,#000,#000),
	gray40:($cool-gray,#fff,$cool-gray,#000)
);

//functions defined by WCAG: https://www.w3.org/TR/2008/REC-WCAG20-20081211/#relativeluminancedef
@function color-get-normalized($value){
	$sRGB: $value/255;
	@if($value/255 <= 0.03928){
		@return ($sRGB/12.92);
	}
	@else{
		@return (math-pow(($sRGB+0.055)/1.055,2.4));
	}
}
@function color-get-relativeLuminace($color){
	@return (0.2126 * color-get-normalized(red($color)) + 0.7152 * color-get-normalized(green($color)) + 0.0722 * color-get-normalized(blue($color)));
}
//function defined by WCAG: https://www.w3.org/TR/2008/REC-WCAG20-20081211/#contrast-ratiodef
@function color-get-contrast($color1,$color2){
	$luminance-color1: color-get-relativeLuminace($color1);
	$luminance-color2: color-get-relativeLuminace($color2);
	@if(lightness($color1) > lightness($color2)){
		@return (($luminance-color1 + 0.05) / ($luminance-color2 + 0.05));
	}
	@else{
		@return (($luminance-color2 + 0.05) / ($luminance-color1 + 0.05));
	}
}
@function color-get-blackOrWhite($color){
	$color-contrast-white: color-get-contrast(#fff,$color);
	$color-contrast-black: color-get-contrast(#000,$color);
	@if($color-contrast-white > $color-contrast-black)
	{
		@return(#fff);
	}
	@else
	{
		@return(#000);
	}
}
