$font-arial:"Arial","Helvetica Neue","Helvetica",sans-serif;
$font-arial-narrow:"Arial Narrow","Arial",sans-serif;
$font-archivo-narrow:"Archivo Narrow","Arial Narrow","Arial",sans-serif;
$font-archivo-black:"Archivo Black","Arial Black","Arial Bold","Gadget",sans-serif;
$font-champion-bantam:"Champion Bantamweight",$font-archivo-narrow;
$font-champion-feather:"Champion Featherweight",$font-archivo-narrow;
$font-champion-light:"Champion Lightweight",$font-archivo-narrow;
$font-champion-welter:"Champion Welterweight",$font-archivo-black;
$font-champion-middle:"Champion Middleweight",$font-archivo-black;
$font-champion-heavy:"Champion Heavyweight",$font-archivo-black;
$font-fontAwesome:"FontAwesome";
$font-helvetica:"Helvetica Neue","Helvetica","Arial",sans-serif;
