<!doctype html>
<html lang="en">
  <head>

    <!-- general meta data Here -->
    <title>Audience Page Template</title>
    <meta content="This is an example of v2.0.0 of the audience page template." name="description" />
    <meta content="Marketing and Media" name="author" />
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://www.purdue.edu/purdue/images/favicon.ico" rel="shortcut icon" />
    <link href="https://www.purdue.edu/purdue/images/icon-iphone.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="https://www.purdue.edu/purdue/images/icon-ipad.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="https://www.purdue.edu/purdue/images/icon-iphone-retina.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="https://www.purdue.edu/purdue/images/icon-ipad-retina.png" rel="apple-touch-icon" sizes="152x152" />
    <link rel="stylesheet" type="text/css" href="https://www.purdue.edu/purdue/fonts/champion-all.css" />
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Archivo+Black" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../styles/mm/templates/content-audience.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <no-script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </no-script>
  </head>
  <body>
    <header class="header container">
      <section class="header__goldBar container">
        <div class="header__goldBar--inner">
          <button aria-haspopup="true" class="header__goldBar--moButton" aria-expanded="false">
            <i class="fas fa-bars"></i>&nbsp;
            Quick Links
          </button>
          <section class="header__goldBar--menus">
            <nav class="header__goldBar__findInfoFor">
              <button aria-haspopup="true" aria-expanded="false">
                Find Info For
                <span>&#9660;</span>
              </button>
              <span>Find Info For</span>
              <ul role="menu" id="findInfoFor">
                <li role="none"><a role="menuitem" href="#">Academics</a></li>
                <li role="none"><a role="menuitem" href="#">Admissions</a></li>
                <li role="none"><a role="menuitem" href="#">Current Students</a></li>
                <li role="none"><a role="menuitem" href="#">Athletics</a></li>
                <li role="none"><a role="menuitem" href="#">About</a></li>
                <li role="none"><a role="menuitem" href="#">Careers</a></li>
                <li role="none"><a role="menuitem" href="#">Prospective Students</a></li>
                <li role="none"><a role="menuitem" href="#">Research and Partnerships</a></li>
                <li role="none"><a role="menuitem" href="#">Entrepreneurship and Commercialization</a></li>
              </ul>
            </nav>
            <nav class="header__goldBar__quickLinks">
              <span>Quick Links</span>
              <ul role="menu">
                <li role="none"><a role="menuitem" href="#">Apply</a></li>
                <li role="none"><a role="menuitem" href="#">News</a></li>
                <li role="none"><a role="menuitem" href="#">President</a></li>
                <li role="none"><a role="menuitem" href="#">Shop</a></li>
                <li role="none"><a role="menuitem" href="#">Visit</a></li>
                <li role="none"><a role="menuitem" href="#">Give</a></li>
                <li role="none"><a role="menuitem" href="#">Emergency</a></li>
              </ul>
            </nav>
          </section>
          <a class="header__goldBar__search" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i></a>
          <section id="searchDropdown" class='header__goldBar__search--dropdown'>
            <div class='header__goldBar__search--container'>
              <div class="form-group">
                <script>
                  (function() {
                    var cx = '017690826183710227054:mjxnqnpskjk';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                  })();
                </script>
                <div id="cse-search-form">
                  <div class="gsc-control-searchbox-only gsc-control-searchbox-only-en" dir="ltr">
                    <form class="gsc-search-box gsc-search-box-tools" accept-charset="utf-8">
                      <table class="gsc-search-box" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td class="gsc-input">
                              <div class="gsc-input-box" id="gsc-iw-id1">
                                <table style="width: 100%; padding: 0px;" id="gs_id50" class="gstl_50 gsc-input" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td id="gs_tti50" class="gsib_a">
                                        <input autocomplete="off" type="text" size="10" class="gsc-input" name="search" title="search" style="width: 100%; padding: 0px; border: medium none; margin: 0px; height: auto; background: rgb(255, 255, 255) url(&quot;https://www.google.com/cse/static/images/1x/googlelogo_lightgrey_46x16dp.png&quot;) no-repeat scroll left center; text-indent: 48px; outline: currentcolor none medium;" id="gsc-i-id1" placeholder="Custom Search" dir="ltr" spellcheck="false">
                                      </td>
                                      <td class="gsib_b">
                                        <div class="gsst_b" id="gs_st50" dir="ltr">
                                          <a class="gsst_a" href="javascript:void(0)" style="display: none;" title="Clear search box" role="button">
                                            <span class="gscb_a" id="gs_cb50" aria-hidden="true">×</span>
                                          </a>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                            <td class="gsc-search-button">
                              <button class="gsc-search-button gsc-search-button-v2">
                                <svg width="13" height="13" viewBox="0 0 13 13">
                                  <title>search</title>
                                  <path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path>
                                </svg>
                              </button>
                            </td>
                            <td class="gsc-clear-button">
                              <div class="gsc-clear-button" title="clear results">&nbsp;</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
      <section class="header__signature container">
        <section class="header__signature--inner">
          <a class="header__signature--logo" id="purdueLogo" href="#" aria-label="Purdue Logo">
            <object data="https://www.purdue.edu/purdue/images/logo.svg" tabindex='-1' type="image/svg+xml" aria-labelledby="purdueLogo"></object>
          </a>
          <article class="header__signature--siteName">
            <a id="siteName" href="#">Audience Template</a>
            <div id="siteTagline">
              <a href="https://www.purdue.edu/brand/applications/web-templates/index.php">Purdue Web Templates</a>
            </div>
          </article>
        </section>
      </section>
      <nav class="header__mainNav container">
        <button id="mainNavMo" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i>
          Menu
        </button>
        <section class="header__mainNav--main">
          <ul role='menubar' aria-label="Main Navigation">
            <li role="none"><a role='menuitem' href="#">Home</a></li>
            <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="#">About Us <span>&#9660;</span></a>
              <ul role='menu' class="header__mainNav--dropdownOuter">
                <li role="none"><a role='menuitem' href="#">Services</a></li>
                <li role="none"><a role='menuitem' href="#">Portfolio</a></li>
                <li role="none">
                  <a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button--inner dropdown-button" href="#">Resources test long title <span>&#9656;</span></a>
                  <ul role='menu' class="header__mainNav--dropdownInner">
                    <li role="none"><a role='menuitem' href="#">Services</a></li>
                    <li role="none"><a role='menuitem' href="#">Portfolio</a></li>
                    <li role="none"><a role='menuitem' href="#">Resources</a></li>
                  </ul>
                </li>
                <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button--inner dropdown-button" href="#">Contact <span>&#9656;</span></a>
                  <ul role='menu' class="header__mainNav--dropdownInner">
                    <li role="none"><a role='menuitem' href="#">Services</a></li>
                    <li role="none"><a role='menuitem' href="#">Portfolio</a></li>
                    <li role="none"><a role='menuitem' href="#">Resources</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="#">Services <span>&#9660;</span></a>
              <ul role='menu' class="header__mainNav--dropdownOuter">
                <li role="none"><a role='menuitem' href="#">Services</a></li>
                <li role="none"><a role='menuitem' href="#">Portfolio</a></li>
                <li role="none"><a role='menuitem' href="#">Resources test long title</a></li>
                <li role="none">
                  <a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button--inner dropdown-button" href="#">Contact 2 <span>&#9656;</span></a>
                  <ul role='menu' class="header__mainNav--dropdownInner">
                    <li role="none"><a role='menuitem' href="#">Services</a></li>
                    <li role="none"><a role='menuitem' href="#">Portfolio</a></li>
                    <li role="none"><a role='menuitem' href="#">Resources</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li role="none"><a role='menuitem' href="#">Portfolio</a></li>
            <li role="none"><a role='menuitem' href="#">Resources</a></li>
            <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="#">Contact <span>&#9660;</span></a>
              <ul role='menu' class="header__mainNav--dropdownOuter">
                <li role="none"><a role='menuitem' href="#">Services</a></li>
                <li role="none"><a role='menuitem' href="#">Portfolio</a></li>
                <li role="none"><a role='menuitem' href="#">Resources</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </header>
    <main id='audienceTemplate'>
      <style type="text/css">
        @media (min-width:1200px) {
          .container--bg-shade {
            background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-lg.jpg");
          }
        }
        @media (min-width:992px) and (max-width:1199px) {
          .container--bg-shade {
            background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-md.jpg");
          }
        }
        @media (min-width:768px) and (max-width:991px) {
          .container--bg-shade {
            background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-sm.jpg");
          }
        }
        @media (max-width:767px) {
          .container--bg-shade {
            background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_intro-xs.jpg");
          }
        }
      </style>
      <section aria-labelledby="Intro" class="container container--audience-row container--bg-shade">
        <article class="row row__intro">
          <i class="fa fa-laptop" aria-hidden="true"></i>
          <h1>Lorem<span>ipsum dolor</span></h1>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ullam deleniti distinctio nam quam natus harum similique doloribus. Cumque quisquam iure a laborum quaerat laboriosam iusto illo cupiditate qui error.</p>
        </article>
      </section>
      <section aria-labelledby="Featured Links" class="container container--audience-row container--bg-white">
        <article class="row row__feature-links">
          <a href="#" class="row__feature-links__button row__feature-links__button--mackeyOrange">
            <i class="fa fa-flask" aria-hidden="true"></i>
            Lorem ipsum dolor sit amet
          </a>
          <a href="#" class="row__feature-links__button row__feature-links__button--pappysPurple">
            <i class="fa fa-flask" aria-hidden="true"></i>
            Lorem ipsum dolor sit amet
          </a>
          <a href="#" class="row__feature-links__button row__feature-links__button--rossAdeGreen">
            <i class="fa fa-flask" aria-hidden="true"></i>
            Lorem ipsum dolor sit amet
          </a>
        </article>
      </section>
      <section aria-labelledby="Links" class="container container--audience-row container--bg-darkGray">
        <article class="row row__links">
          <section class="row__links__column">
            <i class="fa fa-flask" aria-hidden="true"></i>
            <h2>Lorem Ipsum</h2>
            <ul role="list">
              <li role="listitem"><a href="#">Lorem ipsum dolor</a></li>
              <li role="listitem"><a href="#">Sit amet consectetur</a></li>
              <li role="listitem"><a href="#">Adipisicing elit</a></li>
              <li role="listitem"><a href="#">Nostrum impedit minus consequatur</a></li>
            </ul>
          </section>
          <section class="row__links__column">
            <i class="fa fa-flask" aria-hidden="true"></i>
            <h2>Lorem Ipsum</h2>
            <ul role="list">
              <li role="listitem"><a href="#">Lorem ipsum dolor</a></li>
              <li role="listitem"><a href="#">Sit amet consectetur</a></li>
              <li role="listitem"><a href="#">Adipisicing elit</a></li>
              <li role="listitem"><a href="#">Nostrum impedit minus consequatur</a></li>
            </ul>
          </section>
          <section class="row__links__column">
            <i class="fa fa-flask" aria-hidden="true"></i>
            <h2>Lorem Ipsum</h2>
            <ul role="list">
              <li role="listitem"><a href="#">Lorem ipsum dolor</a></li>
              <li role="listitem"><a href="#">Sit amet consectetur</a></li>
              <li role="listitem"><a href="#">Adipisicing elit</a></li>
              <li role="listitem"><a href="#">Nostrum impedit minus consequatur</a></li>
            </ul>
          </section>
          <section class="row__links__column">
            <i class="fa fa-flask" aria-hidden="true"></i>
            <h2>Lorem Ipsum</h2>
            <ul role="list">
              <li role="listitem"><a href="#">Lorem ipsum dolor</a></li>
              <li role="listitem"><a href="#">Sit amet consectetur</a></li>
              <li role="listitem"><a href="#">Adipisicing elit</a></li>
              <li role="listitem"><a href="#">Nostrum impedit minus consequatur</a></li>
            </ul>
          </section>
        </article>
      </section>
      <style type="text/css">
        @media (min-width:1200px) {
          .container--bg-large-photo {
            background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_large-photo-lg.jpg");
          }
        }
        @media (min-width:992px) and (max-width:1199px) {
          .container--bg-large-photo {
            background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_large-photo-md.jpg");
          }
        }
        @media (min-width:767px) and (max-width:991px) {
          .container--bg-large-photo {
            background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_large-photo-sm.jpg");
          }
        }
        @media (max-width:768px) {
          .container--bg-large-photo {
            background-image: url("https://www.purdue.edu/brand/images/web-templates/placeholders/audience_large-photo-xs.jpg");
          }
        }
      </style>
      <section aria-labelledby="Large Photo" class="container container--audience-row container--bg-large-photo">
        <article class="row row__large-photo">
          <p>24 nasa astronaut alums</p>
        </article>
      </section>
      <section aria-labelledby="MultiImage" class="container container--audience-row container--bg-black">
        <article class="row row__multiImage">
          <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_multiple-photos-01.png" alt="more than 200 majors">
          <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_multiple-photos-02.jpg" alt="students studying">
          <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_multiple-photos-03.png" alt="top 5 public university in the United States according to the Wall Street Journal/Time Higher Education">
          <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_multiple-photos-04.jpg" alt="students discussing with professor">
        </article>
      </section>
      <section aria-labelledby="Story" class="container container--audience-row container--bg-white">
        <article class="row row__story">
          <img src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_story-01.jpg" alt="students smiling after a color run">
          <section class="row row__story__content">
            <h2>Lorem Ipsum dolor</h2>
            <p>Sit necessitatibus voluptas explicabo sed, at impedit? Repudiandae recusandae veritatis id quam consectetur, vel natus aperiam quibusdam obcaecati qui pariatur illo, et sunt quaerat. Ex eius deserunt distinctio fuga itaque!</p>
            <p>Sit necessitatibus voluptas explicabo sed, at impedit? Repudiandae recusandae veritatis id quam consectetur, vel natus aperiam quibusdam obcaecati qui pariatur illo, et sunt quaerat. Ex eius deserunt distinctio fuga itaque!</p>
            <button href="#" class="button button-hollow" target="_blank">Button</button>
          </section>
        </article>
      </section>
      <section aria-labelledby="Events" class="container container--audience-row container--bg-events">
        <article class="row row__events">
          <h2>Upcoming Events</h2>
          <section class="row__events__cards">
            <div class="row__events__card">
              <p class="event-date">01</p>
              <p class="event-month">July</p>
              <a href="#" class="event-content">
                <p>Building Purdue: 150 Years of the West Lafayette Campus</p>
                <p>10:00 A.M. - 4:30 P.M. | ASC</p>
              </a>
            </div>
            <div class="row__events__card">
              <p class="event-date">02</p>
              <p class="event-month">July</p>
              <a href="#" class="event-content">
                <p>HTM Colloquium on Tourism, Health, and the Quality of Life</p>
                <p>3:00 P.M. - 5:00 P.M. | MARRIOT HALL, ROOM 237</p>
              </a>
            </div>
          </section>
          <button class="button button-opaque button-light">See All Events</button>
        </article>
      </section>
      <section aria-labelledby="News" class="container container--audience-row container--bg-events">
        <article class="row row__events">
          <h2>Recent News</h2>
          <section class="row__events__cards">
            <div class="row__events__card">
              <p class="event-date">01</p>
              <p class="event-month">July</p>
              <a href="#" class="event-content">
                <p>Interdisciplinary research pushes science in new directions</p>
                <p class="event-content--news">A completely new approach to discovering pharmaceutical biologics to fight infectious diseases, new therapies for autism, and exploring a newly discovered intermediate between classical and quantum computing are the latest interdisciplinary projects underway at Purdue University's Discovery Park. </p>
              </a>
            </div>
            <div class="row__events__card">
              <p class="event-date">02</p>
              <p class="event-month">July</p>
              <a href="#" class="event-content">
                <p>Bacteria get sick, too: Purdue joins international team developing alternatives to antibiotics for global livestock production</p>
                <p class="event-content--news">To slow down the worldwide development of antibiotic-resistant bacteria, Purdue University professors Paul Ebner, animal sciences, and Nicole Widmar, agricultural economics, have partnered with professors Zafar Hayat and Shafiq ur Rehman from the University of Veterinary and Animal Sciences (UVAS) and University of Punjab, respectively, both in Lahore, Pakistan, to find novel, effective, and affordable alternatives to using traditional antibiotics in Pakistan’s growing poultry industry.</p>
              </a>
            </div>
          </section>
          <button class="button button-opaque button-light">See All News</button>
        </article>
      </section>
      <section aria-labelledby="Tint" class="container container--audience-row container--bg-lightGray">
        <article class="row row__tint">
          <div class="row__tint__header">
            <h2>@LifeAtPurdue on Instagram (Tint Feed)</h2>
            <button class="button" href="https://instagram.com/lifeatpurdue/" target="_blank" rel="noopener">Follow</button>
          </div>
          <div class="row__tint__photos">
            <script async src="https://cdn.hypemarks.com/pages/a5b5e5.js"></script>
            <div class="tintup" data-id="mm_purdue" data-columns="" data-expand="true" data-count="6" data-paginate="true" data-personalization-id="882168" style="height:500px;width:100%;"></div>
          </div>
        </article>
      </section>
      <section aria-labelledby="Twitter" class="container container--audience-row container--bg-twitter">
        <article class="row row__twitter">
          <section class="row row__twitter__contents">
            <div class="row row__twitter__content">
              <div class="header">
                <div class="username">
                  Purdue University <span>@LifeAtPurdue</span>
                </div>
                <div class="time">
                  21h
                </div>
              </div>
              <div class="retweet">
                <i class="fa fa-retweet"></i> Retweeted from <a href="https://twitter.com/PurdueToday" target="_blank" rel="noopener">@PurdueToday</a>
              </div>
              <div class="text">
                High school students can earn college credit in one week through a new summer program. <a href="https://t.co/C51EBp7t4L">https://t.co/C51EBp7t4L</a>
              </div>
            </div>
            <div class="row row__twitter__content">
              <div class="header">
                <div class="username">
                  Purdue University <span>@LifeAtPurdue</span>
                </div>
                <div class="time">
                  20m
                </div>
              </div>
              <div class="text">
                Study hard, Boilers! Finals are just around the corner, but we know you've got this.
              </div>
            </div>
          </section>
          <button class="button" target="_blank" rel="noopener">Follow @LIFEATPURDUE on Twitter</button>
        </article>
      </section>
      <section aria-labelledby="Instagram" class="container container--audience-row container--bg-lightGray">
        <article class="row row__instagram">
          <div class="row__instagram__header">
            <h2>@LifeAtPurdue on Instagram (Manual Feed)</h2>
            <button class="button" href="https://instagram.com/lifeatpurdue/" target="_blank" rel="noopener">Follow</button>
          </div>
          <div class="row__instagram__photos">
            <a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-01.jpg" /></a>
            <a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-02.jpg" /></a>
            <a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-03.jpg" /></a>
            <a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-04.jpg" /></a>
            <a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-05.jpg" /></a>
            <a href="#"><img alt="descriptive alternate text here" src="https://www.purdue.edu/brand/images/web-templates/placeholders/audience_social-instagram-06.jpg" /></a>
          </div>
        </article>
      </section>
    </main>
    <footer class="footer">
      <section class="footer__resources">
        <h2 class="sr-only">Resources</h2>
        <article class="footer__resources__columns">
          <div class="footer__resources--column">
            <h3><button class="accordion__heading accordion__heading--footer" aria-expanded="true" aria-disabled="true" id="accordion1id" aria-controls="sect1">Communication<i aria-hidden="true" class="fa fa-plus"></i><i aria-hidden="true" class="fa fa-minus"></i></button></h3>
            <ul role="list" class="accordion__content--footer" id="sect1" aria-labelledby="accordion1id">
              <li role="listitem"><a href="https://one.purdue.edu">OneCampus Portal</a></li>
              <li role="listitem"><a href="https://mycourses.purdue.edu">Blackboard</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/boilerconnect/">BoilerConnect</a></li>
              <li role="listitem"><a href="http://portal.office.com/">Office 365</a></li>
              <li role="listitem"><a href="https://exchange.purdue.edu">Outlook</a></li>
              <li role="listitem"><a href="https://mypurdue.purdue.edu">myPurdue</a></li>
            </ul>
          </div>
          <div class="footer__resources--column">
            <h3><button class="accordion__heading accordion__heading--footer" aria-expanded="true" aria-disabled="true" id="accordion2id" aria-controls="sect2">Campus<i aria-hidden="true" class="fa fa-plus"></i><i aria-hidden="true" class="fa fa-minus"></i></button></h3>
            <ul role="list" class="accordion__content--footer" id="sect2" aria-labelledby="accordion2id">
              <li role="listitem"><a href="http://www.purdue.edu/purdue/faculty_staff/index.php">Faculty and Staff</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/hr">Human Resources</a></li>
              <li role="listitem"><a href="http://www.purdue.edu/purdue/careers/index.php">Careers</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/purdue/about/colleges_schools.html">Colleges and Schools</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/directory/">Directory</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/campus_map/index.html">Campus Map</a></li>
            </ul>
          </div>
          <div class="footer__resources--column">
            <h3><button class="accordion__heading accordion__heading--footer" aria-expanded="true" aria-disabled="true" id="accordion3id" aria-controls="sect3">Information <i aria-hidden="true" class="fa fa-plus"></i><i aria-hidden="true" class="fa fa-minus"></i></button></h3>
            <ul role="list" class="accordion__content--footer" id="sect3" aria-labelledby="accordion3id">
              <li role="listitem"><a href="http://www.purdue.edu/newsroom/purduetoday/">Purdue Today</a></li>
              <li role="listitem"><a href="https://calendar.purdue.edu/">Calendar</a></li>
              <li role="listitem"><a href="https://www.lib.purdue.edu/">Libraries</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/physicalfacilities/construction/">Construction</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/bursar/tuition/calculator/">Tuition Calculator</a></li>
              <li role="listitem"><a href="http://www.purdue.edu/hr/CHL/">Center for Healthy Living</a></li>
            </ul>
          </div>
          <div class="footer__resources--column">
            <h3><button class="accordion__heading accordion__heading--footer" aria-expanded="true" aria-disabled="true" id="accordion4id" aria-controls="sect4">People <i aria-hidden="true" class="fa fa-plus"></i><i aria-hidden="true" class="fa fa-minus"></i></button></h3>
            <ul role="list" class="accordion__content--footer" id="sect4" aria-labelledby="accordion4id">
              <li role="listitem"><a href="https://www.purdue.edu/hotline/">Speak Up</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/diversity-inclusion/">Diversity and Inclusion</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/ethics/">Ethics and Compliance</a></li>
              <li role="listitem"><a href="https://www.itap.purdue.edu/">Information Technology</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/ehps/police/reports/index.html">Annual Security Report</a></li>
              <li role="listitem"><a href="https://www.purdue.edu/timely-warnings/">Timely Warnings</a></li>
            </ul>
          </div>
          <div class="footer__resources--column">
            <svg class="horizontal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 430 60">
              <defs>
                <style>
                  .e5e7aadc-5f16-4a1f-9bee-7ac7cc0548a9 {
                    font-size: 34px;
                    fill: #c28e0e;
                    font-family: Champion-HTF-Heavyweight, Champion;
                  }
                  .\35 e6c45fa-0108-43f7-b548-1e1a96814671 {
                    letter-spacing: -0.07202em;
                  }
                  .\39 e71bbf6-0e21-4a7d-a0cc-e6ad30fa66f9 {
                    font-size: 25px;
                    fill: #fff;
                    font-family: Champion-HTF-Welterweight, Champion;
                  }
                  .\31 8f2663d-8282-4464-b5ac-99e7316c5f65 {
                    letter-spacing: -0.03297em;
                  }
                  .c6f163a6-5569-448b-add2-d65afd4a376a {
                    letter-spacing: 0.00002em;
                  }
                  .c9ed177b-9c81-40c0-b065-b432c2c1a09b {
                    letter-spacing: -0.01609em;
                  }
                  .ba048e35-0725-48ae-a9a0-57c5ffd9a8ab {
                    opacity: 0.5;
                    font-size: 4px;
                    fill: #aaa;
                    font-family: Arial-BoldMT, Arial;
                    font-weight: 700;
                  }
                </style>
              </defs>
              <title>WE ARE PURDUE. WHAT WE MAKE MOVES THE WORLD FORWARD</title>
              <g id="8b8de98f-bf04-4a6f-909f-a428337b108f" data-name="Mobile - tagline">
                <text class="e5e7aadc-5f16-4a1f-9bee-7ac7cc0548a9" transform="translate(41.31299 30.69971)">WE<tspan class="5e6c45fa-0108-43f7-b548-1e1a96814671" x="71.33154" y="0"> </tspan>
                  <tspan x="78.23242" y="0">ARE PURDUE</tspan>
                </text>
                <text class="9e71bbf6-0e21-4a7d-a0cc-e6ad30fa66f9" transform="translate(4.47949 56.49951)">WHAT WE MAKE MOVES THE WORLD FORWARD</text>
                <text class="ba048e35-0725-48ae-a9a0-57c5ffd9a8ab" transform="translate(425.52637 57.36377)">®</text>
                <image alt="We are Purdue. What we make moves the world forward." class="vertical" src="/purdue/images/templateElements/2015/footer-mottoHorizontal.png" xlink:href="">
              </g>
            </svg> <svg class="vertical" id="a0741d99-434b-4e0a-9090-214634df7ff7" data-name="Desktop - tagline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202 70">
              <defs>
                <style>
                  .\35 8893acf-2edf-4cb9-8a57-2685b8b94fb6 {
                    font-size: 27.5px;
                    fill: #c28e0e;
                    font-family: Champion-HTF-Welterweight, Champion;
                    letter-spacing: 0.00501em;
                  }
                  .b151f682-5d4b-4328-a487-3fb104e72a97 {
                    font-size: 19.4px;
                    font-family: Champion-HTF-Heavyweight, Champion;
                    letter-spacing: 0.00501em;
                  }
                  .b151f682-5d4b-4328-a487-3fb104e72a97,
                  .e95930c7-e89b-470b-891b-ada43b0ad02d {
                    fill: #fff;
                  }
                  .\34 58bc1a9-13f0-4bf2-848b-bf8e2c030393 {
                    letter-spacing: -0.10704em;
                  }
                  .f039571e-80e4-4d20-ac8b-b9d62a790eac {
                    letter-spacing: -0.08288em;
                  }
                  .b9c1f429-083d-4618-91db-d2af71cd5131 {
                    letter-spacing: -0.05507em;
                  }
                  .e95930c7-e89b-470b-891b-ada43b0ad02d {
                    font-size: 20.4px;
                    font-family: Champion-HTF-Lightweight, Champion;
                    letter-spacing: 0.005em;
                  }
                  .\30 310ebae-60bf-4d24-8ae7-a8b1d2269eff {
                    letter-spacing: -0.00594em;
                  }
                  .a55d38de-e848-45d9-8256-f9300bd2fed9 {
                    letter-spacing: -0.03313em;
                  }
                  .\34 a444501-02c1-4b63-bb55-9eb071761353 {
                    letter-spacing: 0.00498em;
                  }
                  .acad75df-e36a-4ac1-81d1-8868c497200b {
                    opacity: 0.5;
                    font-size: 3px;
                    fill: #aaa;
                    font-family: Arial-BoldMT, Arial;
                    font-weight: 700;
                  }
                </style>
              </defs>
              <title>WE ARE PURDUE. WHAT WE MAKE MOVES THE WORLD FORWARD</title>
              <text class="58893acf-2edf-4cb9-8a57-2685b8b94fb6" transform="translate(1.25 24.99951)">WE ARE PURDUE<tspan class="b151f682-5d4b-4328-a487-3fb104e72a97">
                  <tspan x="0" y="21">WHAT WE MAKE</tspan>
                  <tspan class="e95930c7-e89b-470b-891b-ada43b0ad02d">
                    <tspan x="0" y="42.5">MOVES THE WORLD FORWARD</tspan>
                  </tspan>
                </tspan></text>
              <text class="acad75df-e36a-4ac1-81d1-8868c497200b" transform="translate(198.39453 67.14795)">®</text>
              <image alt="We are Purdue. What we make moves the world forward." class="vertical" src="/purdue/images/templateElements/2015/footer-mottoVertical.png" xlink:href="">
            </svg>
            <div>
              <a href="https://www.facebook.com/PurdueUniversity/" rel="noopener" target="_blank"><span class="sr-only">Facebook</span><i aria-hidden="true" class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com/lifeatpurdue" rel="noopener" target="_blank"><span class="sr-only">Twitter</span><i aria-hidden="true" class="fab fa-twitter"></i></a>
              <a href="https://www.youtube.com/user/PurdueUniversity" rel="noopener" target="_blank"><span class="sr-only">YouTube</span><i aria-hidden="true" class="fab fa-youtube"></i></a>
              <a href="https://www.instagram.com/lifeatpurdue/" rel="noopener" target="_blank"><span class="sr-only">Instagram</span><i aria-hidden="true" class="fab fa-instagram"></i></a>
              <a href="https://www.pinterest.com/lifeatpurdue/" rel="noopener" target="_blank"><span class="sr-only">Pinterest</span><i aria-hidden="true" class="fab fa-pinterest"></i></a>
              <a href="https://www.snapchat.com/add/lifeatpurdue" rel="noopener" target="_blank"><span class="sr-only">Snapchat</span><i aria-hidden="true" class="fab fa-snapchat-ghost"></i></a>
              <a href="https://www.linkedin.com/edu/purdue-university-18357" rel="noopener" target="_blank"><span class="sr-only">LinkedIn</span><i aria-hidden="true" class="fab fa-linkedin-in"></i></a>
              <a href="http://purdue.amazon.com/" rel="noopener" target="_blank"><span class="sr-only">Amazon</span><i aria-hidden="true" class="fab fa-amazon"></i></a>
            </div>
          </div>
        </article>
      </section>
      <section class="footer__contact">
        <article class="footer__contact--list">
          <p>Purdue University, 610 Purdue Mall, West Lafayette, IN, 47907, 765-494-4600</p>
          <p><a href="http://www.purdue.edu/purdue/disclaimer.html" target="_blank" rel="noopener">© 2019 Purdue University</a> | <a href="http://www.purdue.edu/purdue/ea_eou_statement.html" target="_blank" rel="noopener">An equal access/equal opportunity university</a> | <a href="http://www.purdue.edu/purdue/about/integrity_statement.html" target="_blank" rel="noopener">Integrity Statement</a> | <a href="https://www.purdue.edu/securepurdue/security-programs/copyright-policies/reporting-alleged-copyright-infringement.php" target="_blank" rel="noopener">Copyright Complaints</a> | <a href="http://www.purdue.edu/brand/" target="_blank" rel="noopener">Brand Toolkit</a> | <a href="https://www.purdue.edu/marketing/" rel="noopener">Maintained by Office of Marketing and Media</a></p>
          <p>Contact <a href="https://www.purdue.edu" rel="noopener">Secure Purdue</a> for accessibility issues with this page | <a href="https://www.purdue.edu/disabilityresources/" rel="noopener">Accessibility Resources</a> | <a href="https://www.purdue.edu/purdue/contact-us" target="_blank" rel="noopener">Contact Us</a></p>
        </article>
      </section>
    </footer>
    <script src="../../../js/mm/templates/main.js"></script>
  </body>
</html>